<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_1/l1_intro.jpeg?raw=true"> </center>

<h2 class = "red"> Lecture 5 </h2>
<h3 class = "blue"> Pandas II</h3>
#### Nenad Svrzikapa
#### Harvard University
#### Python for Data Science
#### CSCI E-29

<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_1/2018_e29_staff.jpeg?raw=true"> </center>

## Section
<p class="grey"> 12:00 pm EST via ZOOM </p>
<hr class="red">
* Next section is led by Kaleigh
* Topic: Pandas Missing Data, Pivoting
* Sections are online only and they are recorded

## Piazza
<p class="grey"> State of the Piazza </p>
<hr class="red">
* Let's help more
* Thank you for everyone who is helping
* Some amazing resources were posted

## Exam and Quiz
<p class="grey"> Quiz next week </p>
<hr class="red">
* 3-4 coding questions, Python, Numpy, Pandas 
* Quiz portion for the exam on Canvas
* Should take about 3-4 hours to complete if you understand the concepts

#### Lecture 5 Imports

In [2]:
import plotly
plotly.offline.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import numpy as np
import pandas as pd

<center><h1 class = "blue"> A useful way to think about Pandas Data Structures </h1></center>

<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_5/images/pandas_structures.jpeg?raw=true"> </center>

<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_5/images/pandas_dims.jpeg?raw=true"> </center>

<center><h1 class = "blue"> The NaN value </h1></center>

In [3]:

my_ser = pd.Series([5,None],index = ["First","Second"])
my_ser

First     5.0
Second    NaN
dtype: float64

The reason we observe float64 here is because float64 is the only numeric column that supports NaN values.  This is the reason int64 gets coerced into float64.  This is done for memory and performance reasons and to keep the column in a numeric format.

<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_5/images/nan_float.jpeg?raw=true"> </center>

<center><h1 class = "blue"> The duplicate index values </h1></center>

In [4]:
#Obviously by default this would not be possible if we create a series from a dictionary
#since dict keys must be unique
dob_ser = pd.Series(["Rama","Adam","Meena","Jane"], index = [1978,1983,1985,1985])
dob_ser

1978     Rama
1983     Adam
1985    Meena
1985     Jane
dtype: object

If you need duplicate index values in a Series, use a list for the Data and Index.  But, be careful.

In [5]:
print (type(dob_ser[1978]))
print (type(dob_ser[1985]))
print (dob_ser[1985])

<class 'str'>
<class 'pandas.core.series.Series'>
1985    Meena
1985     Jane
dtype: object

<center><h1 class = "blue"> A common gotcha with membership and iteration </h1></center>

#### Series Iteration via the __iter_method works over the values of the series

In [6]:
#DOB and Finished College Dates
dob_col_ser = pd.Series([2001,2006,2008,2008], index = [1978,1983,1985,1985])
#THIS PRINTS THE VALUES
for i in dob_col_ser:
    print (i)

2001
2006
2008
2008

#### Series membership via the __contains__ method checks in the index of the series

In [7]:
#Be Careful
2008 in dob_col_ser

False

#### Two ways to check for membership in the values

In [8]:
2008 in dob_col_ser.values

True

In [9]:
2008 in set(dob_col_ser)

True

#### Iterating over index, value tuples

In [10]:
 #This will give us tuples of (index,value)
for i in dob_col_ser.iteritems():
    print(i)

(1978, 2001)
(1983, 2006)
(1985, 2008)
(1985, 2008)

### Updating Pandas Series
<p class="grey"> Updating a Series will work as either UPDATE or APPEND </p>
<hr class="red">
* If the index is not present, we add a new value (APPEND BEHAVIOR)
* If the index is present, we may change the value (UPDATE BEHAVIOR)
* If duplicate indexes values are present all values will be updated

In [11]:
dob_ser = pd.Series(["Rama","Adam","Meena","Jane"], index = [1978,1983,1985,1985])
print (dob_ser)
#wasn't present so we add it
dob_ser[1990] = "Nancy"
dob_ser

1978     Rama
1983     Adam
1985    Meena
1985     Jane
dtype: object

1978     Rama
1983     Adam
1985    Meena
1985     Jane
1990    Nancy
dtype: object

In [12]:
#was present we updated
dob_ser[1978] = "Raj"
dob_ser

1978      Raj
1983     Adam
1985    Meena
1985     Jane
1990    Nancy
dtype: object

In [13]:
dob_ser[1985] = 'Nemanja'
dob_ser

1978        Raj
1983       Adam
1985    Nemanja
1985    Nemanja
1990      Nancy
dtype: object

<center><h1 class = "blue"> The series .update() method </h1></center>
### Returns a series, loses the name of the original series

#### Adding values to a series via append()

In [14]:
#name
dob_ser = pd.Series(["Rama","Adam","Meena","Jane"], index = [1978,1983,1985,1985], name = "DOB")
print (dob_ser)
dob_ser.append(pd.Series({"Alana":1980}))
dob_ser
#Notice that this looses the name of the original series so it's not really a true append
dob_ser2 = dob_ser.append(pd.Series({1980:"Alana"}))
dob_ser2

1978     Rama
1983     Adam
1985    Meena
1985     Jane
Name: DOB, dtype: object

1978     Rama
1983     Adam
1985    Meena
1985     Jane
1980    Alana
dtype: object

<center><h1 class = "blue"> Deleting values from a Series object </h1></center>
### This is NOT common, filtering is preferred.

In [15]:
dob_ser = pd.Series(["Rama","Adam","Meena","Jane"], index = [1978,1983,1985,1985], name = "DOB")
print (dob_ser)
del dob_ser[1983]
dob_ser
del dob_ser[1985]
dob_ser

1978     Rama
1983     Adam
1985    Meena
1985     Jane
Name: DOB, dtype: object

1978    Rama
Name: DOB, dtype: object

In [16]:
#we can create the isin method to create a mask and ~ to reverse the values of the mask
dob_ser = pd.Series(["Rama","Adam","Meena","Jane"], index = [1978,1983,1985,1985], name = "DOB")
print (dob_ser.isin(["Meena",'Jane']))
dob_ser2 = dob_ser[~dob_ser.isin(["Meena",'Jane'])]
dob_ser2

1978    False
1983    False
1985     True
1985     True
Name: DOB, dtype: bool

1978    Rama
1983    Adam
Name: DOB, dtype: object

<center><h1 class = "blue"> Indexing Pandas Series Objects </h1></center>

#### Do we have duplicate index values or not and other index methods

In [17]:
dob_ser = pd.Series(["Rama","Adam","Meena","Jane"], index = [1978,1983,1985,1985], name = "DOB")
dob_ser.index.is_unique

False

<center><h1 class = "blue"> Split, Apply, Combine - Group By </h1></center>

In [18]:
rio = pd.read_csv('athletes.csv')
rio

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze
0,736041664,A Jesus Garcia,ESP,male,10/17/69,1.72,64.0,athletics,0,0,0
1,532037425,A Lam Shin,KOR,female,9/23/86,1.68,56.0,fencing,0,0,0
2,435962603,Aaron Brown,CAN,male,5/27/92,1.98,79.0,athletics,0,0,1
3,521041435,Aaron Cook,MDA,male,1/2/91,1.83,80.0,taekwondo,0,0,0
4,33922579,Aaron Gate,NZL,male,11/26/90,1.81,71.0,cycling,0,0,0
5,173071782,Aaron Royle,AUS,male,1/26/90,1.80,67.0,triathlon,0,0,0
6,266237702,Aaron Russell,USA,male,6/4/93,2.05,98.0,volleyball,0,0,1
7,382571888,Aaron Younger,AUS,male,9/25/91,1.93,100.0,aquatics,0,0,0
8,87689776,Aauri Lorena Bokesa,ESP,female,12/14/88,1.80,62.0,athletics,0,0,0
9,997877719,Ababel Yeshaneh,ETH,female,7/22/91,1.65,54.0,athletics,0,0,0
10,343694681,Abadi Hadis,ETH,male,11/6/97,1.70,63.0,athletics,0,0,0
11,591319906,Abbas Abubakar Abbas,BRN,male,5/17/96,1.75,66.0,athletics,0,0,0
12,258556239,Abbas Qali,IOA,male,10/11/92,NaN,NaN,aquatics,0,0,0
13,376068084,Abbey D'Agostino,USA,female,5/25/92,1.61,49.0,athletics,0,0,0
14,162792594,Abbey Weitzeil,USA,female,12/3/96,1.78,68.0,aquatics,1,1,0
15,521036704,Abbie Brown,GBR,female,4/10/96,1.76,71.0,rugby sevens,0,0,0
16,149397772,Abbos Rakhmonov,UZB,male,7/7/98,1.61,57.0,wrestling,0,0,0
17,256673338,Abbubaker Mobara,RSA,male,2/18/94,1.75,64.0,football,0,0,0
18,337369662,Abby Erceg,NZL,female,11/20/89,1.75,68.0,football,0,0,0
19,334169879,Abd Elhalim Mohamed Abou,EGY,male,6/3/89,2.10,88.0,volleyball,0,0,0
20,215053268,Abdalaati Iguider,MAR,male,3/25/87,1.73,57.0,athletics,0,0,0
21,763711985,Abdalelah Haroun,QAT,male,1/1/97,1.85,80.0,athletics,0,0,0
22,924593601,Abdalla Targan,SUD,male,9/28/96,1.77,65.0,athletics,0,0,0
23,578032534,Abdel Aziz Mehelba,EGY,male,12/10/88,1.76,80.0,shooting,0,0,0
24,890222258,Abdelati El Guesse,MAR,male,2/27/93,1.90,72.0,athletics,0,0,0
25,803161695,Abdelaziz Merzougui,ESP,male,8/30/91,1.75,67.0,athletics,0,0,0
26,189931373,Abdelaziz Mohamed Ahmed,SUD,male,10/12/94,1.81,72.0,aquatics,0,0,0
27,677622742,Abdelghani Demmou,ALG,male,1/29/89,1.85,75.0,football,0,0,0
28,349871091,Abdelhafid Benchabla,ALG,male,9/26/86,1.86,NaN,boxing,0,0,0
29,904808208,Abdelhakim Amokrane,ALG,male,5/10/94,1.86,70.0,football,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
11508,499603226,Zoe Buckman,AUS,female,12/21/88,1.68,50.0,athletics,0,0,0
11509,836633838,Zoe Lee,GBR,female,12/15/85,1.76,70.0,rowing,0,1,0
11510,634140075,Zoe Stevenson,NZL,female,6/19/91,1.83,74.0,rowing,0,0,0
11511,343671816,Zoe de Toledo,GBR,female,7/17/87,1.72,58.0,rowing,0,1,0
11512,371106012,Zohar Shikler,ISR,female,7/8/97,1.78,61.0,aquatics,0,0,0
11513,352983859,Zohir Kedache,ALG,male,3/2/86,1.78,NaN,boxing,0,0,0
11514,424586991,Zohra Ez Zahraoui,MAR,female,11/18/83,1.65,NaN,boxing,0,0,0
11515,211176854,Zoi Kontogianni,GRE,female,9/19/97,1.65,47.0,gymnastics,0,0,0
11516,875374176,Zokhid Kenjaev,UZB,male,3/30/92,1.68,61.0,table tennis,0,0,0
11517,495365659,Zoltan Adam Harcsa,HUN,male,11/20/92,1.84,NaN,boxing,0,0,0
11518,672182746,Zoltan Kovago,HUN,male,4/10/79,2.04,132.0,athletics,0,0,0
11519,412827228,Zorana Arunovic,SRB,female,11/22/86,1.68,90.0,shooting,0,0,0
11520,724419150,Zouhair Aouad,BRN,male,4/7/89,1.75,69.0,athletics,0,0,0
11521,281890328,Zoulehia Abzetta Dabonne,CIV,female,12/15/92,1.75,57.0,judo,0,0,0
11522,230998458,Zoya Ananchenko,KAZ,female,9/5/96,1.65,67.0,canoe,0,0,0
11523,778588793,Zsanett Nemeth,HUN,female,1/21/94,1.75,80.0,wrestling,0,0,0
11524,640253635,Zsofia Csonka,HUN,female,9/12/83,1.64,89.0,shooting,0,0,0
11525,999437858,Zsofia Erdelyi,HUN,female,12/10/87,1.64,53.0,athletics,0,0,0
11526,46916465,Zsofia Foldhazi,HUN,female,6/9/93,1.70,54.0,modern pentathlon,0,0,0
11527,738530209,Zsofia Kovacs,HUN,female,2/7/88,1.80,58.0,triathlon,0,0,0
11528,499425013,Zsofia Kovacs,HUN,female,4/6/00,1.58,49.0,gymnastics,0,0,0
11529,862285226,Zsombor Berecz,HUN,male,4/26/86,1.95,95.0,sailing,0,0,0
11530,739315046,Zsuzsanna Jakabos,HUN,female,4/3/89,1.85,70.0,aquatics,0,0,0
11531,600541319,Zurabi Datunashvili,GEO,male,6/18/91,1.83,75.0,wrestling,0,0,0
11532,801825063,Zurabi Iakobishvili,GEO,male,2/4/92,1.71,68.0,wrestling,0,0,0
11533,265605954,Zurian Hechavarria,CUB,female,8/10/95,1.64,58.0,athletics,0,0,0
11534,214461847,Zuzana Hejnova,CZE,female,12/19/86,1.73,63.0,athletics,0,0,0
11535,88361042,di Xiao,CHN,male,5/14/91,1.85,100.0,wrestling,0,0,0
11536,900065925,le Quoc Toan Tran,VIE,male,4/5/89,1.60,56.0,weightlifting,0,0,0
11537,711404576,le Roux Hamman,RSA,male,1/6/92,1.85,70.0,athletics,0,0,0

<h2 class = "yellow"> 1. What's the average height of athletes per country </h2>
<h2 class = "yellow"> 2. What is the maximum weight per sport </h2>

In [19]:
g_nationality = rio.groupby('nationality')
for nation,national_df in g_nationality:
    print (nation)
    print (national_df)

AFG
             id                     name nationality     sex      dob  height  \
51    152408417       Abdul Wahab Zahiri         AFG    male  5/27/92    1.75
5400  103254143            Kamia Yousufi         AFG  female  5/20/96    1.65
7682  289057786  Mohammad Tawfiq Bakhshi         AFG    male  3/11/86    1.81

      weight      sport  gold  silver  bronze
51      68.0  athletics     0       0       0
5400    55.0  athletics     0       0       0
7682    99.0       judo     0       0       0
ALB
             id            name nationality     sex      dob  height  weight  \
1630  345441615    Briken Calja         ALB    male  2/19/90    1.70    69.0
3196  103773001  Evagjelia Veli         ALB  female  7/16/91    1.60    52.0
4488  324317073   Izmir Smajlaj         ALB    male  3/29/93    1.95    86.0
6439  915002256      Luiza Gega         ALB  female  11/5/88    1.59    45.0
8107  539021692   Nikol Merizaj         ALB  female   8/7/98    1.80    65.0
9849  997380920     Sidni Hoxha         ALB    male   6/1/92    1.93    87.0

              sport  gold  silver  bronze
1630  weightlifting     0       0       0
3196  weightlifting     0       0       0
4488      athletics     0       0       0
6439      athletics     0       0       0
8107       aquatics     0       0       0
9849       aquatics     0       0       0
ALG
              id                           name nationality     sex       dob  \
27     677622742              Abdelghani Demmou         ALG    male   1/29/89
28     349871091           Abdelhafid Benchabla         ALG    male   9/26/86
29     904808208            Abdelhakim Amokrane         ALG    male   5/10/94
30      23564778               Abdelkader Chadi         ALG    male  12/12/86
31     133974151               Abdelkadir Salhi         ALG    male   3/19/93
36     512730813            Abdelmalik Lahoulou         ALG    male    5/7/92
38     514096508             Abdelraouf Benguit         ALG    male    4/5/96
39     388896171          Abderrahmane Benamadi         ALG    male    7/3/85
40     285603057          Abderrahmane Mansouri         ALG    male   1/13/95
41     545134894           Abderrahmane Meziane         ALG    male    3/7/94
105    303297765               Adem Boudjemline         ALG    male   2/28/94
467    716391442                  Ali Messaoudi         ALG    male  10/13/95
620    811727068                 Amina Bettiche         ALG  female  12/14/87
622    409262616                    Amina Rouba         ALG  female    1/9/86
626    121680559                 Amine Belferar         ALG    male   2/16/91
912    998460252               Anissa Khelfaoui         ALG  female   8/29/91
1283   375178687               Ayoub Abdellaoui         ALG    male   2/16/93
1303   574430988              Baghdad Bounedjah         ALG    male  11/24/91
1483   583607934                    Bilal Tabti         ALG    male    6/7/93
1568   876174352    Bouchra Fatima Zohra Hirech         ALG  female   8/22/00
1882   300475041                 Chafik Bouaoud         ALG    male   2/12/99
2011    82546289           Chouaib Bouloudinats         ALG    male    1/8/87
2870    45507177               El Hadi Laameche         ALG    male    3/5/90
3281   203217392                 Fahem Hammachi         ALG    male    3/7/92
3292   465963657                Farah Boufadene         ALG  female   3/11/99
3298   591480442                    Farid Chaal         ALG    male    7/3/94
3895   983579784                     Hakim Sadi         ALG    male  11/14/92
3910   614655928                   Hamid Sintes         ALG    male    8/8/80
3917   668979909                   Hamza Bouras         ALG    male  12/16/87
3973   218421111                 Haris Belkebla         ALG    male   1/28/94
...          ...                            ...         ...     ...       ...
5968    16230111                 Larbi Bourrada         ALG    male   5/10/88
6489   893383982                 Lyes Bouyacoub         ALG    male    4/3/83
7366   795596801                 Messala Merbah         ALG    male   7/22/94
7561   392630546                 Miloud Rahmani         ALG    male  12/30/82
7562   923155291                  Miloud Rebiai         ALG    male  12/12/93
7643   597913544  Mohamed Abdeldjalil Bourguieg         ALG    male   8/31/96
7657   464902728                 Mohamed Flissi         ALG    male   2/13/90
7689   690873472           Mohammed Amine Tayeb         ALG    male   9/28/85
7691   955962862             Mohammed Benkablia         ALG    male    2/2/93
7692   268626951           Mohammed Benkhemassa         ALG    male   6/28/93
8377   304396524               Oussama Darfalou         ALG    male   9/29/93
8380   538663975               Oussama Methazem         ALG    male  12/15/93
8382    16385389               Oussama Sahnoune         ALG    male    8/2/92
8814   487277130              Rachid Ait-Atmane         ALG    male    2/4/93
8933   874150353                  Reda Benbaziz         ALG    male    9/5/93
8934   873696755               Redouane Cherifi         ALG    male   2/22/93
9298   334757159                   Ryad Keniche         ALG    male   4/30/93
9373   294737301                   Salim Keddar         ALG    male  11/13/93
9846   873507500                Sid Ali Boudina         ALG    male    5/7/90
9951   245506454               Sofiane Bendebka         ALG    male    8/9/92
9974   504175005                  Sonia Asselah         ALG  female   8/20/91
10006  388952499                Souad Ait Salem         ALG  female    1/6/79
10296  701625147              Taoufik Makhloufi         ALG    male   4/29/88
10303  769863760            Tarek Aziz Benaissa         ALG    male    4/7/91
10945  929418601                   Walid Bidani         ALG    male   6/11/94
11180  557145585                 Yassine Hethat         ALG    male   8/30/91
11303  897401460                Youcef Reguigui         ALG    male    1/9/90
11442  636555666                 Zakaria Draoui         ALG    male   2/20/94
11444   71202021              Zakarya Haddouche         ALG    male   8/19/93
11513  352983859                  Zohir Kedache         ALG    male    3/2/86

       height  weight          sport  gold  silver  bronze
27       1.85    75.0       football     0       0       0
28       1.86     NaN         boxing     0       0       0
29       1.86    70.0       football     0       0       0
30       1.78     NaN         boxing     0       0       0
31       1.85    79.0       football     0       0       0
36       1.77    72.0      athletics     0       0       0
38       1.70    65.0       football     0       0       0
39       1.83    90.0           judo     0       0       0
40       1.72    66.0        cycling     0       0       0
41       1.68    62.0       football     0       0       0
105      1.80    85.0      wrestling     0       0       0
467      1.78    63.0      athletics     0       0       0
620      1.65    55.0      athletics     0       0       0
622      1.73    60.0         rowing     0       0       0
626      1.75    65.0      athletics     0       0       0
912      1.68    62.0        fencing     0       0       0
1283     1.75    68.0       football     0       0       0
1303     1.89    75.0       football     0       0       0
1483     1.75    62.0      athletics     0       0       0
1568     1.70    80.0  weightlifting     0       0       0
1882     1.77    74.0       shooting     0       0       0
2011     1.82     NaN         boxing     0       0       0
2870     1.65    60.0      athletics     0       0       0
3281     1.78     NaN         boxing     0       0       0
3292     1.55    55.0     gymnastics     0       0       0
3298     1.90    80.0       football     0       0       0
3895     1.76    56.0      athletics     0       0       0
3910     1.69    67.0        fencing     0       0       0
3917     1.70    73.0        sailing     0       0       0
3973     1.78    70.0       football     0       0       0
...       ...     ...            ...   ...     ...     ...
5968     1.88    88.0      athletics     0       0       0
6489     1.85   100.0           judo     0       0       0
7366     1.78    65.0       football     0       0       0
7561     1.78    62.0      athletics     0       0       0
7562     1.70    65.0       football     0       0       0
7643     1.55    50.0     gymnastics     0       0       0
7657     1.74     NaN         boxing     0       0       0
7689     1.90   100.0           judo     0       0       0
7691     1.80    72.0       football     0       0       0
7692     1.60    60.0       football     0       0       0
8377     1.86    75.0       football     0       0       0
8380     1.80    75.0       football     0       0       0
8382     1.87    84.0       aquatics     0       0       0
8814     1.85    75.0       football     0       0       0
8933     1.85     NaN         boxing     0       0       0
8934     1.80    70.0       football     0       0       0
9298     1.85    75.0       football     0       0       0
9373     1.76    65.0      athletics     0       0       0
9846     1.78    73.0         rowing     0       0       0
9951     1.70    65.0       football     0       0       0
9974     1.76    78.0           judo     0       0       0
10006    1.58    50.0      athletics     0       0       0
10296    1.70    67.0      athletics     0       2       0
10303    1.70    66.0      wrestling     0       0       0
10945    1.85   123.0  weightlifting     0       0       0
11180    1.75    65.0      athletics     0       0       0
11303    1.74    68.0        cycling     0       0       0
11442    1.60    60.0       football     0       0       0
11444    1.70    65.0       football     0       0       0
11513    1.78     NaN         boxing     0       0       0

[68 rows x 11 columns]

AND
             id                     name nationality     sex       dob  \
3161  789081554  Esther Barrugues Alvina         AND  female   5/16/80
6020  885866639       Laura Salles Lopez         AND  female   2/15/86
7717  335904579    Monica Ramirez Abella         AND  female  12/27/93
8730  249071689        Pol Arias Dourdet         AND    male    8/8/96
8731  799207392                 Pol Moya         AND    male   12/9/96

      height  weight      sport  gold  silver  bronze
3161    1.64    60.0   shooting     0       0       0
6020    1.69    63.0       judo     0       0       0
7717    1.70    55.0   aquatics     0       0       0
8730    1.75    80.0   aquatics     0       0       0
8731    1.78    62.0  athletics     0       0       0
ANG
              id                          name nationality     sex       dob  \
275    583503806        Albertina Cruz Kassoma         ANG  female   6/12/96
673    872791807             Ana Sofia Nobrega         ANG  female  12/20/90
740    580669644                  Andre Matias         ANG    male   6/22/89
1056   881359443               Antonia Moreira         ANG  female   4/26/82
1290   284565638       Azenaide Daniela Carlos         ANG  female   6/14/90
2218   487060100       Cristina Direito Branco         ANG  female   3/15/85
4098   674181723            Hermenegildo Leite         ANG    male   5/17/00
4399   196950194      Isabel Evelize W. Guialo         ANG  female    4/8/90
4633   229768260      Janete Viegas dos Santos         ANG  female   6/10/91
4720    83700650          Jean-Luc Rasamoelina         ANG    male   10/4/89
4976   224259489  Joao Paulo de Leiria E Silva         ANG    male  11/13/64
5292   633577633          Juliana Jose Machado         ANG  female   11/6/94
6195    42265124                  Liliana Neto         ANG  female   1/29/97
6197    92875421     Liliana da Silva Venancio         ANG  female   9/19/95
6427    22717911                   Luisa Kiala         ANG  female   1/25/82
6477   278272710     Lurdes Marcelina Monteiro         ANG  female   7/11/84
6539    76314566         Magda Alfredo Cazanga         ANG  female   5/28/91
6682   342632387                   Manuel Lelo         ANG    male   8/18/87
7163    64937045               Matias Montinho         ANG    male   7/15/90
7887   934592033        Natalia Maria Bernardo         ANG  female  12/25/86
7966   824920979    Neide Marisa de P. Barbosa         ANG  female   9/23/80
8414   883350095                 Paixao Afonso         ANG    male    1/2/91
8574   322923312          Pedro Miguel Pinotes         ANG    male   9/30/89
10362   38799648       Teresa Patricia Almeida         ANG  female    4/5/88
10862    3169233         Vilma Pegado Nenganga         ANG  female   9/12/96
11047  851340643        Wuta Waco Bige Dombaxi         ANG  female    4/5/86

       height  weight      sport  gold  silver  bronze
275      1.92   105.0   handball     0       0       0
673      1.74    70.0   aquatics     0       0       0
740      1.80    76.0     rowing     0       0       0
1056     1.72    70.0       judo     0       0       0
1290     1.80    69.0   handball     0       0       0
2218     1.72    68.0   handball     0       0       0
4098     1.71    63.0  athletics     0       0       0
4399     1.80    73.0   handball     0       0       0
4633     1.75    68.0   handball     0       0       0
4720     1.80    77.0     rowing     0       0       0
4976     1.76    90.0   shooting     0       0       0
5292     1.75    60.0   handball     0       0       0
6195     1.66    57.0  athletics     0       0       0
6197     1.80    93.0   handball     0       0       0
6427     1.80    62.0   handball     0       0       0
6477     1.70    63.0   handball     0       0       0
6539     1.72    54.0   handball     0       0       0
6682     1.82    73.0    sailing     0       0       0
7163     1.67    63.0    sailing     0       0       0
7887     1.70    65.0   handball     0       0       0
7966     1.80    87.0   handball     0       0       0
8414     1.76    67.0    sailing     0       0       0
8574     1.92    85.0   aquatics     0       0       0
10362    1.70    98.0   handball     0       0       0
10862    1.70    59.0   handball     0       0       0
11047    1.80    92.0   handball     0       0       0
ANT
              id                 name nationality     sex       dob  height  \
1859   245970037        Cejhae Greene         ANT    male   10/6/95    1.74
1950   680189509      Chavaughn Walsh         ANT    male  12/29/87    1.80
2308   183503173        Daniel Bailey         ANT    male    9/9/86    1.79
4650   565862528         Jared Jarvis         ANT    male   8/29/94     NaN
7477   491799396       Miguel Francis         ANT    male   3/28/95    1.92
8157   649129831   Noah Mascoll-Gomes         ANT    male   5/27/99    1.75
8760    11988746  Priscilla Frederick         ANT  female   2/14/89    1.83
9412   917830379     Samantha Roberts         ANT  female   4/21/00    1.72
10228  161917472          Tahir Walsh         ANT    male   2/24/94    1.82

       weight      sport  gold  silver  bronze
1859     72.0  athletics     0       0       0
1950     72.0  athletics     0       0       0
2308     68.0  athletics     0       0       0
4650      NaN  athletics     0       0       0
7477     83.0  athletics     0       0       0
8157     68.0   aquatics     0       0       0
8760     70.0  athletics     0       0       0
9412     64.0   aquatics     0       0       0
10228    91.0  athletics     0       0       0
ARG
              id                       name nationality     sex       dob  \
127    915726586             Adrian Portela         ARG    male    3/8/86
160    638298176           Agustin Mazzilli         ARG    male   6/20/89
161    833236523              Agustin Vidal         ARG    male    7/8/87
162    794585269       Agustina Albertarrio         ARG  female    1/1/93
163    441542780             Agustina Habif         ARG  female    3/8/92
212    172676108              Ailen Valente         ARG  female   3/26/96
277    331799449    Alberto Ezequiel Melian         ARG    male    1/2/90
279    566773050   Alberto Ignacio Palmetta         ARG    male    4/5/90
409    383231190       Alexandra Keresztesi         ARG  female   4/26/83
445    524151751            Alexis Gonzalez         ARG    male   7/21/81
448    697622072                Alexis Soto         ARG    male  10/20/93
611    255630772             Amelia Belotti         ARG  female  11/17/88
614    335567750        Amelia Rosa Fournel         ARG  female   2/20/77
653    111502894                 Ana Gallay         ARG  female   1/16/86
812    922616500             Andres Nocioni         ARG    male  11/30/79
877    404311165               Angel Correa         ARG    male    3/9/95
1052   723171334              Antonela Mena         ARG  female   2/28/88
1266   454328324                Axel Muller         ARG    male  11/25/93
1267   874568110                Axel Werner         ARG    male   2/28/96
1360   726557644           Bautista Ezcurra         ARG    male   4/21/95
1361   887354934  Bautista Saubidet Birkner         ARG    male  11/28/95
1395    25375270              Belen Casetta         ARG  female   9/26/94
1396   126816152                Belen Succi         ARG  female  10/16/85
1581    85379844              Braian Toledo         ARG    male    9/8/93
1602   340440422               Brenda Rojas         ARG  female  10/15/95
1618   870923074                Brian Rosso         ARG    male   8/16/87
1662    44169801                 Bruno Lima         ARG    male    2/4/96
1668   248706880              Bruno Passaro         ARG    male   2/10/89
1748   415538486             Carla Rebecchi         ARG  female    9/7/84
1767   562138964             Carlos Delfino         ARG    male   8/29/82
...          ...                        ...         ...     ...       ...
9105   979738461              Roberto Acuna         ARG    male   9/14/90
9127   369012326             Rocio Campigli         ARG  female    8/6/94
9128   374524255                Rocio Comba         ARG  female   7/14/87
9130   528331372              Rocio Sanchez         ARG  female    8/2/88
9141   956734649            Rodrigo Etchart         ARG    male   1/24/94
9200   836406601                 Rosa Godoy         ARG  female   3/19/82
9240   249844758       Ruben Voisard Rezola         ARG    male   4/21/91
9337   665063441           Sabrina Ameghino         ARG  female    7/6/80
9484   438444460           Santiago Alvarez         ARG    male   1/17/94
9485    88117385         Santiago Ascacibar         ARG    male   2/25/97
9488   455876725            Santiago Grassi         ARG    male   9/25/96
9489   921054925             Santiago Lange         ARG    male   9/22/61
9616   502044930            Sebastian Rossi         ARG    male   2/12/92
9618    62067112          Sebastian Simonet         ARG    male   5/12/86
9619   526844987             Sebastian Sole         ARG    male   6/12/91
9948   638320031              Sofia Sanchez         ARG  female   8/23/89
10291  410068536               Tanya Acosta         ARG  female   3/11/91
10321  737519683      Tatiana Soledad Rizzo         ARG  female  12/30/86
10726  943412077            Valentina Kogan         ARG  female   2/19/80
10734   44861563            Valeria Bianchi         ARG  female   9/16/85
10806  616975176              Victor Cuesta         ARG    male  11/19/98
10817  718592963          Victoria Crivelli         ARG  female   9/30/90
10826   42693483         Victoria Travascio         ARG  female   7/14/88
10828  870095817           Victoria Zuloaga         ARG  female   2/14/88
10883  680801774    Virginia Bardach Martin         ARG  female    4/3/92
10904  563216361             Viviana Chavez         ARG  female   5/28/87
11098  285179001                Xoana Iacoi         ARG  female    6/3/92
11113  539240729           Yael Castiglione         ARG  female   9/27/85
11114  626583802                 Yago Lange         ARG    male   3/22/88
11121  380260850      Yamil Alberto Peralta         ARG    male   7/16/91

       height  weight         sport  gold  silver  bronze
127      1.85    95.0      handball     0       0       0
160      1.73    77.0        hockey     1       0       0
161      1.94   100.0      handball     0       0       0
162      1.65    55.0        hockey     0       0       0
163      1.65    55.0        hockey     0       0       0
212      1.67    58.0    gymnastics     0       0       0
277      1.70     NaN        boxing     0       0       0
279      1.75     NaN        boxing     0       0       0
409      1.83    72.0         canoe     0       0       0
445      1.84    85.0    volleyball     0       0       0
448      1.64    66.0      football     0       0       0
611      1.80    73.0      handball     0       0       0
614      1.60    50.0      shooting     0       0       0
653      1.73    66.0    volleyball     0       0       0
812      2.01   102.0    basketball     0       0       0
877      1.74    80.0      football     0       0       0
1052     1.80    84.0      handball     0       0       0
1266     1.83    84.0  rugby sevens     0       0       0
1267     1.81    82.0      football     0       0       0
1360     1.80    82.0  rugby sevens     0       0       0
1361     1.79    72.0       sailing     0       0       0
1395     1.63    52.0     athletics     0       0       0
1396     1.77    72.0        hockey     0       0       0
1581     1.87   100.0     athletics     0       0       0
1602     1.66    64.0         canoe     0       0       0
1618     1.84    84.0        rowing     0       0       0
1662     1.98    87.0    volleyball     0       0       0
1668     1.75    72.0    equestrian     0       0       0
1748     1.63    55.0        hockey     0       0       0
1767     2.00    95.0    basketball     0       0       0
...       ...     ...           ...   ...     ...     ...
9105     2.08   109.0    basketball     0       0       0
9127     1.73    70.0      handball     0       0       0
9128     1.80   100.0     athletics     0       0       0
9130     1.57    54.0        hockey     0       0       0
9141     1.80    80.0  rugby sevens     0       0       0
9200     1.60    47.0     athletics     0       0       0
9240     1.74    80.0         canoe     0       0       0
9337     1.69    64.0         canoe     0       0       0
9484     1.88    93.0  rugby sevens     0       0       0
9485     1.74    77.0      football     0       0       0
9488     1.87    82.0      aquatics     0       0       0
9489     1.84    73.0       sailing     1       0       0
9616     1.75    77.0         canoe     0       0       0
9618     1.89    93.0      handball     0       0       0
9619     2.00    94.0    volleyball     0       0       0
9948     1.67    57.0      aquatics     0       0       0
10291    1.82    70.0    volleyball     0       0       0
10321    1.78    64.0    volleyball     0       0       0
10726    1.73    71.0      handball     0       0       0
10734    1.70    62.0      handball     0       0       0
10806    1.64    65.0      football     0       0       0
10817    1.76    65.0      handball     0       0       0
10826    1.61    59.0       sailing     0       0       0
10828    1.75    70.0        hockey     0       0       0
10883    1.74    57.0      aquatics     0       0       0
10904    1.64    52.0     athletics     0       0       0
11098    1.61    70.0      handball     0       0       0
11113    1.84    75.0    volleyball     0       0       0
11114    1.80    77.0       sailing     0       0       0
11121    1.92     NaN        boxing     0       0       0

[223 rows x 11 columns]
ARM
              id                 name nationality     sex       dob  height  \
579    424274474     Amaliya Sharoyan         ARM  female   6/19/88    1.70
733    995131091  Andranik Karapetyan         ARM    male  12/15/95    1.80
1086   450196345      Arakel Mirzoyan         ARM    male  10/21/89    1.70
1087   481716571         Aram Avagyan         ARM    male   1/18/91    1.73
1135   505546970    Arsen Julfalakyan         ARM    male    5/8/87    1.66
1156   206524686     Artur Aleksanyan         ARM    male  10/21/91    1.90
1158   746970689        Artur Davtyan         ARM    male    8/8/92    1.60
1159   311001055   Artur Hovhannisyan         ARM    male   3/23/96    1.60
2581   360434724       Devid Safaryan         ARM    male    8/1/89    1.70
2598   266313114    Diana Khubeseryan         ARM  female    5/5/94    1.70
3591   892862270  Garnik Mnatsakanyan         ARM    male   11/7/89    1.61
3606   620621814      Gayane Chiloyan         ARM  female   9/27/00    1.64
3653   289207914       Georgii Ketoev         ARM    male  11/19/85    1.90
3770   607191429         Gor Minasyan         ARM    male  10/25/94    1.80
3988   772429717   Harutyun Merdinyan         ARM    male   8/16/84    1.65
4154   111077944      Houry Gebeshian         ARM  female   7/27/89    1.52
4155       61502    Hovhannes Bachkov         ARM    male   12/2/92    1.73
4156   374222882    Hovhannes Davtyan         ARM    male  11/25/83    1.73
4159   474611032      Hrachik Babayan         ARM    male    8/1/96    1.75
6147   340107234     Levan Berianidze         ARM    male  10/10/90    1.86
6151   228788380       Levon Aghasyan         ARM    male   1/19/95    1.93
6199   986623608    Lilit Harutyunyan         ARM  female    4/4/93    1.64
6608   950293205      Maksim Manukyan         ARM    male  12/10/87    1.77
7465     5116041    Migran Arutyunyan         ARM    male   3/25/89    1.66
7728   138520050      Monika Vasilyan         ARM  female   10/8/95    1.66
7868   188253954       Narek Abgaryan         ARM    male    1/6/92    1.66
7957   703930419       Nazik Avdalyan         ARM  female  10/31/86    1.57
9237   209686890     Ruben Aleksanyan         ARM    male   3/14/90    1.80
9877   618197194    Simon Martirosyan         ARM    male   2/17/97    1.81
9965    51596305       Sona Poghosyan         ARM  female   6/29/98    1.58
10710  751743792     Vahan Mkhitaryan         ARM    male   8/16/96    1.86
10916  229367719   Vladimir Margaryan         ARM    male    3/8/91    1.72

       weight          sport  gold  silver  bronze
579      56.0      athletics     0       0       0
733      77.0  weightlifting     0       0       0
1086     84.0  weightlifting     0       0       0
1087      NaN         boxing     0       0       0
1135     76.0      wrestling     0       0       0
1156     98.0      wrestling     1       0       0
1158     55.0     gymnastics     0       0       0
1159      NaN         boxing     0       0       0
2581     65.0      wrestling     0       0       0
2598     60.0      athletics     0       0       0
3591     57.0      wrestling     0       0       0
3606     54.0      athletics     0       0       0
3653    100.0      wrestling     0       0       0
3770    144.0  weightlifting     0       1       0
3988     58.0     gymnastics     0       0       0
4154     48.0     gymnastics     0       0       0
4155      NaN         boxing     0       0       0
4156     60.0           judo     0       0       0
4159     75.0       shooting     0       0       0
6147    125.0      wrestling     0       0       0
6151     75.0      athletics     0       0       0
6199     55.0      athletics     0       0       0
6608     86.0      wrestling     0       0       0
7465     67.0      wrestling     0       1       0
7728     59.0       aquatics     0       0       0
7868      NaN         boxing     0       0       0
7957     69.0  weightlifting     0       0       0
9237    152.0  weightlifting     0       0       0
9877    105.0  weightlifting     0       1       0
9965     73.0  weightlifting     0       0       0
10710    92.0       aquatics     0       0       0
10916     NaN         boxing     0       0       0
ARU
              id                       name nationality     sex       dob  \
543    742474119             Allyson Ponson         ARU  female   12/4/95
4709   395224823                 Jayme Mata         ARU    male  12/17/82
7513   929371856           Mikel Schreuders         ARU    male   9/21/98
7715     9559634  Monica Pimentel Rodriguez         ARU  female    1/7/89
8074   543974028      Nicole van der Velden         ARU  female  10/26/94
8661   615802244      Philipine van Aanholt         ARU  female   5/26/92
10432  963532102               Thijs Visser         ARU    male  10/19/89

       height  weight      sport  gold  silver  bronze
543      1.65    60.0   aquatics     0       0       0
4709     1.72    67.0       judo     0       0       0
7513     1.89    90.0   aquatics     0       0       0
7715     1.71    49.0  taekwondo     0       0       0
8074     1.68    62.0    sailing     0       0       0
8661     1.71    65.0    sailing     0       0       0
10432    1.84    88.0    sailing     0       0       0
ASA
              id                          name nationality     sex      dob  \
1438   121967304           Benjamin Waterhouse         ASA    male  6/11/85
4396   231426919                 Isaac Silafau         ASA    male  10/5/90
5104   402518838                  Jordan Mageo         ASA  female   1/6/97
10290  807845971  Tanumafili Malietoa Jungblut         ASA    male  6/10/90

       height  weight          sport  gold  silver  bronze
1438     1.72    71.0           judo     0       0       0
4396     1.75    68.0      athletics     0       0       0
5104     1.72    68.0      athletics     0       0       0
10290    1.88    93.0  weightlifting     0       0       0
AUS
              id                  name nationality     sex       dob  height  \
5      173071782           Aaron Royle         AUS    male   1/26/90    1.80
7      382571888         Aaron Younger         AUS    male   9/25/91    1.93

BAR
              id                name nationality     sex       dob  height  \
239    194243947         Akela Jones         BAR  female   4/22/95    1.86
366     58596600         Alex Sobers         BAR    male  11/13/98    1.88
1681   581220953  Burkheart Ellis Jr         BAR    male   9/18/92    1.91
2412   881563866         Darian King         BAR    male   4/26/92    1.72
4686   687929140        Jason Wilson         BAR    male  10/31/90    1.80
5734   414269646      Kierre Beckles         BAR  female   5/21/90    1.76
5957   789007378        Lani Cabrera         BAR  female   4/22/93    1.75
6150   576128253        Levi Cadogan         BAR    male   11/8/95    1.81
7395   753189621     Michael Maskell         BAR    male  11/24/66    1.75
8872   411617493       Ramon Gittens         BAR    male   7/20/87    1.80
10462  494000666     Tia-Adana Belle         BAR  female   6/15/96    1.78

       weight      sport  gold  silver  bronze
239      77.0  athletics     0       0       0
366      66.0   aquatics     0       0       0
1681     85.0  athletics     0       0       0
2412     70.0     tennis     0       0       0
4686     68.0  triathlon     0       0       0
5734     61.0  athletics     0       0       0
5957     66.0   aquatics     0       0       0
6150     78.0  athletics     0       0       0
7395    114.0   shooting     0       0       0
8872     79.0  athletics     0       0       0
10462    59.0  athletics     0       0       0
BDI
             id                  name nationality     sex       dob  height  \
69    877850429     Abraham Niyonkuru         BDI    male  12/26/89    1.62
1032  638759707        Antoine Gakeme         BDI    male  12/24/91    1.69
1035  124031196    Antoinette Gasongo         BDI  female   4/24/94    1.70
1489  787821587   Billy Scott Irakoze         BDI    male  10/30/96    1.96
1861  388140867  Celestin Nihorimbere         BDI    male   1/11/93    1.67
2607  423391587          Diane Nukuri         BDI  female   12/1/84    1.83
2990  388539796       Elsie Uwamahoro         BDI  female  10/23/88    1.65
3478  129990979    Francine Niyonsaba         BDI  female    5/5/93    1.66
8304  758344424     Olivier Irabaruta         BDI    male   8/25/97    1.70

      weight      sport  gold  silver  bronze
69      52.0  athletics     0       0       0
1032    60.0  athletics     0       0       0
1035    51.0       judo     0       0       0
1489    74.0   aquatics     0       0       0
1861    55.0  athletics     0       0       0
2607    59.0  athletics     0       0       0
2990    54.0   aquatics     0       0       0
3478    60.0  athletics     0       1       0
8304    62.0  athletics     0       0       0
BEL
              id                     name nationality     sex       dob  \
380    986385043      Alexander Hendrickx         BEL    male    8/6/93
430    391830541       Alexandre de Paeuw         BEL    male   10/7/88
911    795806548          Anisha Vekemans         BEL  female   8/17/91
928    266461639         Ann-Sophie Duyck         BEL  female   7/23/87
987    663634916               Anne Zagre         BEL  female   3/13/90
1033   265482075           Antoine Gillet         BEL    male   3/22/88
1153   353946547         Arthur van Doren         BEL    male   10/1/94
1169   334665837            Artuur Peters         BEL    male  10/26/96
1268   182938039           Axelle Dauwens         BEL  female   12/1/90
1349   495486399              Bashir Abdi         BEL    male   2/10/89
1353   670680423            Basten Caerts         BEL    male  10/27/97
1855   947360474          Cedric Charlier         BEL    male  11/27/87
1930   477185472       Charline van Snick         BEL  female    9/2/90
2000   792650052           Chloe Leurquin         BEL  female    8/9/90
2122   516245173            Claire Michel         BEL  female  10/13/88
2230   377141753          Cynthia Bolingo         BEL  female   1/12/93
2460   971955364             David Goffin         BEL    male   12/7/90
2560    33695982          Dennis Goossens         BEL    male  12/16/93
2621   119737320         Dieter Dekoninck         BEL    male   1/28/91
2655   460186785         Dirk van Tichelt         BEL    male   6/10/84
2761   870355208             Dylan Borlee         BEL    male   9/20/92
2961   184528790             Elke Vanhoof         BEL  female  12/16/91
2973   986117521     Elliot van Strydonck         BEL    male   7/21/88
2986    95400560                 Els Rens         BEL  female   2/19/83
3062   686447847     Emmanuel Stockbroekx         BEL    male  12/23/93
3063   291735162      Emmanuel Vanluchene         BEL    male   12/9/92
3231   449788118            Evi van Acker         BEL  female   9/23/85
3290   337880291           Fanny Lecluyse         BEL  female   3/11/92
3354   576762169            Felix Denayer         BEL    male   1/31/90
3439   352775267           Florent Caelen         BEL    male    3/1/89
...          ...                      ...         ...     ...       ...
8698   185824997           Pieter Timmers         BEL    male   1/21/88
8699   712300678        Pieter-Jan Hannes         BEL    male  10/30/92
8854   215186405          Raheleh Asemani         BEL  female   6/21/89
8973   109399064             Renee Eykens         BEL  female    6/8/96
9119   569702101          Robin Ramaekers         BEL    male  10/26/94
9121   771525167       Robin Vanderbemden         BEL    male   2/10/94
9239   411710210            Ruben Scheire         BEL    male   12/6/91
9265   377313576             Rune Hermans         BEL  female    5/9/99
9624   266769451        Sebastien Dockier         BEL    male  12/28/89
9657   652894591             Senna Deriks         BEL  female  12/30/00
9662   655555498       Seppe van Holsbeke         BEL    male   1/19/88
9670   612124451            Serge Pauwels         BEL    male  11/21/83
9842   126862439         Si Mohamed Ketbi         BEL    male  12/27/97
9875   828900284           Simon Gougnard         BEL    male   1/17/91
10281  198967774            Tanguy Cosyns         BEL    male   6/29/91
10439  168124839            Thomas Briels         BEL    male   8/23/87
10450  782766062           Thomas Pieters         BEL    male   1/27/92
10456  666963728  Thomas van der Plaetsen         BEL    male  12/24/90
10505  157166055              Tim Wellens         BEL    male   5/10/91
10557  893678601                 Tom Boon         BEL    male   1/25/90
10568  959754515          Tom Pelsmaekers         BEL    male   1/26/93
10571  169080993    Tom Richard Goegebuer         BEL    male   3/27/75
10573  384204713           Toma Nikiforov         BEL    male   1/25/93
10773   83660833        Veerle Dejaeghere         BEL  female    8/1/73
10872  825166782          Vincent Vanasch         BEL    male  12/21/87
10952  268487166          Wannes van Laer         BEL    male    3/5/85
11008   73209628   Willem van Schuerbeeck         BEL    male  10/24/84
11151  491775896         Yanina Wickmayer         BEL  female  10/20/89
11162  190574076         Yannick Lefebvre         BEL    male  11/19/88
11344  928265049                Yuhan Tan         BEL    male   4/21/87

       height  weight          sport  gold  silver  bronze
380      1.85    82.0         hockey     0       0       0
430      1.78    75.0         hockey     0       0       0
911      1.60    52.0        cycling     0       0       0
928      1.72    60.0        cycling     0       0       0
987      1.76    68.0      athletics     0       0       0
1033     1.85    78.0      athletics     0       0       0
1153     1.78    74.0         hockey     0       1       0
1169     1.93    95.0          canoe     0       0       0
1268     1.71    62.0      athletics     0       0       0
1349     1.76    56.0      athletics     0       0       0
1353     1.85    85.0       aquatics     0       0       0
1855     1.81    81.0         hockey     0       1       0
1930     1.57    48.0           judo     0       0       0
2000     1.69    57.0           golf     0       0       0
2122     1.68    54.0      triathlon     0       0       0
2230     1.65    53.0      athletics     0       0       0
2460     1.80    69.0         tennis     0       0       0
2560     1.60    65.0     gymnastics     0       0       0
2621     1.90    85.0       aquatics     0       0       0
2655     1.73    73.0           judo     0       0       1
2761     1.90    78.0      athletics     0       0       0
2961     1.63    60.0        cycling     0       0       0
2973     1.85    75.0         hockey     0       1       0
2986     1.60    51.0      athletics     0       0       0
3062     1.89    88.0         hockey     0       1       0
3063     1.80    75.0       aquatics     0       0       0
3231     1.72    70.0        sailing     0       0       0
3290     1.77    64.0       aquatics     0       0       0
3354     1.90    85.0         hockey     0       1       0
3439     1.75    54.0      athletics     0       0       0
...       ...     ...            ...   ...     ...     ...
8698     2.00    89.0       aquatics     0       1       0
8699     1.86    75.0      athletics     0       0       0
8854     1.71    59.0      taekwondo     0       0       0
8973     1.70    54.0      athletics     0       0       0
9119     1.80    78.0        archery     0       0       0
9121     1.83    74.0      athletics     0       0       0
9239     1.75    62.0        cycling     0       0       0
9265     1.59    48.0     gymnastics     0       0       0
9624     1.75    74.0         hockey     0       1       0
9657     1.54    46.0     gymnastics     0       0       0
9662     1.98    93.0        fencing     0       0       0
9670     1.77    64.0        cycling     0       0       0
9842     1.80    62.0      taekwondo     0       0       0
9875     1.87    84.0         hockey     0       1       0
10281    1.74    70.0         hockey     0       1       0
10439    1.72    71.0         hockey     0       1       0
10450    1.96    85.0           golf     0       0       0
10456    1.86    82.0      athletics     0       0       0
10505    1.83    77.0        cycling     0       0       0
10557    1.84    81.0         hockey     0       1       0
10568    1.77    81.0        sailing     0       0       0
10571    1.64    56.0  weightlifting     0       0       0
10573    1.90   100.0           judo     0       0       0
10773    1.59    46.0      athletics     0       0       0
10872    1.80    78.0         hockey     0       1       0
10952    1.81    81.0        sailing     0       0       0
11008    1.79    60.0      athletics     0       0       0
11151    1.82    72.0         tennis     0       0       0
11162    1.81    79.0        sailing     0       0       0
11344    1.82    74.0      badminton     0       0       0

[108 rows x 11 columns]
BEN
              id                                name nationality     sex  \
1869   991308199  Celtus Williams Abiola Dossou Yovo         BEN    male
2610   629941187                         Didier Kiki         BEN    male
5261   498802525                        Jules Bessan         BEN    male
5967   322415539                      Laraiba Seibou         BEN  female
8164   485719792                       Noelie Yarigo         BEN  female
11209  252505900                Yemi Geoffrey Apithy         BEN    male

            dob  height  weight      sport  gold  silver  bronze
1869     4/1/86    1.75    89.0       judo     0       0       0
2610   11/30/95    1.85    84.0  athletics     0       0       0
5261    4/14/79    1.83    85.0   aquatics     0       0       0
5967    12/6/00    1.73    63.0   aquatics     0       0       0
8164   12/26/85    1.68    56.0  athletics     0       0       0
11209    4/5/89    1.92    96.0    fencing     0       0       0
BER
              id              name nationality     sex       dob  height  \
1715   744574832  Cameron Pimentel         BER    male   4/13/91    1.83
1854   958457739  Cecilia Wollmann         BER  female   1/23/98    1.64
3434   692948530       Flora Duffy         BER  female   9/30/87    1.63
3977   370604205    Harold Houston         BER    male   3/23/90    1.82
5283   288174300   Julian Fletcher         BER    male   10/8/90    1.84
7448   949879254  Michelle Pearson         BER  female   4/16/91    1.77
8919   437939980  Rebecca Heyliger         BER  female  11/24/92    1.61
10666  356052736      Tyrone Smith         BER    male    8/7/84    1.83

       weight      sport  gold  silver  bronze
1715     80.0    sailing     0       0       0
1854     60.0    sailing     0       0       0
3434     57.0  triathlon     0       0       0
3977     82.0  athletics     0       0       0
5283     79.0   aquatics     0       0       0
7448     70.0     rowing     0       0       0
8919     54.0   aquatics     0       0       0
10666    74.0  athletics     0       0       0
BHU
             id            name nationality     sex      dob  height  weight  \
5466  510946610     Karma Karma         BHU  female   6/6/90    1.63    51.0
6113  949030090  Lenchu Kunzang         BHU  female  2/10/92    1.65    59.0

         sport  gold  silver  bronze
5466   archery     0       0       0
6113  shooting     0       0       0
BIH
              id                  name nationality     sex       dob  height  \
609    250216413             Amel Tuka         BIH    male    1/9/91    1.87
621    689435497          Amina Kajtaz         BIH  female  12/31/96    1.73
2282   901528927         Damir Dzumhur         BIH    male   5/20/92    1.75
3916   589649660            Hamza Alic         BIH    male   1/20/79    1.86
5639    99564974           Kemal Mesic         BIH    male    8/4/85    1.96
5969   609688727          Larisa Ceric         BIH  female   1/26/91    1.76
6371   480093608  Lucia Mwihaki Kimani         BIH  female   6/21/81    1.66
7367   428462407           Mesud Pezer         BIH    male   8/27/94    1.96
7497   369995646      Mihajlo Ceprkalo         BIH    male    6/9/99    1.72
7614   824109825           Mirza Basic         BIH    male   7/12/91    1.87
10324  848018614    Tatjana Djekanovic         BIH  female   2/25/97    1.68

       weight      sport  gold  silver  bronze
609      77.0  athletics     0       0       0
621      62.0   aquatics     0       0       0
2282     65.0     tennis     0       0       0
3916    130.0  athletics     0       0       0
5639    120.0  athletics     0       0       0
5969    110.0       judo     0       0       0
6371     48.0  athletics     0       0       0
7367    120.0  athletics     0       0       0
7497     74.0   aquatics     0       0       0
7614     85.0     tennis     0       0       0
10324    54.0   shooting     0       0       0
BIZ
             id           name nationality     sex       dob  height  weight  \
1584  738096310  Brandon Jones         BIZ    male   7/19/87    1.99    86.0
5570  257631088     Katy Sealy         BIZ  female  10/15/90    1.72    61.0
8976  499299966   Renick James         BIZ    male   8/21/87    1.80    91.0

          sport  gold  silver  bronze
1584  athletics     0       0       0
5570  athletics     0       0       0
8976       judo     0       0       0
BLR
              id                     name nationality     sex       dob  \
329    871020123          Alena Abramchuk         BLR  female   2/14/88
330    603507285         Alena Amialiusik         BLR  female    2/6/89
331    390806588             Alena Furman         BLR  female    5/8/91
333     30712954           Alena Sobaleva         BLR  female   5/11/93
374    525300567           Alexander Bury         BLR    male   9/14/87
417    891965491      Alexandra Privalova         BLR  female  10/29/87
476    502227727      Aliaksandr Bersanau         BLR    male    9/1/92
477     23998076     Aliaksandr Buikevich         BLR    male  11/19/84
478    564017885    Aliaksandr Liakhovich         BLR    male    7/4/89
479     68967384  Aliaksandra Herasimenia         BLR  female  12/31/85
480    775336377     Aliaksandra Tarasava         BLR  female   6/23/88
481    185532375        Aliaksei Mzhachyk         BLR    male   6/30/96
507    137031539              Alina Talay         BLR  female   5/14/89
511    833092832        Aliona Dubitskaya         BLR  female   1/25/90
599    347334644       Amarhajy Mahamedau         BLR    male   4/12/90
708    429085507    Anastasiya Mikhalenka         BLR  female   12/8/95
709    477742641    Anastasiya Prokopenko         BLR  female   9/20/85
710    204362655      Anastasiya Puzakova         BLR  female  12/12/93
716    422580925   Anastasiya Verameyenka         BLR  female   7/10/87
795    882676679           Andrei Churyla         BLR    male   5/19/93
847    132173574      Andrey Likhovitskiy         BLR    male   6/23/86
1047   835942400           Anton Prilepov         BLR    male    2/5/84
1114   906864947         Arina Tsitsilina         BLR  female   10/9/98
1125   653569053     Arman-Marshall Silla         BLR    male   7/13/94
1154   749009956        Artsem Bandarenka         BLR    male   6/19/91
1174   717411449        Asadulla Lachinau         BLR    male   4/17/86
2429   823394699            Darya Naumava         BLR  female   8/26/95
2430   913687738           Darya Pachabut         BLR  female  12/31/94
2432   444977271           Darya Skrypnik         BLR  female  12/12/87
2768   140395363            Dzianis Mihal         BLR    male   10/5/85
...          ...                      ...         ...     ...       ...
10331  194275450       Tatsiana Sharakova         BLR  female   7/31/84
10332  840107784           Tatyana Troina         BLR  female   6/30/81
10639  874089469    Tsimafei Dzeinichenka         BLR    male   11/5/86
10677   13916415     Uladzislau Hancharou         BLR    male   12/2/95
10678  646451751        Uladzislau Pramau         BLR    male    8/3/84
10705  818449053             Vadim Kaptur         BLR    male   7/12/87
10707  620954526            Vadzim Lialin         BLR    male  11/15/82
10708  446977875         Vadzim Straltsou         BLR    male   4/30/86
10745    4089378      Valeriya Pischelina         BLR  female   2/27/95
10762  877590829          Vasil Kiryienka         BLR    male   6/28/81
10766  989508305       Vasilisa Marzaliuk         BLR  female   6/23/87
10796  497079300      Veronika Yesipovich         BLR  female   4/10/96
10837  545176784       Viktar Staselovich         BLR    male   5/28/94
10847  603907916          Viktoria Chaika         BLR  female  12/26/80
10850  409487161       Viktoria Pavlovich         BLR  female    5/8/78
10889  955304524         Vitali Bubnovich         BLR    male  11/12/74
10920   53064858        Vladimir Samsonov         BLR    male   4/17/76
10931  854069870          Volha Khudzenka         BLR  female   5/12/92
10932  559528855          Volha Mazuronak         BLR  female   4/14/89
10933  443487207           Volha Sudarava         BLR  female   2/22/84
10934  365006989           Volha Ziuzkova         BLR  female   6/14/83
11185   81264500           Yauhen Tsurkin         BLR    male   12/9/90
11186  767771937         Yauheni Karaliou         BLR    male   3/26/91
11204  932118784         Yelena Leuchanka         BLR  female   4/30/83
11376  750465466            Yuliya Bichyk         BLR  female    4/1/83
11378  379286270             Yuliya Karol         BLR  female   6/26/91
11379  416483040          Yuliya Khitraya         BLR  female   9/11/89
11380  131403835         Yuliya Leantsiuk         BLR  female   1/31/84
11384  521174364         Yuliya Rytsikava         BLR  female    9/8/86
11410  197488298     Yury Shcherbatsevich         BLR    male   7/11/84

       height  weight              sport  gold  silver  bronze
329      1.82    95.0          athletics     0       0       0
330      1.69    52.0            cycling     0       0       0
331      1.79    65.0             rowing     0       0       0
333      1.78    87.0          athletics     0       0       0
374      1.84    94.0             tennis     0       0       0
417      1.78    66.0       table tennis     0       0       0
476      1.76    94.0      weightlifting     0       0       0
477      1.91    80.0            fencing     0       0       0
478      1.72    65.0          athletics     0       0       0
479      1.74    58.0           aquatics     0       0       1
480      1.70    64.0         basketball     0       0       0
481      1.90   136.0      weightlifting     0       0       0
507      1.64    57.0          athletics     0       0       0
511      1.80    76.0          athletics     0       0       0
599      1.84    88.0          wrestling     0       0       0
708      1.62    67.0      weightlifting     0       0       0
709      1.63    57.0  modern pentathlon     0       0       0
710      1.61    45.0          athletics     0       0       0
716      1.92    82.0         basketball     0       0       0
795      1.89    74.0          athletics     0       0       0
847      1.72    66.0         gymnastics     0       0       0
1047     1.86    96.0            archery     0       0       0
1114     1.73    50.0         gymnastics     0       0       0
1125     2.03   105.0          taekwondo     0       0       0
1154     1.87    78.0          athletics     0       0       0
1174     1.58    60.0          wrestling     0       0       0
2429     1.65    75.0      weightlifting     0       1       0
2430     1.63    67.0      weightlifting     0       0       0
2432     1.62    52.0               judo     0       0       0
2768     1.97   102.0             rowing     0       0       0
...       ...     ...                ...   ...     ...     ...
10331    1.60    52.0            cycling     0       0       0
10332    1.88    78.0         basketball     0       0       0
10639    1.86    98.0          wrestling     0       0       0
10677    1.73    66.0         gymnastics     1       0       0
10678    1.77    66.0          athletics     0       0       0
10705    1.74    69.0           aquatics     0       0       0
10707    2.00   100.0             rowing     0       0       0
10708    1.70    94.0      weightlifting     0       1       0
10745    1.70    50.0         gymnastics     0       0       0
10762    1.82    75.0            cycling     0       0       0
10766    1.80    77.0          wrestling     0       0       0
10796    1.66    48.0           aquatics     0       0       0
10837    1.88    83.0           aquatics     0       0       0
10847    1.64    50.0           shooting     0       0       0
10850    1.75    60.0       table tennis     0       0       0
10889    1.69    70.0           shooting     0       0       0
10920    1.89    83.0       table tennis     0       0       0
10931    1.78    78.0              canoe     0       0       1
10932    1.65    49.0          athletics     0       0       0
10933    1.76    61.0          athletics     0       0       0
10934    1.71    69.0         basketball     0       0       0
11185    1.82    77.0           aquatics     0       0       0
11186    1.69    69.0           aquatics     0       0       0
11204    1.95    86.0         basketball     0       0       0
11376    1.84    84.0             rowing     0       0       0
11378    1.62    57.0          athletics     0       0       0
11379    1.80    66.0           aquatics     0       0       0
11380    1.80    80.0          athletics     0       0       0
11384    1.80    69.0         basketball     0       0       0
11410    1.78    87.0           shooting     0       0       0

[124 rows x 11 columns]
BOL
              id                         name nationality     sex      dob  \
883    820102676                Angela Castro         BOL  female  2/21/93
1741   725855648  Carina Ana Garcia Kradolfer         BOL  female   1/3/84
5166   828985174             Jose Quintanilla         BOL    male   1/1/97
5439   141875290                 Karen Torrez         BOL  female  7/29/92
6725   995865749      Marco Antonio Rodriguez         BOL    male  1/24/94
7049   803793508                Martin Michel         BOL    male   9/5/94
8355   473764617            Oscar Soliz Vilca         BOL    male   1/9/85
9184   224177837                 Ronal Quispe         BOL    male   3/5/88
9216   860145199              Rosemary Quispe         BOL  female  8/20/83
9249   371266772           Rudolf Knijnenburg         BOL    male  5/18/82
10070  457750300             Stefany Coronado         BOL  female  9/16/96
10979  406064567                Wendy Cornejo         BOL  female   1/7/93

       height  weight      sport  gold  silver  bronze
883      1.60    54.0  athletics     0       0       0
1741     1.60    58.0   shooting     0       0       0
5166     2.00    89.0   aquatics     0       0       0
5439     1.65    59.0   aquatics     0       0       0
6725     1.80    66.0  athletics     0       0       0
7049     1.90    90.0       judo     0       0       0
8355     1.68    59.0    cycling     0       0       0
9184     1.64    57.0  athletics     0       0       0
9216     1.59    50.0  athletics     0       0       0
9249     1.76    82.0   shooting     0       0       0
10070    1.73    54.0  athletics     0       0       0
10979    1.62    54.0  athletics     0       0       0
BOT
             id                      name nationality     sex      dob  \
1298  316544316            Baboloki Thebe         BOT    male  3/18/97
1540  309321530          Boitumelo Masilo         BOT    male   8/5/95
2064  524363491     Christine Botlogetswe         BOT  female  10/1/95
2497  661068918       David van der Colff         BOT    male  4/29/97
3589  538703926  Gaone Leaname Maotoanong         BOT    male   5/7/91
3604  213614173              Gavin Mogopa         BOT    male   4/2/96
4395  427843232             Isaac Makwala         BOT    male  9/24/85
5428  788211955            Karabo Sibanda         BOT    male   7/2/98
6485  409442789                Lydia Jele         BOT  female  6/22/90
7857  268877038               Naomi Ruele         BOT  female  1/13/97
8085  872456959                Nijel Amos         BOT    male  3/15/94
8333   47810803         Onkabetse Nkobolo         BOT    male  7/22/93

      height  weight      sport  gold  silver  bronze
1298     NaN     NaN  athletics     0       0       0
1540     NaN     NaN  athletics     0       0       0
2064     NaN     NaN  athletics     0       0       0
2497     NaN     NaN   aquatics     0       0       0
3589     NaN     NaN  athletics     0       0       0
3604    1.79    60.0       judo     0       0       0
4395    1.85    78.0  athletics     0       0       0
5428     NaN     NaN  athletics     0       0       0
6485     NaN     NaN  athletics     0       0       0
7857     NaN     NaN   aquatics     0       0       0
8085    1.79    60.0  athletics     0       0       0
8333     NaN     NaN  athletics     0       0       0
BRA
              id                        name nationality     sex       dob  \
79     236523132                   Adam Imer         BRA    male   8/18/89
106    993710181           Adenizia da Silva         BRA  female  12/18/86
109    930618704            Adilson da Silva         BRA    male   1/24/72
114    787208883               Adrian Baches         BRA    male    4/7/90
128     80367651  Adriana Aparecida da Silva         BRA  female   7/22/81
129    593328448              Adriana Araujo         BRA  female   11/4/81
132    529241363              Adriana Moises         BRA  female   12/6/78
145     28097741           Agatha Bednarczuk         BRA  female   6/22/83
284     74286490     Aldemir da Silva Junior         BRA    male    6/8/92
355    566695148                 Alex Garcia         BRA    male    3/4/80
367    703205900    Alex William Pombo Silva         BRA    male   7/21/88
396    658069337             Alexander Russo         BRA    male   7/26/94
412     30769207          Alexandra Martinez         BRA  female   9/16/81
427    333303277           Alexandre Camargo         BRA    male   4/25/99
433     17092453            Alexandro Pozzer         BRA    male  12/21/88
508    315643745                       Aline         BRA  female   4/15/89
510    215286232     Aline da Silva Ferreira         BRA  female  10/18/86
518    409870387              Alison Cerutti         BRA    male   12/7/85
532    846754382              Allan do carmo         BRA    male    8/3/89
555     46528538           Altobeli da Silva         BRA    male   12/3/90
556    344062200      Alvaro Doda de Miranda         BRA    male    2/5/73
581    991318461               Amanda Araujo         BRA  female   2/23/90
588    936271742             Amanda Oliveira         BRA  female    1/6/87
590    362158810               Amanda Simeao         BRA  female    6/2/94
647    829962369          Ana Beatriz Bulcao         BRA  female   12/4/93
649    714771450           Ana Claudia Silva         BRA  female   11/6/88
658    575479562         Ana Luiza Barbachan         BRA  female   8/15/89
660     69147633           Ana Marcela Cunha         BRA  female   3/23/92
663    453790004              Ana Paula Belo         BRA  female  10/18/87
664    724211622           Ana Paula Vergutz         BRA  female   4/20/89
...          ...                         ...         ...     ...       ...
10457  831910280             Thomaz Bellucci         BRA    male  12/30/87
10465  850164905                Tiago Camilo         BRA    male   5/24/82
10675  662685854                      Uilson         BRA    male   4/28/94
10709  723818458         Vagner Junior Souta         BRA    male   2/10/91
10715  839835613                    Valdivia         BRA    male   10/4/94
10749  287472239              Vanessa Chefer         BRA  female    3/5/90
10750   87607313               Vanessa Cozzi         BRA  female   3/25/84
10778  967486655           Venilton Teixeira         BRA    male    9/6/95
10813  706996244             Victor Penalber         BRA    male   5/22/90
10816  810144612           Victoria Chamorro         BRA  female   7/10/96
10822  904905925           Victoria Lovelady         BRA  female  11/29/86
10879  253097119          Vinicius Antonelli         BRA    male    3/1/90
10880   29581250           Vinicius Teixeira         BRA    male    4/3/88
10898  411101006                Vitor Benite         BRA    male   2/20/90
10899  987131879       Vitor Hugo dos Santos         BRA    male    2/1/96
10900  623036229       Vitoria Cristina Rosa         BRA  female   1/12/96
10905  110185191               Viviane Bahia         BRA  female   2/14/94
10941  754088322             Wagner Domingos         BRA    male   3/26/83
10944  419317871                      Walace         BRA    male    4/4/95

CAM
              id              name nationality     sex       dob  height  \
5899    13588611  Kuniaki Takizaki         CAM    male    8/8/77    1.51
7871   113824084           Nary Ly         CAM  female    6/6/72    1.60
9606   644711592      Seavmey Sorn         CAM  female   9/14/95    1.83
10004  992931470     Sotheara Chov         CAM  female  10/10/83    1.55
10014  830239226       Sovijja Pou         CAM    male   7/18/95    1.69
10897  990500234    Vitiny Hemthon         CAM  female   10/7/93    1.63

       weight      sport  gold  silver  bronze
5899     55.0  athletics     0       0       0
7871     55.0  athletics     0       0       0
9606     73.0  taekwondo     0       0       0
10004    48.0  wrestling     0       0       0
10014    62.0   aquatics     0       0       0
10897    50.0   aquatics     0       0       0
CAN
              id                         name nationality     sex       dob  \
2      435962603                  Aaron Brown         CAN    male   5/27/92
77     136977152                  Adam Froese         CAN    male   8/13/91
92     983411298           Adam van Koeverden         CAN    male   1/29/82
238    769580282                 Akeem Haynes         CAN    male   3/11/92
332     84230211                  Alena Sharp         CAN  female    3/7/81
492    537043954                 Alicia Brown         CAN  female   1/21/90
536    373002185            Allison Beveridge         CAN  female    6/1/93
541    686662012              Allysha Chapman         CAN  female   1/25/89
564    746918674                Alysha Newman         CAN  female   6/29/94
570    431586792          Alyxandria Treasure         CAN  female   5/15/92
615    310265171                 Amelie Kretz         CAN  female   5/19/93
641    912480643                   Amy Millar         CAN  female   2/14/77
746    857846421              Andre de Grasse         CAN    male  11/10/94
772    976796859             Andrea Seccafien         CAN  female   8/27/90
775    321087951           Andreanne Langlois         CAN  female    4/1/93
840    559300154                 Andrew Yorke         CAN    male  12/20/88
889    789985846                 Angela Whyte         CAN  female   5/22/80
905    482234536                Anicka Newell         CAN  female    8/5/93
1022   818993615              Anthony Romaniw         CAN    male   9/15/91
1026   851486993  Antje von Seydlitz-Kurzbach         CAN  female   9/16/90
1029   110778822             Antoine Bouchard         CAN    male   8/24/94
1031   778856814             Antoine Duchesne         CAN    male   9/12/91
1034   418069781       Antoine Valois-Fortier         CAN    male   3/13/90
1055   281632549               Antoni Kindler         CAN    male   5/16/88
1105   978867868                Ariane Fortin         CAN  female  11/20/84
1149   216948866           Arthur Biyarslanov         CAN    male   4/22/95
1194   790221508              Ashley Lawrence         CAN  female   6/11/95
1198   405218283                Ashley Steacy         CAN  female   6/28/87
1203   902296774               Ashton Baumann         CAN    male    1/5/93
1238   330818489               Audrey Lacroix         CAN  female  11/17/83
...          ...                          ...         ...     ...       ...
9735   289631929                Shallon Olsen         CAN  female   7/10/00
9769   239879514              Shawnacy Barber         CAN    male   5/27/94
9780   963097425             Shelina Zadorsky         CAN  female  10/24/92
9826   920840087               Shona Thorburn         CAN  female    8/7/82
9992   901973768               Sophie Schmidt         CAN  female   6/28/88
10089  944264216             Stephanie Horner         CAN  female   3/19/89
10090  238315993              Stephanie Labbe         CAN  female  10/10/86
10122   59291100              Steven Marshall         CAN    male  11/23/89
10150  963404474                Sukhi Panesar         CAN    male  12/26/93
10177  199049873             Susanne Grainger         CAN  female  12/30/90
10207  897751532               Sydney Pickrem         CAN  female   5/21/97
10262  215126261                Tamara Tatham         CAN  female   8/19/85
10299  347121929                 Tara Whitten         CAN  female   7/13/80
10308  373794222                 Taryn Suttie         CAN  female   12/7/90
10336  928304511                Taylor Curran         CAN    male   5/19/92
10338   45282983          Taylor Madison Ruck         CAN  female   5/28/00
10340  240962566                 Taylor Milne         CAN    male   9/14/81
10480  336393065               Tiffany Foster         CAN  female   7/24/84
10500  966796753                    Tim Nedow         CAN    male  10/16/90
10502  746547519                Tim Schrijver         CAN    male    2/7/92
10569  298179530                  Tom Ramshaw         CAN    male  11/18/91
10613  219098253                  Tory Nyhaug         CAN    male   4/17/92
10661   87568178             Tyler Mislawchuk         CAN    male   8/19/94
10663  834107099                Tyler Sanders         CAN    male  12/14/91
10760  499001095               Vasek Pospisil         CAN    male   6/23/90
10871  646986835             Vincent Riendeau         CAN    male  12/13/96
11002  202043393                Will Crothers         CAN    male   6/14/87
11003  212657714                    Will Dean         CAN    male   6/10/87
11156  982324748                 Yann Candele         CAN    male   3/11/71
11401  708404577                   Yuri Kisil         CAN    male   9/18/95

       height  weight         sport  gold  silver  bronze
2        1.98    79.0     athletics     0       0       1
77       1.82    81.0        hockey     0       0       0
92       1.82    85.0         canoe     0       0       0
238      1.68    71.0     athletics     0       0       1
332      1.68    69.0          golf     0       0       0
492      1.65    57.0     athletics     0       0       0
536      1.69    62.0       cycling     0       0       1
541      1.60    58.0      football     0       0       1
564      1.72    67.0     athletics     0       0       0
570      1.55    68.0     athletics     0       0       0
615      1.68    53.0     triathlon     0       0       0
641      1.83    59.0    equestrian     0       0       0
746      1.76    70.0     athletics     0       1       2
772      1.52    46.0     athletics     0       0       0
775      1.58    59.0         canoe     0       0       0
840      1.90    75.0     triathlon     0       0       0
889      1.70    62.0     athletics     0       0       0
905      1.75    64.0     athletics     0       0       0
1022     1.80    80.0     athletics     0       0       0
1026     1.79    76.0        rowing     0       0       0
1029     1.80    66.0          judo     0       0       0
1031     1.89    73.0       cycling     0       0       0
1034     1.90    81.0          judo     0       0       0
1055     1.88    85.0        hockey     0       0       0
1105     1.75     NaN        boxing     0       0       0
1149     1.74     NaN        boxing     0       0       0
1194     1.64    60.0      football     0       0       1
1198     1.58    64.0  rugby sevens     0       0       1
1203     1.91    74.0      aquatics     0       0       0
1238     1.63    54.0      aquatics     0       0       0
...       ...     ...           ...   ...     ...     ...
9735     1.58    52.0    gymnastics     0       0       0
9769     1.87    82.0     athletics     0       0       0
9780     1.72    67.0      football     0       0       1
9826     1.75    70.0    basketball     0       0       0
9992     1.72    68.0      football     0       0       1
10089    1.80    69.0      aquatics     0       0       0
10090    1.78    63.0      football     0       0       1
10122    1.93    87.0    volleyball     0       0       0
10150    1.80    75.0        hockey     0       0       0
10177    1.88    86.0        rowing     0       0       0
10207    1.68    57.0      aquatics     0       0       0
10262    1.85    79.0    basketball     0       0       0
10299    1.66    67.0       cycling     0       0       0
10308    1.83   103.0     athletics     0       0       0
10336    1.83    80.0        hockey     0       0       0
10338    1.83    60.0      aquatics     0       0       2
10340    1.65    60.0     athletics     0       0       0
10480    1.65    50.0    equestrian     0       0       0
10500    2.00   140.0     athletics     0       0       0
10502    2.03   104.0        rowing     0       0       0
10569    1.83    95.0       sailing     0       0       0
10613    1.85    92.0       cycling     0       0       0
10661    1.72    59.0     triathlon     0       0       0
10663    1.91    81.0    volleyball     0       0       0
10760    1.94    87.0        tennis     0       0       0
10871    1.78    68.0      aquatics     0       0       0
11002    1.95    95.0        rowing     0       0       0
11003    1.95    95.0        rowing     0       0       0
11156    1.73    82.0    equestrian     0       0       0
11401    2.00    84.0      aquatics     0       0       0

[321 rows x 11 columns]
CAY
             id             name nationality     sex       dob  height  \
3436  191528927   Florence Allan         CAY  female   5/26/98    1.68
3630  289855181  Geoffrey Butler         CAY    male   12/7/95    1.88
5641  762215715      Kemar Hyman         CAY    male  10/11/89    1.78
5959  165918129      Lara Butler         CAY  female   10/2/94    1.72
9185  106685753    Ronald Forbes         CAY    male    4/5/85     NaN

      weight      sport  gold  silver  bronze
3436    57.0    sailing     0       0       0
3630    84.0   aquatics     0       0       0
5641    74.0  athletics     0       0       0
5959    60.0   aquatics     0       0       0
9185     NaN  athletics     0       0       0
CGO
              id                           name nationality     sex      dob  \
1851   728202401                 Cecilia Bouele         CGO  female   1/7/93
2565   343364504             Deo Gracia Ngokaba         CGO    male  5/17/97
2620   689489031             Dienov Andres Koka         CGO    male   8/2/96
2657   158299289  Dival Forele Malonga Dzalamou         CGO    male  4/18/95
3490   246262074                  Franck Elemba         CGO    male  7/21/90
4876   246757519                    Jianan Wang         CGO    male  1/20/83
7756    61885653        Mpi Anauel Ngamissengue         CGO    male   2/3/96
10041  577610153         Stefan Bellore Sangala         CGO  female   1/2/95
10170  912469374                    Suraju Saka         CGO    male   5/5/76
11085  935030404                       Xing Han         CGO  female  11/8/89

       height  weight         sport  gold  silver  bronze
1851     1.66    60.0     athletics     0       0       0
2565     1.90   140.0          judo     0       0       0
2620     1.73    68.0      aquatics     0       0       0
2657      NaN     NaN        boxing     0       0       0
3490     1.98   130.0     athletics     0       0       0
4876     1.77    77.0  table tennis     0       0       0
7756     1.70     NaN        boxing     0       0       0
10041    1.65    58.0      aquatics     0       0       0
10170    1.70    68.0  table tennis     0       0       0
11085    1.65    57.0  table tennis     0       0       0

CHA
             id              name nationality     sex      dob  height  \
1300  167699785    Bachir Mahamat         CHA    male  12/1/96    1.86
1481  589789761  Bibiro Ali Taher         CHA  female  4/24/88    1.60

      weight      sport  gold  silver  bronze
1300    59.0  athletics     0       0       0
1481    44.0  athletics     0       0       0
CHI
              id                         name nationality     sex       dob  \
808    771905591               Andres Ducasse         CHI    male   6/24/92
1090   982181588              Arantza Gumucio         CHI  female   10/4/89
1326   573831491              Barbara Riveros         CHI  female    8/3/87
1386   471766284               Begona Gumucio         CHI  female   1/14/92
1426    65135786         Benjamin Grez Ahrens         CHI    male   12/3/92
1451   833677171       Bernardo Guerrero Diaz         CHI    male   6/10/86
1772   666394255           Carlos Lobos Munoz         CHI    male  12/21/80
2222   301673145        Cristobal Grez Ahrens         CHI    male  12/17/87
2318   254552114               Daniel Estrada         CHI    male   2/27/90
2811   687926847                 Edward Araya         CHI    male   2/14/86
3079   533594099                   Enzo Yanez         CHI    male   9/13/85
3120   630444522                Erika Olivera         CHI  female    1/4/76
3152   969516375              Esteban Grimalt         CHI    male    1/9/91
3336   715303809               Felipe Aguilar         CHI    male   11/7/74
3340   959719489      Felipe Cardenas Morales         CHI    male   7/22/91
3349   921036132                 Felipe Tapia         CHI    male   4/25/95
3479   425631423    Francisca Crovetto Chadid         CHI  female   4/27/90
3485   478446820            Francisco Ducasse         CHI    male   12/3/96
3957    14222550      Hans Podlipnik-Castillo         CHI    male    1/9/88
4257   911577483              Ignacio Morales         CHI    male   8/12/95
4421   181441933              Isidora Jimenez         CHI  female   8/10/93
5159   767377720          Jose Luis Rodriguez         CHI    male    6/1/94
5175   938961398        Josefa Vila Betancurt         CHI  female    2/6/97
5318   747521379  Julio Cesar Acosta Gonzalez         CHI    male   7/22/87
5325   293911956                Julio Peralta         CHI    male    9/9/81
5435   263091246               Karen Gallardo         CHI  female    3/6/84
5839   321162229              Kristel Kobrich         CHI  female    8/9/85
6733   886667539                Marco Grimalt         CHI    male   7/11/89
6810   395263582  Maria Fernanda Valdes Paris         CHI  female   3/17/92
7169   931233756             Matias del Solar         CHI    male  11/29/75
7337   242511677               Melita Abraham         CHI  female    7/7/97
7829   688425243                Nadja Horwitz         CHI  female   3/10/96
7879   945555989                 Natalia Duco         CHI  female   1/31/89
7894   228374480               Natalia Romero         CHI  female   2/26/80
8432   124063612                  Paola Munoz         CHI  female   4/13/86
9007   711718943                 Ricardo Soto         CHI    male  10/22/99
9889   422875239                Simona Castro         CHI  female   1/11/89
9943   419623115              Sofia Middleton         CHI  female   3/12/93
10438  360675944               Thomas Briceno         CHI    male   9/16/93
10576   53247064               Tomas Gonzalez         CHI    male  11/22/85
10804  198342904               Victor Aravena         CHI    male    2/5/90
11218  617589431                  Yerko Araya         CHI    male   2/14/86

       height  weight          sport  gold  silver  bronze
808      1.71    66.0        sailing     0       0       0
1090     1.65    61.0        sailing     0       0       0
1326     1.57    46.0      triathlon     0       0       0
1386     1.69    66.0        sailing     0       0       0
1426     1.81    76.0        sailing     0       0       0
1451     1.90    75.0         rowing     0       0       0
1772     1.75    73.0     equestrian     0       0       0
2222     1.79    81.0        sailing     0       0       0
2318     1.73    61.0      athletics     0       0       0
2811     1.76    62.0      athletics     0       0       0
3079     1.74    63.0      athletics     0       0       0
3120     1.63    55.0      athletics     0       0       0
3152     1.90    88.0     volleyball     0       0       0
3336     1.70    72.0           golf     0       0       0
3340     1.83    75.0         rowing     0       0       0
3349     1.76    70.0       aquatics     0       0       0
3479     1.60    54.0       shooting     0       0       0
3485     1.75    68.0        sailing     0       0       0
3957     1.84    79.0         tennis     0       0       0
4257     1.79    62.0      taekwondo     0       0       0
4421     1.70    56.0      athletics     0       0       0
5159     1.80    75.0        cycling     0       0       0
5175     1.69    60.0         rowing     0       0       0
5318     1.60    61.0  weightlifting     0       0       0
5325     1.89    80.0         tennis     0       0       0
5435     1.75    96.0      athletics     0       0       0
5839     1.70    60.0       aquatics     0       0       0
6733     1.96    92.0     volleyball     0       0       0
6810     1.61    75.0  weightlifting     0       0       0
7169     1.84    87.0        sailing     0       0       0
7337     1.70    62.0         rowing     0       0       0
7829     1.66    58.0        sailing     0       0       0
7879     1.77   100.0      athletics     0       0       0
7894     1.63    57.0      athletics     0       0       0
8432     1.64    54.0        cycling     0       0       0
9007     1.83    88.0        archery     0       0       0
9889     1.60    54.0     gymnastics     0       0       0
9943     1.68    60.0        sailing     0       0       0
10438    1.86    90.0           judo     0       0       0
10576    1.70    67.0     gymnastics     0       0       0
10804    1.66    55.0      athletics     0       0       0
11218    1.78    64.0      athletics     0       0       0
CHN
              id             name nationality     sex       dob  height  \
200    634178292      Aichen Wang         CHN    male   3/28/85    1.85
214    356290857        Ailun Guo         CHN    male  11/14/93    1.92
223    840071617       Aisen Chen         CHN    male  10/22/95    1.68
358    851889356    Alex Hua Tian         CHN    male  10/25/89    1.90
1012   976455975          Anqi Xu         CHN  female   1/23/92    1.82
1205   388101012         Ashun Wu         CHN    male   6/22/85    1.81
1315   368675991     Baofang Zhao         CHN  female   8/12/93    1.70
1480   107444997        Biao Chai         CHN    male  10/10/90    1.86
1491   613452490         Bin Dong         CHN    male  11/22/88    1.80
1492   525898651         Bin Feng         CHN  female    4/3/94    1.84
1493   877888215           Bin Lv         CHN    male  10/18/94    1.65
1494   420088639         Bin Yang         CHN    male   7/10/89    1.80
1495   774637226     Binbin Zhang         CHN  female   2/23/89    1.64
1496   597092136      Bingtian Su         CHN    male   8/29/89    1.73
1498   442225974       Binyuan Hu         CHN    male   11/7/77    1.80
1523   306720792           Bo Qiu         CHN    male   1/31/93    1.65
1545   599338352      Bokai Huang         CHN    male   9/26/96    1.90
1736   495694072       Cancan Ren         CHN  female   1/26/88    1.68
1898   200603322  Changning Zhang         CHN  female   11/6/95    1.93
1900   428792415     Changrui Xue         CHN    male   5/31/91    1.88
1901   278225437  Changzhou Huang         CHN    male   8/20/94    1.86
1908   912660957          Chao He         CHN    male   2/11/92    1.68
1909    89640785          Chao Xu         CHN    male   11/5/94    1.85
1910   248093384         Chao Yue         CHN  female    1/5/91    1.65
1911   176787590        Chao Zhou         CHN  female   1/12/87    1.70
1912   516647126      Chaopan Lin         CHN    male   8/27/95    1.63
1954   774700015         Chen Gao         CHN  female   8/11/92    1.70
1955   355354758        Chen Shen         CHN  female   7/28/90    1.71
1956   332886320          Chen Xu         CHN    male  11/29/84    1.88
1958   247619979     Chenggang Yu         CHN    male   2/23/84    1.81
...          ...              ...         ...     ...       ...     ...
11392  491896324      Yunlei Zhao         CHN  female   8/25/86    1.73
11393  787363560         Yunli Xu         CHN  female    8/2/87    1.95
11394  243639998     Yunlong Jiao         CHN    male   5/19/88    1.90
11395  274497328       Yuqing Bao         CHN  female   9/23/93    1.73
11424   73681451       Yuwei Wang         CHN  female   7/16/91    1.87
11449  280809443       Zangjun Xu         CHN    male    2/6/92    1.75
11459  343970933        Zelin Cai         CHN    male   4/11/91    1.75
11463  788878355       Zetao Ning         CHN    male    3/6/93    1.91
11473  548518238         Zhe Yang         CHN    male   7/14/91    1.87
11474  315308490     Zhehui Zhang         CHN  female   1/17/88    1.77
11475  167115740      Zhelin Wang         CHN    male   1/20/94    2.14
11476  448660080        Zhen Wang         CHN    male   6/26/89    1.72
11477  920733515        Zhen Wang         CHN    male   8/24/91    1.75
11478  604655983        Zhen Zeng         CHN  female  11/28/93    1.70
11479  925389312    Zhendong Wang         CHN    male   1/11/91    1.80
11480  659569127       Zheng Wang         CHN  female  12/14/87    1.75
11482  272027054       Zhenye Xie         CHN    male   8/17/93    1.84
11483  756808595     Zhifang Zhao         CHN  female   8/11/94    1.68
11484  123124501      Zhiwei Deng         CHN    male    2/1/88    1.88
11485  484683254      Zhiwei Wang         CHN    male   7/18/88    1.78
11487  334126873      Zhiyong Shi         CHN    male  10/10/93    1.68
11488  366579245    Zhongrong Cao         CHN    male   11/3/81    1.80
11489  839669919        Zhuhao Li         CHN    male    1/9/99    1.85
11491  105609876            Zi He         CHN  female  12/10/90    1.60
11493  807355678         Ziao Qiu         CHN    male   8/30/98    1.82
11494  425868187        Zibei Yan         CHN    male  10/12/95    1.90
11495  560564596      Zicheng Hui         CHN    male    6/2/89    1.77
11498  192304802       Zihan Zhao         CHN  female    9/4/93    1.72
11504  799874941         Zixia Ou         CHN  female   9/24/95    1.68
11535   88361042          di Xiao         CHN    male   5/14/91    1.85

       weight              sport  gold  silver  bronze
200      75.0            sailing     0       0       0
214      85.0         basketball     0       0       0
223      60.0           aquatics     2       0       0
358      70.0         equestrian     0       0       0
1012     76.0            fencing     0       1       0
1205     81.0               golf     0       0       0
1315     64.0            cycling     0       0       0
1480     80.0          badminton     0       0       0
1491     74.0          athletics     0       0       1
1492     95.0          athletics     0       0       0
1493      NaN             boxing     0       0       0
1494     80.0          wrestling     0       0       0
1495     55.0           shooting     0       1       0
1496     70.0          athletics     0       0       0
1498     75.0           shooting     0       0       0
1523     62.0           aquatics     0       0       0
1545     78.0          athletics     0       0       0
1736      NaN             boxing     0       0       1
1898     79.0         volleyball     1       0       0
1900     75.0          athletics     0       0       0
1901     73.0          athletics     0       0       0
1908     67.0           aquatics     0       0       0
1909     82.0            cycling     0       0       0
1910     50.0          athletics     0       0       0
1911     70.0               judo     0       0       0
1912     60.0         gymnastics     0       0       1
1954     58.0           football     0       0       0
1955     62.0            fencing     0       0       0
1956     82.0          badminton     0       0       0
1958     72.0             rowing     0       0       0
...       ...                ...   ...     ...     ...
11392    60.0          badminton     0       0       1
11393    75.0         volleyball     1       0       0
11394    87.0            fencing     0       0       0
11395    55.0         gymnastics     0       0       0
11424    74.0             rowing     0       0       0
11449    65.0            sailing     0       0       0
11459    55.0          athletics     0       1       0
11463    80.0           aquatics     0       0       0
11473   105.0      weightlifting     0       0       0
11474    76.0               judo     0       0       0
11475   100.0         basketball     0       0       0
11476    65.0            cycling     0       0       0
11477    55.0          athletics     1       0       0
11478    61.0           aquatics     0       1       0
11479    55.0          athletics     0       0       0
11480   105.0          athletics     0       0       0
11482    78.0          athletics     0       0       0
11483    57.0         basketball     0       0       0
11484   120.0          wrestling     0       0       0
11485    77.0           shooting     0       0       0
11487    69.0      weightlifting     1       0       0
11488    73.0  modern pentathlon     0       0       0
11489    76.0           aquatics     0       0       0
11491    52.0           aquatics     0       1       0
11493    67.0           aquatics     0       0       0
11494    75.0           aquatics     0       0       0
11495    70.0           shooting     0       0       0
11498    62.0           aquatics     0       0       0
11504    61.0             hockey     0       0       0
11535   100.0          wrestling     0       0       0

[404 rows x 11 columns]
CIV
              id                          name nationality     sex       dob  \
1410   727557746             Ben Youssef Meite         CIV    male  11/11/86
1951   284105289    Cheick Sallah Junior Cisse         CIV    male   9/19/93
3608   608678057           Gbahi Gwladys Sakoa         CIV  female   12/3/92
4168   312441381            Hua Wilfried Koffi         CIV    male  10/12/87
6640   119339549                   Mamina Kone         CIV  female  12/27/88
6890   322081073            Marie-Josee Ta Lou         CIV  female  11/18/88
7781   845100767               Murielle Ahoure         CIV  female   8/23/87
8969    94618006         Rene Philippe Kouassi         CIV    male  12/14/79
9292   379466742  Ruth Marie Christelle Gbagbi         CIV  female    2/7/94
10254  122731267          Talita Marie Te Flan         CIV  female    6/2/95
10428  914516277           Thibaut Amani Danho         CIV    male   1/15/94
11521  281890328      Zoulehia Abzetta Dabonne         CIV  female  12/15/92

       height  weight      sport  gold  silver  bronze
1410     1.80    75.0  athletics     0       0       0
1951     1.90     NaN  taekwondo     1       0       0
3608     1.71    64.0    fencing     0       0       0
4168     1.89    76.0  athletics     0       0       0
6640     1.73     NaN  taekwondo     0       0       0
6890     1.59    50.0  athletics     0       0       0
7781     1.65    58.0  athletics     0       0       0
8969     1.90    83.0    archery     0       0       0
9292     1.76    65.0  taekwondo     0       0       1
10254    1.76    63.0   aquatics     0       0       0
10428    1.85    82.0   aquatics     0       0       0
11521    1.75    57.0       judo     0       0       0
CMR
              id                               name nationality     sex  \
46     259675127                Abdoulkarim Fawziya         CMR  female
976     25318407                  Annabel Laure Ali         CMR  female
1093   174361869        Arcangeline Fouodji Sonkbou         CMR  female
1258   157040817                     Auriole Dongmo         CMR  female
1460   390927427     Berthrade Simone Flore Bikatal         CMR  female
1533   215144146  Bodo Essissima Madeleine Samantha         CMR  female
2035   572557268         Christelle Tchoudjang Nana         CMR  female
2622   316835810    Dieudonne Wilfred Seyi Ntsengue         CMR    male
3006   987023518                 Emelda Piata Zessi         CMR  female
3998   173152080                 Hassan Ndam Njikam         CMR    male
4077   530692898            Henriette Nadege Koulla         CMR  female
4147   782647147   Hortence Vanessa Mballa Atangana         CMR  female
5011   603523767   Joelle Sandrine Mbumi Nkouindjin         CMR  female
5183   722417692     Joseph Emilienne Essombe Tiako         CMR  female
5944     1610593    Laetitia Crescence Moma Bassoko         CMR  female
6559   514748025                     Mahaman Smaila         CMR    male
8632    70412036              Petit David Minkoumba         CMR    male
8858   711937461                      Raissa Nasser         CMR  female
8922   564979166               Rebecca Ndolo Muambo         CMR  female
9907   203750302                   Simplice Fotsala         CMR    male
10088  195104856            Stephanie Fotso Mogoung         CMR  female
10406  119367610     Theorine Christelle Aboa Mbeza         CMR  female
10803  690173780   Victoire Pauline L'or Ngon Ntame         CMR  female
11268  336097063      Yolande Juliana Amana Guigolo         CMR  female

            dob  height  weight          sport  gold  silver  bronze
46       3/1/89    1.80    67.0     volleyball     0       0       0
976      3/4/85    1.76    75.0      wrestling     0       0       0
1093    8/26/87    1.58    68.0  weightlifting     0       0       0
1258     8/3/90    1.73    95.0      athletics     0       0       0
1460    7/23/92    1.83    76.0     volleyball     0       0       0
1533    4/29/92    1.82    75.0     volleyball     0       0       0
2035     7/7/89    1.84    80.0     volleyball     0       0       0
2622    1/23/98    1.83     NaN         boxing     0       0       0
3006     4/8/97    1.90    65.0     volleyball     0       0       0
3998    2/18/84    1.82     NaN         boxing     0       0       0
4077    9/14/92    1.69    67.0     volleyball     0       0       0
4147     1/5/92    1.71    78.0           judo     0       0       0
5011    5/25/86    1.70    63.0      athletics     0       0       0
5183    3/22/88    1.59    55.0      wrestling     0       0       0
5944    10/9/93    1.84    80.0     volleyball     0       0       0
6559    2/28/86    1.78     NaN         boxing     0       0       0
8632    2/27/89    1.71    92.0  weightlifting     0       0       0
8858    8/19/94    1.73    73.0     volleyball     0       0       0
8922    7/16/85    1.52    48.0      wrestling     0       0       0
9907     5/9/89    1.54     NaN         boxing     0       0       0
10088   9/25/87    1.84    78.0     volleyball     0       0       0
10406   8/25/92    1.82    78.0     volleyball     0       0       0
10803  12/31/85    1.77    79.0     volleyball     0       0       0
11268   9/15/97    1.84    78.0     volleyball     0       0       0
COD
             id                            name nationality     sex       dob  \
1372   33337656       Beatrice Kamuchanga Alice         COD  female  11/20/97
5406  790596898  Kamongwa Salukombo Makorobondo         COD    male   8/13/88
9137  480321541                    Rodrick Kuku         COD    male    4/6/86
9201  726865426              Rosa Keleku Lukusa         COD  female   1/16/95

      height  weight      sport  gold  silver  bronze
1372     NaN     NaN  athletics     0       0       0
5406     NaN     NaN  athletics     0       0       0
9137     NaN    66.0       judo     0       0       0

ISL
              id                       name nationality     sex       dob  \
914    790724196        Anita Hinriksdottir         ISL  female   1/13/96
1046   108256011                Anton McKee         ISL    male  12/18/93
1180   481165955         Asdis Hjalmsdottir         ISL  female  10/28/85
3237   317494421        Eyglo Gustafsdottir         ISL  female    2/1/95
3823   576749129       Gudni Valur Gudnason         ISL    male  10/11/95
4160   578319115  Hrafnhildur Luthersdottir         ISL  female    8/2/91
4371   219669436             Irina Sazonova         ISL  female    9/2/91
10460  711886868          Thormodur Jonsson         ISL    male    3/2/83

       height  weight       sport  gold  silver  bronze
914      1.72    49.0   athletics     0       0       0
1046     1.83    84.0    aquatics     0       0       0
1180     1.78    70.0   athletics     0       0       0
3237     1.87    82.0    aquatics     0       0       0
3823     1.99   120.0   athletics     0       0       0
4160     1.78    65.0    aquatics     0       0       0
4371     1.60    55.0  gymnastics     0       0       0
10460    1.96   110.0        judo     0       0       0
ISR
              id                           name nationality     sex       dob  \
146     23462736                   Ageze Guadie         ISR    male   9/11/89
398    961318209             Alexander Shatilov         ISR    male   3/22/87
548    300655502             Alona Koshevatskiy         ISR  female   10/8/97
631    364715226                      Amit Ivry         ISR  female    9/2/89
688    301110204  Anastasia Gloushkov Leventhal         ISR  female   5/24/85
767    448392462                   Andrea Murez         ISR  female   1/29/92
2288   619597624                  Dan Froyliche         ISR    male  11/18/92
2666    19397250                 Dmitry Kroyter         ISR    male   2/18/93
2694   671503207           Donald Blair-Sanford         ISR    male    2/5/87
2745   421676120                      Dudi Sela         ISR    male    4/4/85
2855   392249714               Ekaterina Levina         ISR  female    2/1/97
3236   524481891                    Eyal Levine         ISR    male   8/27/86
3575   324536211                       Gal Nevo         ISR    male   6/29/87
3700   684871850                      Gil Cohen         ISR  female    7/7/92
3705   275098717                     Gili Cohen         ISR  female   6/19/91
3761   142292684                  Golan Pollack         ISR    male   9/10/91
3933   750989988        Hanna Knyazyeva-Minenko         ISR  female   9/25/89
4247   412225321                     Ida Mayrin         ISR  female  10/30/97
4253   693361470           Ievegeniia Tetelbaum         ISR  female   7/31/91
4270   882236724              Igor Olshanetskyi         ISR    male   2/16/86
4284    14214437                  Ilana Kratysh         ISR  female    7/6/90
5456   402338305                 Karina Lykhvar         ISR  female  12/11/98
5669   519543861                  Keren Siebner         ISR  female    6/9/90
5943   796815573                  Laetitia Beck         ISR  female    2/5/92
6213   489441345                   Linda Bolder         ISR  female    7/3/88
6310   634263213         Lornah Chemtai Korlima         ISR  female  12/12/88
6503   908862793              Maayan Davidovich         ISR  female   5/21/88
6690   990150557                   Maor Tiyouri         ISR  female   8/13/90
7085    62434883                    Maru Teferi         ISR    male   8/17/92
7622   787920390                Misha Zilberman         ISR    male   1/30/89
7988   406378010                    Neta Rivkin         ISR  female   6/19/91
8135   624774853                      Nina Amir         ISR  female   1/17/99
8338   756542327                      Or Sasson         ISR    male   8/18/90
9182   312147622                      Ron Atias         ISR    male   4/19/95
9183   226253632                     Ron Darmon         ISR    male  10/30/92
9354   888210415                      Sagi Muki         ISR    male   5/17/92
9676   645801054                 Sergey Richter         ISR    male   4/23/89
9725   753177730                  Shahar Zubari         ISR    male    9/1/86
9741   690199324                    Shani Bloch         ISR  female    3/6/79
9808   109446999                  Shira Rishony         ISR  female   2/21/91
9817   880751102                   Shlomi Haimy         ISR    male   6/19/89
10310  244910670                  Tasama Moogas         ISR    male    2/2/88
11118  549751997                Yakov Toumarkin         ISR    male   2/15/92
11164  876086077                   Yarden Gerbi         ISR  female    7/8/89
11423  904630839                     Yuval Filo         ISR  female    3/3/98
11500  274387882                 Ziv Kalontarov         ISR    male   1/15/97
11512  371106012                  Zohar Shikler         ISR  female    7/8/97

       height  weight          sport  gold  silver  bronze
146      1.75    56.0      athletics     0       0       0
398      1.83    77.0     gymnastics     0       0       0
548      1.70    53.0     gymnastics     0       0       0
631      1.70    65.0       aquatics     0       0       0
688      1.65    53.0       aquatics     0       0       0
767      1.84    77.0       aquatics     0       0       0
2288     1.82    73.0        sailing     0       0       0
2666     1.87    73.0      athletics     0       0       0
2694     1.96    81.0      athletics     0       0       0
2745     1.75    67.0         tennis     0       0       0
2855     1.68    52.0     gymnastics     0       0       0
3236     1.70    60.0        sailing     0       0       0
3575     1.80    80.0       aquatics     0       0       0
3700     1.70    62.0        sailing     0       0       0
3705     1.60    52.0           judo     0       0       0
3761     1.75    66.0           judo     0       0       0
3933     1.79    62.0      athletics     0       0       0
4247     1.72    52.0     gymnastics     0       0       0
4253     1.58    48.0       aquatics     0       0       0
4270     1.84   130.0  weightlifting     0       0       0
4284     1.69    69.0      wrestling     0       0       0
5456     1.70    53.0     gymnastics     0       0       0
5669     1.80    68.0       aquatics     0       0       0
5943     1.75    61.0           golf     0       0       0
6213     1.73    70.0           judo     0       0       0
6310     1.65    52.0      athletics     0       0       0
6503     1.67    57.0        sailing     0       0       0
6690     1.48    44.0      athletics     0       0       0
7085     1.64    52.0      athletics     0       0       0
7622     1.71    61.0      badminton     0       0       0
7988     1.70    50.0     gymnastics     0       0       0
8135     1.70    62.0        sailing     0       0       0
8338     1.93   120.0           judo     0       0       1
9182     1.70    58.0      taekwondo     0       0       0
9183     1.75    65.0      triathlon     0       0       0
9354     1.80    73.0           judo     0       0       0
9676     1.80    83.0       shooting     0       0       0
9725     1.77    68.0        sailing     0       0       0
9741     1.62    59.0        cycling     0       0       0
9808     1.50    48.0           judo     0       0       0
9817     1.67    58.0        cycling     0       0       0
10310    1.64    53.0      athletics     0       0       0
11118    1.92    90.0       aquatics     0       0       0
11164    1.69    63.0           judo     0       0       1
11423    1.68    47.0     gymnastics     0       0       0
11500    1.85    71.0       aquatics     0       0       0
11512    1.78    61.0       aquatics     0       0       0
ISV
             id                    name nationality     sex       dob  height  \
1846   71279109           Caylee Watson         ISV  female  10/10/94     NaN
2229  492543946             Cy Thompson         ISV    male    7/1/88     NaN
2780  250017195            Eddie Lovett         ISV    male   6/25/92    1.80
6054  821849198     Laurent Jr. Clayton         ISV    male   7/18/90     NaN
6062    6350689  Laverne Jones-Ferrette         ISV  female   9/16/81    1.73
7763  758048391          Muhammad Halim         ISV    male  10/26/86    1.91
8987  248931578         Rexford Tullius         ISV    male   3/10/87     NaN

      weight      sport  gold  silver  bronze
1846     NaN   aquatics     0       0       0
2229     NaN    sailing     0       0       0
2780    73.0  athletics     0       0       0
6054     NaN     boxing     0       0       0
6062    68.0  athletics     0       0       0
7763    82.0  athletics     0       0       0
8987     NaN   aquatics     0       0       0
ITA
              id                              name nationality     sex  \
47     469953606                Abdoullah Bamoussa         ITA    male
124    217850967  Adrian Ignacio Carambula Raurich         ITA    male
147    971796358                    Aglaia Pezzato         ITA  female
281    861268031                 Alberto Ricchetti         ITA    male
285     46123715                      Aldo Montano         ITA    male
312    928101165                  Aleksandra Cotti         ITA  female
336    236415837                Alessandra Patelli         ITA  female
338    630246233              Alessandro De Marchi         ITA    male
339     24174970                 Alessandro Fabian         ITA    male
340    213338722                   Alessandro Nora         ITA    male
341    346410285                Alessandro Velotto         ITA    male
342      5076328                   Alessia Gennari         ITA  female
343    559742871                  Alessia Maurelli         ITA  female
344    488353513                      Alessia Orro         ITA  female
345    767623428                   Alessia Polieri         ITA  female
346    389711690                     Alessia Trost         ITA  female
363    557501936                    Alex Ranghieri         ITA    male
369    893073673                   Alex di Giorgio         ITA    male
485    200278263                      Alice Mizzau         ITA  female
489    693106463                       Alice Sinno         ITA  female
490    350838880                      Alice Sotero         ITA  female
748    974131096                    Andrea Baldini         ITA    male
751    676115258                    Andrea Cassara         ITA    male
753    626748734                 Andrea Chiarabini         ITA    male
754    575091525                   Andrea D'Arrigo         ITA    male
756    419373605                   Andrea Fondelli         ITA    male
765    187152270                 Andrea Micheletti         ITA    male
771    583417630                 Andrea Santarelli         ITA    male
773     36880136                     Andrea Tiberi         ITA    male
774    234036323                    Andrea Toniato         ITA    male
...          ...                               ...         ...     ...
9941   989432081                        Sofia Lodi         ITA  female
9976   171624562                    Sonia Malavisi         ITA  female
10054  436598092                  Stefania Pirozzi         ITA  female
10056  188282515                     Stefanie Horn         ITA  female
10058  857655408               Stefano Brecciaroli         ITA    male
10060  137494922                      Stefano Oppo         ITA    male
10064  965767592                  Stefano Tempesti         ITA    male
10065  891446436                   Stefano la Rosa         ITA    male
10283  401251209                    Tania Cagnotto         ITA  female
10285  424029874                    Tania di Mario         ITA  female
10318  374496832                   Tatiana Guderzo         ITA  female
10355    7619971                Teodorico Caporaso         ITA    male
10360  214021045                Teresa Frassinetti         ITA  female
10442  391980322                   Thomas Fabbiano         ITA    male
10728  285574820                 Valentina Moscatt         ITA  female
10729  532724520                  Valentina Rodini         ITA  female
10730  352760379                  Valentina Truppa         ITA  female
10731  833598839                   Valentino Gallo         ITA    male
10732  125173784             Valentino Manfredonia         ITA    male
10735  645890847                   Valeria Straneo         ITA  female
10751  321151857                   Vanessa Ferrari         ITA  female
10786  246757906                Veronica Bertolini         ITA  female
10789  436719037                  Veronica Inglese         ITA  female
10874  974436408                  Vincenzo Capelli         ITA    male
10875  983925141              Vincenzo Mangiacapre         ITA    male
10876  242715735                   Vincenzo Nibali         ITA    male
10901  506125969                  Vittorio Bissaro         ITA    male
11112  438851517               Yadisleidis Pedroso         ITA  female
11400   10496716                     Yuri Floriani         ITA    male
11414  529316870                Yusneysi Santiusti         ITA  female

            dob  height  weight              sport  gold  silver  bronze
47       6/8/86     NaN     NaN          athletics     0       0       0
124     3/16/88    1.82    83.0         volleyball     0       0       0
147     4/22/94    1.75    60.0           aquatics     0       0       0
281     5/26/85    1.86    88.0              canoe     0       0       0
285    11/18/78    1.84    82.0            fencing     0       0       0
312    12/13/88    1.67    65.0           aquatics     0       1       0
336    11/17/91    1.80    70.0             rowing     0       0       0
338     5/19/86    1.81    66.0            cycling     0       0       0
339      1/7/88    1.86    77.0          triathlon     0       0       0
340     5/24/87    1.91    85.0           aquatics     0       0       1
341     2/12/95    1.86    85.0           aquatics     0       0       1
342     11/3/91    1.84    68.0         volleyball     0       0       0
343     8/22/96    1.68    48.0         gymnastics     0       0       0
344     7/18/98    1.80    74.0         volleyball     0       0       0
345    10/21/94    1.63    55.0           aquatics     0       0       0
346      3/8/93    1.88    70.0          athletics     0       0       0
363     6/18/87    2.00    94.0         volleyball     0       0       0
369     7/28/90    1.85    75.0           aquatics     0       0       0
485     3/18/93    1.80    65.0           aquatics     0       0       0
489      9/8/92    1.75    69.0            sailing     0       0       0
490     5/28/91    1.66    53.0  modern pentathlon     0       0       0
748    12/19/85    1.75    70.0            fencing     0       0       0
751      1/3/84    1.93    93.0            fencing     0       0       0
753     3/12/95    1.79    79.0           aquatics     0       0       0
754     4/28/95    1.94    85.0           aquatics     0       0       0
756     2/27/94    1.90    96.0           aquatics     0       0       1
765     6/22/91    1.87    70.0             rowing     0       0       0
771      6/3/93    1.84    76.0            fencing     0       1       0
773    11/15/85    1.83    71.0            cycling     0       0       0
774     2/27/91    1.82    82.0           aquatics     0       0       0
...         ...     ...     ...                ...   ...     ...     ...
9941    1/29/98    1.75    57.0         gymnastics     0       0       0
9976   10/31/94    1.72    66.0          athletics     0       0       0
10054  12/16/93    1.70    59.0           aquatics     0       0       0
10056    1/9/91    1.68    59.0              canoe     0       0       0
10058  11/19/74    1.77    71.0         equestrian     0       0       0
10060   9/12/94    1.87    70.0             rowing     0       0       0
10064    6/9/79    2.05   100.0           aquatics     0       0       1
10065   9/28/85    1.70    54.0          athletics     0       0       0
10283   5/15/85    1.60    53.0           aquatics     0       1       1
10285    5/4/79    1.68    62.0           aquatics     0       1       0
10318   8/22/84    1.60    55.0            cycling     0       0       0
10355   9/14/87    1.70    55.0          athletics     0       0       0
10360  12/24/85    1.78    75.0           aquatics     0       1       0
10442   5/26/89    1.73    70.0             tennis     0       0       0
10728   3/16/87    1.52    48.0               judo     0       0       0
10729   1/28/95    1.67    54.0             rowing     0       0       0
10730   3/18/86    1.60    55.0         equestrian     0       0       0
10731   7/17/85    1.92    95.0           aquatics     0       0       1
10732   9/29/89    1.80     NaN             boxing     0       0       0
10735    4/5/76    1.65    45.0          athletics     0       0       0
10751  11/10/90    1.45    45.0         gymnastics     0       0       0
10786  10/19/95    1.67    48.0         gymnastics     0       0       0
10789  11/22/90    1.60    43.0          athletics     0       0       0
10874  10/26/88    1.94    95.0             rowing     0       0       0
10875   1/17/89    1.70     NaN             boxing     0       0       0
10876  11/14/84    1.80    60.0            cycling     0       0       0
10901    6/1/87    1.83    72.0            sailing     0       0       0
11112   1/28/87    1.70    50.0          athletics     0       0       0
11400  12/25/81    1.80    64.0          athletics     0       0       0
11414  12/24/84    1.63    48.0          athletics     0       0       0

[312 rows x 11 columns]
IVB
              id                    name nationality     sex      dob  height  \
1193   742039431            Ashley Kelly         IVB  female  3/25/91    1.73
2877   969535461            Eldred Henry         IVB    male  9/18/94     NaN
2919   731624234          Elinah Phillip         IVB  female   4/3/00    1.64
10226  136534456  Tahesia Harrigan-Scott         IVB  female  2/15/82    1.58

       weight      sport  gold  silver  bronze
1193     75.0  athletics     0       0       0
2877     95.0  athletics     0       0       0
2919     50.0   aquatics     0       0       0
10226    56.0  athletics     0       0       0
JAM
              id                        name nationality     sex       dob  \
224    704825548               Aisha Praught         JAM  female  12/14/89
474     76451177               Alia Atkinson         JAM  female  12/11/88
834    926287704                Andrew Riley         JAM    male    9/6/88
990    869195887  Anneisha McLaughlin-Whilby         JAM  female    1/6/86
1008   521298946               Annsert Whyte         JAM    male   10/4/87
1175   508304618                Asafa Powell         JAM    male  11/23/82
1234   283853104                Aubrey Smith         JAM    male   6/30/88
2029   187059251             Chrisann Gordon         JAM  female   9/18/94
2033   112339974         Christania Williams         JAM  female  10/17/94
2065    45076354               Christine Day         JAM  female   8/23/86
2157    62395737                Clive Pullen         JAM    male  10/18/94
2252   648027000                  Daina Levy         JAM  female   5/27/93
2270   610645827                Damar Forbes         JAM    male   9/11/90
2387   101678493              Danniel Thomas         JAM  female  11/11/92
2579   670754445                Deuce Carter         JAM    male   9/28/90
2874   715359899             Elaine Thompson         JAM  female   6/28/92
3327   388453546              Fedrick Dacres         JAM    male   2/28/94
3427   432731417             Fitzroy Dunkley         JAM    male   5/20/93
4539   452242951                 Jaheel Hyde         JAM    male    2/2/97
4636   633346217             Janieve Russell         JAM  female  11/14/93

In [20]:
weather = pd.read_csv('weather.csv')
weather

       Day       City  Temperature  Humidity
0   1/1/18  Cambridge          -11        32
1   1/2/18  Cambridge           -7        42
2   1/3/18  Cambridge           -2        46
3   1/4/18  Cambridge           -1        96
4   1/1/18  Barcelona           17        41
5   1/2/18  Barcelona           19        54
6   1/3/18  Barcelona           23        46
7   1/4/18  Barcelona           24        46
8   1/1/18   Belgrade           10        60
9   1/2/18   Belgrade            6        98
10  1/3/18   Belgrade            9        56
11  1/4/18   Belgrade            1        65
12  1/1/18   Bordeaux            9        76
13  1/2/18   Bordeaux            9        96
14  1/3/18   Bordeaux            9        85
15  1/4/18   Bordeaux            9        75

In [21]:
#now we have SPLIT the data by City Categories
g_city = weather.groupby('City')
#WHERE I IS THE KEY(STR) AND J IS THE VALUE(DATAFRAME)
for i,j in g_city:
    print (i)
    print (j)

Barcelona
      Day       City  Temperature  Humidity
4  1/1/18  Barcelona           17        41
5  1/2/18  Barcelona           19        54
6  1/3/18  Barcelona           23        46
7  1/4/18  Barcelona           24        46
Belgrade
       Day      City  Temperature  Humidity
8   1/1/18  Belgrade           10        60
9   1/2/18  Belgrade            6        98
10  1/3/18  Belgrade            9        56
11  1/4/18  Belgrade            1        65
Bordeaux
       Day      City  Temperature  Humidity
12  1/1/18  Bordeaux            9        76
13  1/2/18  Bordeaux            9        96
14  1/3/18  Bordeaux            9        85
15  1/4/18  Bordeaux            9        75
Cambridge
      Day       City  Temperature  Humidity
0  1/1/18  Cambridge          -11        32
1  1/2/18  Cambridge           -7        42
2  1/3/18  Cambridge           -2        46
3  1/4/18  Cambridge           -1        96

<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_5/images/groupby.001.jpeg?raw=true"> </center>

<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_5/images/groupby.002.jpeg?raw=true"> </center>

#### Accessing a specific DatFrame from a groupby object

In [22]:
#Examine what will happen if we don't reset the index
#Examine what will happen if we don't drop the index
df_Belgrade = g_city.get_group('Belgrade')
df_Belgrade = df_Belgrade.reset_index(drop=True)
df_Belgrade

      Day      City  Temperature  Humidity
0  1/1/18  Belgrade           10        60
1  1/2/18  Belgrade            6        98
2  1/3/18  Belgrade            9        56
3  1/4/18  Belgrade            1        65

<h2 class = "yellow"> 1. What are the mean Temperatures and Humidity of each city </h2>
<h2 class = "yellow"> 2. What are the minimum Temperatures and Humidity values per city </h2>

In [23]:
g_city.mean()

           Temperature  Humidity
City
Barcelona        20.75     46.75
Belgrade          6.50     69.75
Bordeaux          9.00     83.00
Cambridge        -5.25     54.00

In [24]:
g_city.min()

              Day  Temperature  Humidity
City
Barcelona  1/1/18           17        41
Belgrade   1/1/18            1        56
Bordeaux   1/1/18            9        75
Cambridge  1/1/18          -11        32

<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_5/images/groupby.003.jpeg?raw=true"> </center>

<center><img style="align: center;"  src="https://github.com/sunworshipper/e29/blob/master/Lecture_5/images/groupby.004.jpeg?raw=true"> </center>

<h2 class = "yellow"> 1. What's the average height of athletes per country </h2>
<h2 class = "yellow"> 2. What is the max weight per sport </h2>

In [25]:
rio.head()

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze
0,736041664,A Jesus Garcia,ESP,male,10/17/69,1.72,64.0,athletics,0,0,0
1,532037425,A Lam Shin,KOR,female,9/23/86,1.68,56.0,fencing,0,0,0
2,435962603,Aaron Brown,CAN,male,5/27/92,1.98,79.0,athletics,0,0,1
3,521041435,Aaron Cook,MDA,male,1/2/91,1.83,80.0,taekwondo,0,0,0
4,33922579,Aaron Gate,NZL,male,11/26/90,1.81,71.0,cycling,0,0,0

In [26]:
# 1. What's the average height of athletes per country 
g_nat = rio.groupby('nationality')
g_nat.mean().sort_values('height')

                       id    height     weight      gold    silver    bronze
nationality
FSM          5.789582e+08  1.546000  65.000000  0.000000  0.000000  0.000000
BRU          5.935282e+08  1.580000  57.333333  0.000000  0.000000  0.000000
TOG          6.963120e+08  1.580000  53.000000  0.000000  0.000000  0.000000
TLS          5.612916e+08  1.600000        NaN  0.000000  0.000000  0.000000
PRK          5.500831e+08  1.609032  59.193548  0.064516  0.096774  0.064516
PLW          4.195890e+08  1.616000  80.400000  0.000000  0.000000  0.000000
NRU          3.719246e+08  1.625000  73.000000  0.000000  0.000000  0.000000
RWA          5.070913e+08  1.625000  68.000000  0.000000  0.000000  0.000000
NEP          3.459321e+08  1.630000  59.285714  0.000000  0.000000  0.000000
KIR          4.770774e+08  1.630000  73.666667  0.000000  0.000000  0.000000
COD          5.077804e+08  1.630000  57.000000  0.000000  0.000000  0.000000
CAF          4.321368e+08  1.634000  64.250000  0.000000  0.000000  0.000000
CAM          5.976325e+08  1.635000  57.166667  0.000000  0.000000  0.000000
SAM          1.831123e+08  1.635000  68.000000  0.000000  0.000000  0.000000
GUY          5.546308e+08  1.635000  63.166667  0.000000  0.000000  0.000000
BHU          7.299884e+08  1.640000  55.000000  0.000000  0.000000  0.000000
MAW          5.808795e+08  1.642000  59.400000  0.000000  0.000000  0.000000
SOL          3.481839e+08  1.650000  58.000000  0.000000  0.000000  0.000000
BAN          5.228935e+08  1.650000  69.000000  0.000000  0.000000  0.000000
IVB          6.449334e+08  1.650000  69.000000  0.000000  0.000000  0.000000
PHI          5.386094e+08  1.650833  61.545455  0.000000  0.076923  0.000000
VIE          4.583344e+08  1.663913  59.130435  0.043478  0.043478  0.000000
MHL          6.273275e+08  1.664000  70.200000  0.000000  0.000000  0.000000
GEQ          7.838598e+08  1.665000  59.500000  0.000000  0.000000  0.000000
LIB          6.594792e+08  1.670000  64.000000  0.000000  0.000000  0.000000
OMA          4.077508e+08  1.670000  77.333333  0.000000  0.000000  0.000000
ZIM          5.025629e+08  1.676000  62.657143  0.000000  0.000000  0.000000
TAN          5.099312e+08  1.676667  57.857143  0.000000  0.000000  0.000000
MAD          3.969020e+08  1.680000  63.000000  0.000000  0.000000  0.000000
STP          5.627548e+08  1.680000  57.333333  0.000000  0.000000  0.000000
...                   ...       ...        ...       ...       ...       ...
TUN          5.015273e+08  1.801695  78.087719  0.000000  0.000000  0.049180
BIH          5.537058e+08  1.801818  85.909091  0.000000  0.000000  0.000000
BAR          5.310698e+08  1.801818  74.818182  0.000000  0.000000  0.000000
LIE          5.030049e+08  1.803333  77.666667  0.000000  0.000000  0.000000
SVK          5.165079e+08  1.804118  73.254902  0.058824  0.098039  0.000000
EST          4.965150e+08  1.804783  79.043478  0.000000  0.000000  0.086957
CZE          4.948165e+08  1.807885  75.615385  0.009615  0.019231  0.115385
LAT          3.966095e+08  1.808750  77.875000  0.000000  0.000000  0.000000
BOT          4.481883e+08  1.810000  66.000000  0.000000  0.000000  0.000000
BUR          4.216251e+08  1.810000  84.400000  0.000000  0.000000  0.000000
POL          4.941252e+08  1.811992  76.747863  0.012397  0.012397  0.041322
ISV          3.784314e+08  1.813333  74.333333  0.000000  0.000000  0.000000
ISL          4.730331e+08  1.816250  79.375000  0.000000  0.000000  0.000000
GRN          4.099318e+08  1.820000  71.000000  0.000000  0.142857  0.000000
IRI          5.280907e+08  1.820469  82.317460  0.046875  0.015625  0.062500
DEN          5.114289e+08  1.823047  76.453125  0.117188  0.078125  0.125000
MNE          5.879587e+08  1.826000  83.285714  0.000000  0.000000  0.000000
BIZ          4.983425e+08  1.836667  79.333333  0.000000  0.000000  0.000000
QAT          4.826320e+08  1.839231  83.216216  0.000000  0.025641  0.000000
TUV          1.775172e+07  1.840000  72.000000  0.000000  0.000000  0.000000
LTU          5.192097e+08  1.850448  82.359375  0.000000  0.029851  0.074627
SRB          4.956831e+08  1.852136  80.776699  0.135922  0.252427  0.126214
SYR          4.492093e+08  1.853333  84.833333  0.000000  0.000000  0.000000
CRO          4.589336e+08  1.871705  86.883721  0.079545  0.170455  0.022727
SUR          4.676432e+08  1.900000  78.000000  0.000000  0.000000  0.000000
GAM          4.803711e+08       NaN        NaN  0.000000  0.000000  0.000000
LBR          3.857341e+08       NaN        NaN  0.000000  0.000000  0.000000
MDV          5.741206e+08       NaN        NaN  0.000000  0.000000  0.000000
SLE          4.416376e+08       NaN  78.500000  0.000000  0.000000  0.000000
SOM          1.618063e+08       NaN        NaN  0.000000  0.000000  0.000000

[207 rows x 6 columns]

<h2 class = "yellow"> 2. What is the average weight per sport </h2>

In [27]:
g_sport = rio.groupby('sport')
for i,j in g_sport:
    print (i)
    print (j)

aquatics
              id                       name nationality     sex       dob  \
7      382571888              Aaron Younger         AUS    male   9/25/91
12     258556239                 Abbas Qali         IOA    male  10/11/92
14     162792594             Abbey Weitzeil         USA  female   12/3/96
26     189931373    Abdelaziz Mohamed Ahmed         SUD    male  10/12/94
45     702606719  Abdoul Khadre Mbaye Niane         SEN    male   8/20/88
62     884912875       Abeku Gyekye Jackson         GHA    male   4/12/00
64     884912136           Abigail Johnston         USA  female  11/16/89
75     256805041                Adam Decker         HUN    male   2/29/84
85     561951036                 Adam Peaty         GBR    male  12/28/94
87     846863992               Adam Telegdy         HUN    male   11/1/95
89     266751447               Adam Viktora         SEY    male    9/6/96
114    787208883              Adrian Baches         BRA    male    4/7/90
137    835610998        Adzo Rebecca Kpossi         TOG  female   1/25/99
142    477738986       Africa Zamorano Sanz         ESP  female   1/11/98
147    971796358             Aglaia Pezzato         ITA  female   4/22/94
166    942902378         Ahmad Amsyar Azman         MAS    male   8/28/92
172    873200853                Ahmed Akram         EGY    male  10/20/96
174      9418987           Ahmed Attellesey         LBA    male   7/30/95
180     64299896               Ahmed Gebrel         PLE    male   1/22/91
184    114527133           Ahmed Mathlouthi         TUN    male  12/18/89
205    248085477                Aidan Roach         AUS    male    9/7/90
206    743883365              Aika Hakoyama         JPN  female   7/27/91
209    574808106               Aiko Hayashi         JPN  female  11/17/93
216    266091485             Aimee Willmott         GBR  female   2/26/93
223    840071617                 Aisen Chen         CHN    male  10/22/95
227    191963338   Aitor Martinez Rodriguez         ESP    male   8/22/93
231    504635619                Ajna Kesely         HUN  female   9/10/01
245    816408353               Akira Yanase         JPN    male   8/11/88
261    551413911           Albachir Mouctar         NIG    male    5/1/95
263    930879907     Albert Espanol Lifante         ESP    male  10/29/85
...          ...                        ...         ...     ...       ...
11336  426336563                    Yue Cao         CHN  female  10/29/95
11338  500859635                    Yue Lin         CHN    male   7/24/91
11343  968356783                Yufei Zhang         CHN  female   4/19/98
11345   97065462                Yuhan Zhang         CHN  female    1/6/95
11346  122679223                  Yuhang Wu         CHN    male    6/3/97
11358  917190651                Yuki Kadono         JPN    male   9/14/90
11359  324618185                Yuki Kobori         JPN    male  11/25/93
11365  703800372                Yukiko Inui         JPN  female   12/4/90
11370   86099624              Yulia Efimova         RUS  female    4/3/92
11371  247132053          Yulia Timoshinina         RUS  female   1/23/98
11379  416483040            Yuliya Khitraya         BLR  female   9/11/89
11388  304244735                  Yumi Kida         JPN  female   6/30/85
11401  708404577                 Yuri Kisil         CAN    male   9/18/95
11415  826970631              Yusra Mardini         ROT  female    3/5/98
11418  920794610             Yusuke Shimizu         JPN    male    9/7/88
11429  638722010         Yvette Man-Yi Kong         HKG  female   1/18/93
11456  988416903              Zdravko Radic         MNE    male   6/24/79
11463  788878355                 Zetao Ning         CHN    male    3/6/93
11478  604655983                  Zhen Zeng         CHN  female  11/28/93
11481   60255358             Zheng Wen Quah         SIN    male   9/29/96
11489  839669919                  Zhuhao Li         CHN    male    1/9/99
11491  105609876                      Zi He         CHN  female  12/10/90
11493  807355678                   Ziao Qiu         CHN    male   8/30/98
11494  425868187                  Zibei Yan         CHN    male  10/12/95
11498  192304802                 Zihan Zhao         CHN  female    9/4/93
11500  274387882             Ziv Kalontarov         ISR    male   1/15/97
11503  593183472                Zivko Gocic         SRB    male   8/22/82
11507  446963221               Zoe Arancini         AUS  female   7/14/91
11512  371106012              Zohar Shikler         ISR  female    7/8/97
11530  739315046          Zsuzsanna Jakabos         HUN  female    4/3/89

       height  weight     sport  gold  silver  bronze
7        1.93   100.0  aquatics     0       0       0
12        NaN     NaN  aquatics     0       0       0
14       1.78    68.0  aquatics     1       1       0
26       1.81    72.0  aquatics     0       0       0
45       1.90    90.0  aquatics     0       0       0
62        NaN     NaN  aquatics     0       0       0
64       1.66    61.0  aquatics     0       0       0
75       2.03   115.0  aquatics     0       0       0
85       1.93    88.0  aquatics     1       1       0
87       1.94    77.0  aquatics     0       0       0
89       1.88    94.0  aquatics     0       0       0
114      1.84    83.0  aquatics     0       0       0
137      1.58    53.0  aquatics     0       0       0
142      1.70    58.0  aquatics     0       0       0
147      1.75    60.0  aquatics     0       0       0
166      1.62    62.0  aquatics     0       0       0
172      1.88    80.0  aquatics     0       0       0
174       NaN     NaN  aquatics     0       0       0
180       NaN     NaN  aquatics     0       0       0
184      1.90    90.0  aquatics     0       0       0
205      1.87    88.0  aquatics     0       0       0
206      1.76    62.0  aquatics     0       0       1
209      1.66    56.0  aquatics     0       0       1
216      1.71    66.0  aquatics     0       0       0
223      1.68    60.0  aquatics     2       0       0
227      1.83    78.0  aquatics     0       0       0
231      1.65    54.0  aquatics     0       0       0
245      1.91    95.0  aquatics     0       0       0
261      1.78    76.0  aquatics     0       0       0
263      1.89    86.0  aquatics     0       0       0
...       ...     ...       ...   ...     ...     ...
11336    1.78    72.0  aquatics     0       0       0
11338    1.64    58.0  aquatics     1       0       0
11343    1.76    62.0  aquatics     0       0       0
11345    1.73    60.0  aquatics     0       0       0
11346    1.78    72.0  aquatics     0       0       0
11358    1.77    72.0  aquatics     0       0       0
11359    1.83    77.0  aquatics     0       0       1
11365    1.70    56.0  aquatics     0       0       2
11370     NaN     NaN  aquatics     0       2       0
11371    1.57    46.0  aquatics     0       0       0
11379    1.80    66.0  aquatics     0       0       0
11388    1.60    55.0  aquatics     0       0       0
11401    2.00    84.0  aquatics     0       0       0
11415    1.68    53.0  aquatics     0       0       0
11418    1.81    93.0  aquatics     0       0       0
11429    1.76    60.0  aquatics     0       0       0
11456    1.93    96.0  aquatics     0       0       0
11463    1.91    80.0  aquatics     0       0       0
11478    1.70    61.0  aquatics     0       1       0
11481    1.79    79.0  aquatics     0       0       0
11489    1.85    76.0  aquatics     0       0       0
11491    1.60    52.0  aquatics     0       1       0
11493    1.82    67.0  aquatics     0       0       0
11494    1.90    75.0  aquatics     0       0       0
11498    1.72    62.0  aquatics     0       0       0
11500    1.85    71.0  aquatics     0       0       0
11503    1.93    93.0  aquatics     1       0       0
11507    1.70    70.0  aquatics     0       0       0
11512    1.78    61.0  aquatics     0       0       0
11530    1.85    70.0  aquatics     0       0       0

[1445 rows x 11 columns]
archery
              id                         name nationality     sex       dob  \
113    637015297  Adrian Andres Puentes Perez         CUB    male    7/3/88
131    228337858               Adriana Martin         ESP  female   4/12/96
178    837684987                Ahmed El-Nemr         EGY    male  11/21/78
203    531077009                   Aida Roman         MEX  female   5/21/88
286    343089125                   Alec Potts         AUS    male    2/9/96
296    929131268           Alejandra Valencia         MEX  female  10/17/94
411    486083635            Alexandra Longova         SVK  female    2/7/94
413    921114489              Alexandra Mirca         MDA  female  10/11/93
458    461686848                 Ali Elghrari         LBA    male   1/31/97
484    824189087                 Alice Ingley         AUS  female   1/13/93
662    350672001             Ana Maria Rendon         COL  female   3/10/86
689    823187249            Anastasia Pavlova         UKR  female    2/9/95
813    700618156                  Andres Pila         COL    male   5/11/91
871    573932079      Ane Marcelle dos Santos         BRA  female   1/12/94
1047   835942400               Anton Prilepov         BLR    male    2/5/84
1062   198987455            Antonio Fernandez         ESP    male   6/12/91
1097   488754594                 Areneo David         MAW    male    6/6/95
1223    60539950                    Atanu Das         IND    male    4/5/92
1296   117554316         Baard Magnus Nesteng         NOR    male   5/14/79
1452   564965643            Bernardo Oliveira         BRA    male    6/8/93
1526   491078381                     Bobae Ki         KOR  female   2/20/88
1547    37603597       Bombayla Devi Laishram         IND  female   2/22/85
1549   841861773                   Bonchan Ku         KOR    male   1/31/93
1555   310122376                  Boris Balaz         SVK    male  11/20/97
1579   139075859                Brady Ellison         USA    male  10/27/88
1795   999509819             Carolina Aguirre         COL  female   1/29/96
1979   846139203                Chien-Ying Le         TPE  female   4/17/90
2063   304380235          Christine Bjerendal         SWE  female    2/3/87
2104   361473378                Chun-Heng Wei         TPE    male    7/6/94
2143   688060472               Claudia Mandia         ITA  female  10/21/92
...          ...                          ...         ...     ...       ...
9317   524440279                   Ryan Tyack         AUS    male    6/2/91
9436   232045954                Samuli Piippo         FIN    male    1/1/80
9439   311616634                  San Yu Htwe         MYA  female  10/14/86
9495    43036553               Saori Nagamine         JPN  female    7/5/93
9540   601579213                Sarah Nikitin         BRA  female  12/27/88
9718   739050983                 Seungyun Lee         KOR    male   4/18/95
9736   551301673                  Shamoli Ray         BAN  female    4/5/94
9772   798829173               Shehzana Anwar         KEN  female   8/21/89
9794   162371447                Shih-Chia Lin         TPE  female   5/20/93
9926   325216838            Sjef van den Berg         NED    male   4/14/95
10153  918686488            Sultan Duzelbayev         KAZ    male   3/12/94
10237  799687468            Takaharu Furukawa         JPN    male    8/9/84
10307  579881556                  Taru Kuoppa         FIN  female  11/14/83
10343  288362768                 Taylor Worth         AUS    male    1/8/91
10650  313585891        Tuiana Dashidorzhieva         RUS  female   4/14/96
10683  578632185                   Un Ju Kang         PRK  female    2/1/95
10794  464186121           Veronika Marchenko         UKR  female    4/3/93
10844  602955950                 Viktor Ruban         UKR    male   5/24/81
11036  640840803            Witthaya Thamwong         THA    male   9/18/87
11043   69693053                   Woojin Kim         KOR    male   6/20/92
11105  283158368                   Xuesong Gu         CHN    male   6/21/93
11108  872511641                  Ya-Ting Tan         TPE  female   11/7/93
11172  283024997               Yasemin Anagoz         TUR  female  10/14/98
11221  640675211      Yessica Camilo Gonzalez         DOM  female   2/23/93
11325  262263057                      Yu Xing         CHN    male   3/12/91
11347  480817405                    Yuhong Qi         CHN  female   8/25/89
11356  384346925                 Yuki Hayashi         JPN  female   10/2/84
11381  323145387           Yuliya Lobzhenidze         GEO  female   8/23/77
11436  306067063                 Zach Garrett         USA    male    4/8/95
11440  242878558                 Zahra Nemati         IRI  female   4/30/85

       height  weight    sport  gold  silver  bronze
113      1.71    76.0  archery     0       0       0
131      1.62    65.0  archery     0       0       0
178      1.83    84.0  archery     0       0       0
203      1.69    64.0  archery     0       0       0
286      1.85    77.0  archery     0       0       1
296      1.75    74.0  archery     0       0       0
411      1.73    51.0  archery     0       0       0
413      1.68    70.0  archery     0       0       0
458       NaN     NaN  archery     0       0       0
484      1.72    80.0  archery     0       0       0
662      1.60    63.0  archery     0       0       0
689      1.72    53.0  archery     0       0       0
813      1.74    75.0  archery     0       0       0
871      1.53    53.0  archery     0       0       0
1047     1.86    96.0  archery     0       0       0
1062     1.84    76.0  archery     0       0       0
1097     1.64    58.0  archery     0       0       0
1223     1.75    79.0  archery     0       0       0
1296     1.83    80.0  archery     0       0       0
1452     1.73    70.0  archery     0       0       0
1526     1.67    57.0  archery     1       0       1
1547     1.64    60.0  archery     0       0       0
1549     1.81    84.0  archery     2       0       0
1555     1.82    72.0  archery     0       0       0
1579     1.81    86.0  archery     0       1       1
1795     1.60    59.0  archery     0       0       0
1979     1.65    69.0  archery     0       0       1
2063     1.61    59.0  archery     0       0       0
2104     1.80    74.0  archery     0       0       0
2143     1.70    74.0  archery     0       0       0
...       ...     ...      ...   ...     ...     ...
9317     1.86   102.0  archery     0       0       1
9436     1.81    75.0  archery     0       0       0
9439     1.67    57.0  archery     0       0       0
9495     1.66    60.0  archery     0       0       0
9540     1.70    75.0  archery     0       0       0
9718     1.74    80.0  archery     1       0       0
9736      NaN     NaN  archery     0       0       0
9772     1.60    55.0  archery     0       0       0
9794     1.65    63.0  archery     0       0       1
9926     1.83    75.0  archery     0       0       0
10153    1.76    46.0  archery     0       0       0
10237    1.74    89.0  archery     0       0       0
10307    1.73    63.0  archery     0       0       0
10343    1.74    60.0  archery     0       0       1
10650    1.69    57.0  archery     0       1       0
10683    1.68    60.0  archery     0       0       0
10794    1.57    48.0  archery     0       0       0
10844    1.78    70.0  archery     0       0       0
11036    1.80    82.0  archery     0       0       0
11043    1.80    95.0  archery     1       0       0
11105    1.78    76.0  archery     0       0       0
11108    1.58    53.0  archery     0       0       1
11172    1.65    66.0  archery     0       0       0
11221    1.68    73.0  archery     0       0       0
11325    1.88    90.0  archery     0       0       0
11347    1.66    78.0  archery     0       0       0
11356    1.63    65.0  archery     0       0       0
11381    1.77    80.0  archery     0       0       0
11436    1.78    63.0  archery     0       1       0
11440    1.76    60.0  archery     0       0       0

[128 rows x 11 columns]
athletics
              id                        name nationality     sex       dob  \
0      736041664              A Jesus Garcia         ESP    male  10/17/69
2      435962603                 Aaron Brown         CAN    male   5/27/92
8       87689776         Aauri Lorena Bokesa         ESP  female  12/14/88
9      997877719             Ababel Yeshaneh         ETH  female   7/22/91
10     343694681                 Abadi Hadis         ETH    male   11/6/97
11     591319906        Abbas Abubakar Abbas         BRN    male   5/17/96
13     376068084            Abbey D'Agostino         USA  female   5/25/92
20     215053268           Abdalaati Iguider         MAR    male   3/25/87
21     763711985            Abdalelah Haroun         QAT    male    1/1/97
22     924593601              Abdalla Targan         SUD    male   9/28/96
24     890222258          Abdelati El Guesse         MAR    male   2/27/93
25     803161695         Abdelaziz Merzougui         ESP    male   8/30/91
35     517007712       Abdelmajid El Hissouf         MAR    male   9/23/92
36     512730813         Abdelmalik Lahoulou         ALG    male    5/7/92
42      64529046             Abdi Hakin Ulad         DEN    male   6/14/91
43     917755766                Abdi Nageeye         NED    male    3/2/89
44     184980926        Abdi Waiss Mouhyadin         DJI    male    7/3/96
47     469953606          Abdoullah Bamoussa         ITA    male    6/8/86
51     152408417          Abdul Wahab Zahiri         AFG    male   5/27/92
54       5763609     Abdullah Abkar Mohammed         KSA    male    1/1/97
67      78813419  Abraham Kipchirchir Rotich         BRN    male   9/26/93
68     555457991     Abraham Naibei Cheroben         BRN    male  10/11/92
69     877850429           Abraham Niyonkuru         BDI    male  12/26/89
70     369092977                 Abrar Osman         ERI    male    1/1/94
71     602585498     Abubaker Haydar Abdalla         QAT    male   8/28/96
78     487206822                 Adam Gemili         GBR    male   10/6/93
80     682367963                Adam Kszczot         POL    male    9/2/89
86     785166259     Adam Sebastian Helcelet         CZE    male  10/27/91
94     222063859                Adama Jammeh         GAM    male   6/10/93
97     302277635                Adel Mechaal         ESP    male   12/5/90
...          ...                         ...         ...     ...       ...
11382  983041007           Yuliya Rakhmanova         KAZ  female  10/25/91
11385  693790163             Yuliya Tarasova         UZB  female   3/13/86
11400   10496716               Yuri Floriani         ITA    male  12/25/81
11414  529316870          Yusneysi Santiusti         ITA  female  12/24/84
11421  636535967                Yuta Shitara         JPN    male  12/18/91
11426  819716294               Yuzo Kanemaru         JPN    male   9/18/87
11428  974818228                Yvette Lewis         PAN  female   3/16/85
11434  308404537              Yvonne Trevino         MEX  female    9/8/89
11437  995684067                 Zach Ziemek         USA    male   2/23/93
11441  513768691   Zaidatul Husniah Zulkifli         MAS  female   8/20/93
11445  830255142            Zalina Marghieva         MDA  female    2/5/88
11446  917974956                  Zan Rudolf         SLO    male    5/9/93
11447  243949907              Zane Robertson         NZL    male  11/14/89
11448  855358294                Zaneta Glanc         POL  female   3/11/83
11459  343970933                   Zelin Cai         CHN    male   4/11/91
11462   92162694             Zersenay Tadese         ERI    male    1/1/82
11477  920733515                   Zhen Wang         CHN    male   8/24/91
11479  925389312               Zhendong Wang         CHN    male   1/11/91
11480  659569127                  Zheng Wang         CHN  female  12/14/87
11482  272027054                  Zhenye Xie         CHN    male   8/17/93
11497  765883125          Zigismunds Sirmais         LAT    male    5/6/92
11499   84587289           Zinaida Sendriute         LTU  female  12/20/84
11502  428778432      Zivile Vaiciukeviciute         LTU  female    4/3/96
11508  499603226                 Zoe Buckman         AUS  female  12/21/88
11518  672182746               Zoltan Kovago         HUN    male   4/10/79
11520  724419150               Zouhair Aouad         BRN    male    4/7/89
11525  999437858              Zsofia Erdelyi         HUN  female  12/10/87
11533  265605954          Zurian Hechavarria         CUB  female   8/10/95
11534  214461847              Zuzana Hejnova         CZE  female  12/19/86
11537  711404576              le Roux Hamman         RSA    male    1/6/92

       height  weight      sport  gold  silver  bronze
0        1.72    64.0  athletics     0       0       0
2        1.98    79.0  athletics     0       0       1
8        1.80    62.0  athletics     0       0       0
9        1.65    54.0  athletics     0       0       0
10       1.70    63.0  athletics     0       0       0
11       1.75    66.0  athletics     0       0       0
13       1.61    49.0  athletics     0       0       0
20       1.73    57.0  athletics     0       0       0
21       1.85    80.0  athletics     0       0       0
22       1.77    65.0  athletics     0       0       0
24       1.90    72.0  athletics     0       0       0
25       1.75    67.0  athletics     0       0       0
35       1.70    56.0  athletics     0       0       0
36       1.77    72.0  athletics     0       0       0
42       1.75    57.0  athletics     0       0       0
43       1.65    54.0  athletics     0       0       0
44       1.60    60.0  athletics     0       0       0
47        NaN     NaN  athletics     0       0       0
51       1.75    68.0  athletics     0       0       0
54       1.72    73.0  athletics     0       0       0
67       1.83    65.0  athletics     0       0       0
68       1.76    60.0  athletics     0       0       0
69       1.62    52.0  athletics     0       0       0
70       1.68    58.0  athletics     0       0       0
71       1.80    60.0  athletics     0       0       0
78       1.78    75.0  athletics     0       0       0
80       1.78    68.0  athletics     0       0       0
86       1.90    92.0  athletics     0       0       0
94        NaN     NaN  athletics     0       0       0
97       1.82    71.0  athletics     0       0       0
...       ...     ...        ...   ...     ...     ...
11382    1.68    58.0  athletics     0       0       0
11385    1.74    66.0  athletics     0       0       0
11400    1.80    64.0  athletics     0       0       0
11414    1.63    48.0  athletics     0       0       0
11421    1.70    48.0  athletics     0       0       0
11426    1.78    75.0  athletics     0       0       0
11428    1.75   150.0  athletics     0       0       0
11434    1.70    63.0  athletics     0       0       0
11437    1.94    88.0  athletics     0       0       0
11441    1.56    40.0  athletics     0       0       0
11445    1.70    80.0  athletics     0       0       0
11446    1.84    64.0  athletics     0       0       0
11447    1.85    62.0  athletics     0       0       0
11448    1.86    95.0  athletics     0       0       0
11459    1.75    55.0  athletics     0       1       0
11462    1.60    54.0  athletics     0       0       0
11477    1.75    55.0  athletics     1       0       0
11479    1.80    55.0  athletics     0       0       0
11480    1.75   105.0  athletics     0       0       0
11482    1.84    78.0  athletics     0       0       0
11497    1.90    95.0  athletics     0       0       0
11499    1.88    95.0  athletics     0       0       0
11502    1.64    54.0  athletics     0       0       0
11508    1.68    50.0  athletics     0       0       0
11518    2.04   132.0  athletics     0       0       0
11520    1.75    69.0  athletics     0       0       0
11525    1.64    53.0  athletics     0       0       0
11533    1.64    58.0  athletics     0       0       0
11534    1.73    63.0  athletics     0       0       0
11537    1.85    70.0  athletics     0       0       0

[2363 rows x 11 columns]
badminton
              id                     name nationality     sex       dob  \
74      60265240             Adam Cwalina         POL    male   1/26/85
118    366608701           Adrian Dziolko         POL    male   2/22/90
235    677730191          Akane Yamaguchi         JPN  female    6/6/97
1144   307289001          Artem Pochtarov         UKR    male   7/24/93
1207   126172872         Ashwini Ponnappa         IND  female   9/18/89
1273    40493277          Ayaka Takahashi         JPN  female   4/19/90
1275   647256767           Ayane Kurihara         JPN  female   9/27/89
1480   107444997                Biao Chai         CHN    male  10/10/90
1500   271713930           Birgit Michels         GER  female   9/28/84
1532   915515161              Bodin Isara         THA    male  12/12/90
1552    25616888          Boonsak Ponsana         THA    male   2/22/82
1624   478313255           Brice Leverdez         FRA    male    4/9/86
1747   123412011              Carla Nelte         GER  female   9/21/90
1799   905750537           Carolina Marin         ESP  female   6/15/93
1814    37516553         Carsten Mogensen         DEN    male   7/24/83
1956   332886320                  Chen Xu         CHN    male  11/29/84
1965   116299624           Chia Hsin Tsai         TPE    male   7/25/82
2002   819853212              Chloe Magee         IRL  female  11/29/88
2010   609981962            Chong Wei Lee         MAS    male  10/21/82
2012    93555495             Chris Adcock         GBR    male   4/27/89
2023   110660329          Chris Langridge         GBR    male    5/2/85
2073   121437333      Christinna Pedersen         DEN  female   5/12/86
2099   136590128    Chun Hei Reginald Lee         HKG    male   1/25/94
2290    96353968                  Dan Lin         CHN    male  10/14/83
2481   764731011       David Obernosterer         AUT    male   5/30/89
2518   254113146            Debby Susanto         INA  female    5/3/89
2534    86795736          Delphine Lansac         FRA  female   7/18/95
2700   825718298            Dong Keun Lee         KOR    male  11/20/90
2825   249357704            Eefje Muskens         NED  female   6/17/89
2932   587801561        Elisabeth Baldauf         AUT  female    8/3/90
...          ...                      ...         ...     ...       ...
10477  307265298         Tien Minh Nguyen         VIE    male   2/12/83
10584  211819667           Tommy Sugiarto         INA    male   5/31/88
10600  999578859            Tontowi Ahmad         INA    male   7/18/87
10669  504555048             Tzu Ying Tai         TPE  female   6/20/94
10702  878263725               V Shem Goh         MAS    male   5/20/89
10703  700082082        V. Sindhu Pusarla         IND  female    7/5/95
10838  940975705           Viktor Axelsen         DEN    male    1/4/94
10903  527372670       Vivian Kah Mun Hoo         MAS  female   3/19/90
10913  431379852          Vladimir Ivanov         RUS    male    7/3/87
10915  557934502          Vladimir Malkov         RUS    male    4/9/86
10950  788654634               Wan Ho Son         KOR    male   5/17/88
10959  686326172            Wee Kiong Tan         MAS    male   5/21/89
10961  843515403                 Wei Hong         CHN    male   10/4/89
11064  476593351            Xiao Yu Liang         SIN  female   1/11/96
11104  652008471                Xuerui Li         CHN  female   1/24/91
11147  270107002                  Yang Yu         CHN  female    4/7/86
11191   91699110              Ye Na Chang         KOR  female  12/13/89
11212  383061108              Yeon Ju Bae         KOR  female  10/26/90
11214  769058232           Yeon Seong Yoo         KOR    male   8/19/86
11228  586074732  Ygor Coelho de Oliveira         BRA    male  11/24/96
11240  221613357               Yihan Wang         CHN  female   1/18/88
11249    9996220                 Ying Luo         CHN  female   1/11/91
11250  329937737            Ying Suet Tse         HKG  female   11/9/91
11275  358811033             Yong Dae Lee         KOR    male   9/11/88
11323  470277926                   Yu Luo         CHN  female   1/11/91
11331  247982546            Yuanting Tang         CHN  female    8/2/94
11344  928265049                Yuhan Tan         BEL    male   4/21/87
11390  660495063                   Yun Hu         HKG    male   8/31/81
11392  491896324              Yunlei Zhao         CHN  female   8/25/86
11492  955970530      Zi Liang Derek Wong         SIN    male   1/13/89

       height  weight      sport  gold  silver  bronze
74       1.87    81.0  badminton     0       0       0
118      1.89    85.0  badminton     0       0       0
235      1.56    55.0  badminton     0       0       0
1144     1.83    77.0  badminton     0       0       0
1207     1.65    59.0  badminton     0       0       0
1273     1.65    60.0  badminton     1       0       0
1275     1.72    59.0  badminton     0       0       0
1480     1.86    80.0  badminton     0       0       0
1500     1.78    70.0  badminton     0       0       0
1532     1.75    78.0  badminton     0       0       0
1552     1.79    75.0  badminton     0       0       0
1624     1.80    75.0  badminton     0       0       0
1747     1.71    60.0  badminton     0       0       0
1799     1.72    65.0  badminton     1       0       0
1814     1.88    75.0  badminton     0       0       0
1956     1.88    82.0  badminton     0       0       0
1965     1.82    82.0  badminton     0       0       0
2002     1.65    61.0  badminton     0       0       0
2010     1.70    68.0  badminton     0       1       0
2012     1.83    80.0  badminton     0       0       0
2023     1.80     NaN  badminton     0       0       1
2073     1.78    68.0  badminton     0       1       0
2099     1.70    72.0  badminton     0       0       0
2290     1.77    70.0  badminton     0       0       0
2481     1.83    80.0  badminton     0       0       0
2518     1.61    51.0  badminton     0       0       0
2534     1.69    60.0  badminton     0       0       0
2700     1.83    78.0  badminton     0       0       0
2825     1.64    60.0  badminton     0       0       0
2932     1.75    62.0  badminton     0       0       0
...       ...     ...        ...   ...     ...     ...
10477    1.68    60.0  badminton     0       0       0
10584    1.75    71.0  badminton     0       0       0
10600    1.79    72.0  badminton     1       0       0
10669    1.62    57.0  badminton     0       0       0
10702    1.80    70.0  badminton     0       1       0
10703    1.79    65.0  badminton     0       1       0
10838    1.94    88.0  badminton     0       0       1
10903    1.66    56.0  badminton     0       0       0
10913    1.98    93.0  badminton     0       0       0
10915    1.88    79.0  badminton     0       0       0
10950    1.76    70.0  badminton     0       0       0
10959    1.77    77.0  badminton     0       1       0
10961    1.92    86.0  badminton     0       0       0
11064    1.63    55.0  badminton     0       0       0
11104    1.75    65.0  badminton     0       0       0
11147    1.66    62.0  badminton     0       0       0
11191    1.72    61.0  badminton     0       0       0
11212    1.67    57.0  badminton     0       0       0
11214    1.81    75.0  badminton     0       0       0
11228    1.83    78.0  badminton     0       0       0
11240    1.78    65.0  badminton     0       0       0
11249    1.64    62.0  badminton     0       0       0
11250    1.66    66.0  badminton     0       0       0
11275    1.80    74.0  badminton     0       0       0
11323    1.64    66.0  badminton     0       0       0
11331    1.75    70.0  badminton     0       0       0
11344    1.82    74.0  badminton     0       0       0
11390    1.78    73.0  badminton     0       0       0
11392    1.73    60.0  badminton     0       0       1
11492    1.76    69.0  badminton     0       0       0

[172 rows x 11 columns]

basketball
              id                    name nationality     sex       dob  \
95      46940649        Adas Juskevicius         LTU    male    1/3/89
132    529241363          Adriana Moises         BRA  female   12/6/78
201    537808926               Aida Fall         SEN  female  11/10/86
214    356290857               Ailun Guo         CHN    male  11/14/93
250    249203070             Alade Aminu         NGR    male   9/14/87
260    533114803            Alba Torrens         ESP  female   8/30/89
313     15347644   Aleksandra Crvendakic         SRB  female   3/17/96
349    178787882            Alex Abrines         ESP    male    8/1/93
355    566695148             Alex Garcia         BRA    male    3/4/80
480    775336377    Aliaksandra Tarasava         BLR  female   6/23/88
607     39468987           Amel Bouderra         FRA  female   3/26/89
650    627491334             Ana Dabovic         SRB  female   8/18/89
716    422580925  Anastasiya Verameyenka         BLR  female   7/10/87
812    922616500          Andres Nocioni         ARG    male  11/30/79
823    308408059            Andrew Bogut         AUS    male  11/28/84
869    551671372              Andy Ogide         NGR    male   10/1/87
881    663091466        Angel McCoughtry         USA  female   9/10/86
930     85532849               Anna Cruz         ESP  female  10/27/86
1013   576815287    Antanas Kavaliauskas         LTU    male   9/19/84
1021    63461595           Anthony Perez         VEN    male   9/29/93
1030   352830774            Antoine Diot         FRA    male   1/17/89
1130   459345576             Aron Baynes         AUS    male   12/9/86
1176   108415368                 Asako O         JPN  female  12/16/87
1177   454303485           Asami Yoshida         JPN  female   10/9/87
1217   124475429             Astou Ndour         ESP  female   8/22/94
1218   131094271            Astou Traore         SEN  female   4/30/81
1246   818866481            Augusto Lima         BRA    male   9/17/91
1270   491035500              Aya Traore         SEN  female   7/27/83
1285   702811118               Ayse Cora         TUR  female    3/3/93
1304    57983858            Bahar Caglar         TUR  female   9/28/88
...          ...                     ...         ...     ...       ...
10322  829450313         Tatiane Pacheco         BRA  female  10/16/90
10329  133803510   Tatsiana Likhtarovich         BLR  female   3/29/88
10332  840107784          Tatyana Troina         BLR  female   6/30/81
10377  847466727             Tessa Lavey         AUS  female   3/29/93
10445  371431214          Thomas Heurtel         FRA    male   4/10/89
10492  250232095          Tilbe Senyurek         TUR  female   4/26/95
10521  465038950            Tina Charles         USA  female   12/5/88
10530  872228172               Ting Shao         CHN  female  12/10/89
10606   35377706             Tony Parker         FRA    male   5/17/82
10648  720168381           Tugce Canitez         TUR  female  11/10/90
10712  655768386     Vaidas Kariniauskas         LTU    male  11/16/93
10737   33162690         Valeriane Ayayi         FRA  female   4/29/94
10805  753873468           Victor Claver         ESP    male   8/30/88
10898  411101006            Vitor Benite         BRA    male   2/20/90
10922   54519941         Vladimir Stimac         SRB    male   8/25/87
10934  365006989          Volha Ziuzkova         BLR  female   6/14/83
10974  682325171                  Wen Lu         CHN  female   2/26/90
11023  879180304       Willy Hernangomez         ESP    male   5/27/94
11027    2681418          Windi Graterol         VEN    male   9/10/86
11065  470006570          Xiaochuan Zhai         CHN    male   3/24/93
11068  161425340            Xiaojia Chen         CHN  female    4/2/88
11163  210648871          Yanyuhang Ding         CHN    male   8/20/93
11204  932118784        Yelena Leuchanka         BLR  female   4/30/83
11332   27660873              Yuchen Zou         CHN    male    7/5/96
11351   85090644             Yuka Mamiya         JPN  female    4/3/90
11361  223316076           Yuki Miyazawa         JPN  female    6/2/93
11384  521174364        Yuliya Rytsikava         BLR  female    9/8/86
11460  916408500            Zeljko Sakic         CRO    male   4/14/88
11475  167115740             Zhelin Wang         CHN    male   1/20/94
11483  756808595            Zhifang Zhao         CHN  female   8/11/94

       height  weight       sport  gold  silver  bronze
95       1.94    90.0  basketball     0       0       0
132      1.70    65.0  basketball     0       0       0
201      1.93    95.0  basketball     0       0       0
214      1.92    85.0  basketball     0       0       0
250      2.10   102.0  basketball     0       0       0
260      1.91    68.0  basketball     0       1       0
313      1.87    76.0  basketball     0       0       1
349      1.98    93.0  basketball     0       0       1
355      1.92   102.0  basketball     0       0       0
480      1.70    64.0  basketball     0       0       0
607      1.63     NaN  basketball     0       0       0
650      1.83    70.0  basketball     0       0       1
716      1.92    82.0  basketball     0       0       0
812      2.01   102.0  basketball     0       0       0
823      2.07   122.0  basketball     0       0       0
869      2.04   107.0  basketball     0       0       0
881      1.85    70.0  basketball     1       0       0
930      1.76    60.0  basketball     0       1       0
1013     2.08   114.0  basketball     0       0       0
1021     2.05    93.0  basketball     0       0       0
1030     1.93    86.0  basketball     0       0       0
1130     2.07   115.0  basketball     0       0       0
1176     1.89    85.0  basketball     0       0       0
1177     1.65    62.0  basketball     0       0       0
1217     1.95    68.0  basketball     0       1       0
1218     1.85    75.0  basketball     0       0       0
1246     2.06   118.0  basketball     0       0       0
1270     1.83    75.0  basketball     0       0       0
1285     1.75    69.0  basketball     0       0       0
1304     1.90    76.0  basketball     0       0       0
...       ...     ...         ...   ...     ...     ...
10322    1.81    69.0  basketball     0       0       0
10329    1.80    67.0  basketball     0       0       0
10332    1.88    78.0  basketball     0       0       0
10377    1.72    68.0  basketball     0       0       0
10445    1.88    83.0  basketball     0       0       0
10492    1.89    86.0  basketball     0       0       0
10521    1.93    88.0  basketball     1       0       0
10530    1.84    75.0  basketball     0       0       0
10606    1.86    80.0  basketball     0       0       0
10648    1.88    85.0  basketball     0       0       0
10712    1.97     NaN  basketball     0       0       0
10737    1.84    72.0  basketball     0       0       0
10805    2.06   107.0  basketball     0       0       1
10898    1.90    88.0  basketball     0       0       0
10922    2.11   112.0  basketball     0       1       0
10934    1.71    69.0  basketball     0       0       0
10974    1.88    78.0  basketball     0       0       0
11023    2.10   115.0  basketball     0       0       1
11027    2.05   110.0  basketball     0       0       0
11065    2.04   100.0  basketball     0       0       0
11068    1.82    68.0  basketball     0       0       0
11163    2.00    91.0  basketball     0       0       0
11204    1.95    86.0  basketball     0       0       0
11332    2.03   107.0  basketball     0       0       0
11351    1.85    74.0  basketball     0       0       0
11361    1.82    70.0  basketball     0       0       0
11384    1.80    69.0  basketball     0       0       0
11460    2.03   105.0  basketball     0       0       0
11475    2.14   100.0  basketball     0       0       0
11483    1.68    57.0  basketball     0       0       0

[288 rows x 11 columns]
boxing
              id                                 name nationality     sex  \
28     349871091                 Abdelhafid Benchabla         ALG    male
30      23564778                     Abdelkader Chadi         ALG    male
37     934545704  Abdelrahman Salah Orabi Abdelgawwad         EGY    male
50     325809293                           Abdul Omar         GHA    male
53     101781750                Abdulkadir Abdullayev         AZE    male
66     157637514                  Ablaikhan Zhussupov         KAZ    male
72     140663745                     Achraf Kharroubi         MAR    male
108     75289002                 Adilbek Niyazymbetov         KAZ    male
111    456381770                   Adlan Abdurashidov         RUS    male
129    593328448                       Adriana Araujo         BRA  female
268    184326688                 Albert Ramon Ramirez         VEN    male
271    670559048                       Albert Selimov         AZE    male
277    331799449              Alberto Ezequiel Melian         ARG    male
279    566773050             Alberto Ignacio Palmetta         ARG    male
459    668278260                   Ali Eren Demirezen         TUR    male
636    657073926                      Amnat Ruenroeng         THA    male
695    901391372                 Anastasiia Beliakova         RUS  female
800    153735693                      Andrei Zamkovoi         RUS    male
801    957911430                     Andreia Bandeira         BRA  female
859    506743542                     Andrique Allisop         SEY    male
951    550413879                    Anna Laurell Nash         SWE  female
1066   824387423                       Antonio Vargas         USA    male
1068   565509368                        Antony Fowler         GBR    male
1075   479087750                        Anvar Yunusov         TJK    male
1085   706967900                      Arajik Marutjan         GER    male
1087   481716571                         Aram Avagyan         ARM    male
1092   756028808                      Arashi Morisaka         JPN    male
1105   978867868                        Ariane Fortin         CAN  female
1119   720999336                          Arlen Lopez         CUB    male
1137   361362188                    Arslanbek Achilov         TKM    male
...          ...                                  ...         ...     ...
10608   34099719               Tony Victor James Yoka         FRA    male
10634   49752494                Tsendbaatar Erdenebat         MGL    male
10656  300389824                    Tuvshinbat Byamba         MGL    male
10732  125173784                Valentino Manfredonia         ITA    male
10763  937539913                       Vasilii Egorov         RUS    male
10770  235882258                       Vassiliy Levit         KAZ    male
10814   70687418                     Victor Rodriguez         VEN    male
10875  983925141                 Vincenzo Mangiacapre         ITA    male
10893  806574554                     Vitaly Dunaytsev         RUS    male
10916  229367719                   Vladimir Margaryan         ARM    male
10919  610704045                     Vladimir Nikitin         RUS    male
10936  204414092                 Volodymyr Matviichuk         UKR    male
10942  539224149     Waheed Abdulridha Waheed Karaawi         IRQ    male
10946  422425972                        Walid Mohamed         EGY    male
10963  450932930                              Wei Liu         CHN    male
11031  404382792                         Winston Hill         FIJ    male
11048  332172731                      Wuttichai Masuk         THA    male
11121  380260850                Yamil Alberto Peralta         ARG    male
11126   76793158                      Yana Alekseevna         AZE  female
11179  893193167                       Yasnier Toledo         CUB    male
11260  540772965                    Yodgoroy Mirzaeva         UZB  female
11261  607223536                   Yoel Segundo Finol         VEN    male
11291  693270892                       Yosbany Veitia         CUB    male
11302  942438156                Youba Sissokho Ndiaye         ESP    male
11398   57329234            Yurberjen Herney Martinez         COL    male
11465  980866226                  Zhaina Shekerbekova         KAZ  female
11468  405483135                 Zhanibek Alimkhanuly         KAZ    male
11513  352983859                        Zohir Kedache         ALG    male
11514  424586991                    Zohra Ez Zahraoui         MAR  female
11517  495365659                   Zoltan Adam Harcsa         HUN    male

            dob  height  weight   sport  gold  silver  bronze
28      9/26/86    1.86     NaN  boxing     0       0       0
30     12/12/86    1.78     NaN  boxing     0       0       0
37      10/9/87    1.85     NaN  boxing     0       0       0
50      10/3/93     NaN     NaN  boxing     0       0       0
53      7/17/88    1.88     NaN  boxing     0       0       0
66      1/10/97    1.75     NaN  boxing     0       0       0
72      9/25/90    1.60     NaN  boxing     0       0       0
108     5/19/89    1.80     NaN  boxing     0       1       0
111     7/31/90    1.72     NaN  boxing     0       0       0
129     11/4/81    1.67     NaN  boxing     0       0       0
268      5/7/92    1.82     NaN  boxing     0       0       0
271      4/5/86    1.71     NaN  boxing     0       0       0
277      1/2/90    1.70     NaN  boxing     0       0       0
279      4/5/90    1.75     NaN  boxing     0       0       0
459      4/2/90    1.89     NaN  boxing     0       0       0
636    12/18/79    1.64     NaN  boxing     0       0       0
695      5/1/93    1.73     NaN  boxing     0       0       1
800      7/4/87    1.82     NaN  boxing     0       0       0
801      5/3/87    1.69     NaN  boxing     0       0       0
859      6/2/93    1.75     NaN  boxing     0       0       0
951     2/12/80    1.84     NaN  boxing     0       0       0
1066    8/15/96    1.68     NaN  boxing     0       0       0
1068    3/10/91    1.79     NaN  boxing     0       0       0
1075     2/1/87    1.69     NaN  boxing     0       0       0
1085    8/15/92    1.80     NaN  boxing     0       0       0
1087    1/18/91    1.73     NaN  boxing     0       0       0
1092     7/2/96    1.76     NaN  boxing     0       0       0
1105   11/20/84    1.75     NaN  boxing     0       0       0
1119    2/21/93    1.78     NaN  boxing     1       0       0
1137     7/1/93    1.77     NaN  boxing     0       0       0
...         ...     ...     ...     ...   ...     ...     ...
10608   4/27/92    2.00     NaN  boxing     1       0       0
10634  10/16/96    1.63     NaN  boxing     0       0       0
10656   3/27/87    1.74     NaN  boxing     0       0       0
10732   9/29/89    1.80     NaN  boxing     0       0       0
10763   9/16/93    1.60     NaN  boxing     0       0       0
10770   2/24/88    1.85     NaN  boxing     0       1       0
10814   3/27/95    1.67     NaN  boxing     0       0       0
10875   1/17/89    1.70     NaN  boxing     0       0       0
10893   4/12/92    1.74     NaN  boxing     0       0       1
10916    3/8/91    1.72     NaN  boxing     0       0       0
10919   3/25/90    1.65     NaN  boxing     0       0       1
10936  12/29/82    1.71     NaN  boxing     0       0       0
10942   5/22/83    1.78     NaN  boxing     0       0       0
10946   8/22/93    1.67     NaN  boxing     0       0       0
10963  11/27/87    1.75     NaN  boxing     0       0       0
11031   9/17/93     NaN     NaN  boxing     0       0       0
11048   3/16/90    1.75     NaN  boxing     0       0       0
11121   7/16/91    1.92     NaN  boxing     0       0       0
11126  10/30/87    1.69     NaN  boxing     0       0       0
11179   9/15/89    1.75     NaN  boxing     0       0       0
11260   4/22/96    1.60     NaN  boxing     0       0       0
11261   9/21/96    1.68     NaN  boxing     0       0       1
11291   3/12/92    1.60     NaN  boxing     0       0       0
11302   11/7/91    1.82     NaN  boxing     0       0       0
11398   11/1/91    1.65     NaN  boxing     0       1       0
11465  12/17/89    1.54     NaN  boxing     0       0       0
11468    4/1/93    1.82     NaN  boxing     0       0       0
11513    3/2/86    1.78     NaN  boxing     0       0       0
11514  11/18/83    1.65     NaN  boxing     0       0       0
11517  11/20/92    1.84     NaN  boxing     0       0       0

[286 rows x 11 columns]
canoe
              id                              name nationality     sex  \
92     983411298                Adam van Koeverden         CAN    male
98     216864827            Adel Mojallalimoghadam         IRI    male
133    439382128                       Adrien Bart         FRA    male
141    508610852                   Afef Ben Ismail         TUN  female
215    273034565                      Aimee Fisher         NZL  female
241    921789441                        Aki Yazawa         JPN  female
281    861268031                 Alberto Ricchetti         ITA    male
308    461398245                 Aleksandr Lipatov         RUS    male
323    200955001               Aleksejs Rumjancevs         LAT    male
325    169040459                  Aleksey Mochalov         UZB    male
404    188141447               Alexandr Yemelyanov         KAZ    male
409    383231190              Alexandra Keresztesi         ARG  female
441    221070420                   Alexey Dergunov         KAZ    male
452    231869553  Alfonso Benavides Lopez de Ayala         ESP    male
561    350021262                     Alyce Burnett         AUS  female
566    192794585                       Alyssa Bull         AUS  female
578    543039949                    Amalie Thomsen         DEN  female
595    582601760                    Amandine Lhote         FRA  female
664    724211622                 Ana Paula Vergutz         BRA  female
670    337538051                        Ana Satila         BRA  female
676    557108863                 Ana-Roxana Lehaci         AUT  female
704    913288591               Anastasiia Todorova         UKR  female
724    949150339                     Ander Elosegi         ESP    male
729    248819461                 Anderson Oliveira         BRA    male
775    321087951                Andreanne Langlois         CAN  female
805    681704491                    Andrej Olijnik         LTU    male
845    967358166                    Andrey Kraitor         RUS    male
850    434890755                 Andrey Yerguchyov         KAZ    male
879    435819850                     Angel Kodinov         BUL    male
885    287231198                     Angela Hannah         GBR  female
...          ...                               ...         ...     ...
10363  364848926                    Teresa Portela         POR  female
10364   18635175              Teresa Portela Rivas         ESP  female
10453  496341298                     Thomas Simart         FRA    male
10474  579357884                    Tibor Hufnagel         HUN    male
10475  123268106                       Tibor Linka         SVK    male
10518  715800350                   Timur Khaidarov         KAZ    male
10522  128638379                       Tina Dietze         GER  female
10566  621529566                     Tom Liebscher         GER    male
10581  534870761                     Tomasz Kaczor         POL    male
10643  950036284                    Tsubasa Sasaki         JPN    male
10690  370406221                      Ursa Kragelj         SLO  female
10709  723818458               Vagner Junior Souta         BRA    male
10718  142185153               Valentin Demyanenko         AZE    male
10768  582848333                   Vasily Pogreban         RUS    male
10851  636310483                  Viktoria Schwarz         AUT  female
10857  485757978                      Viktoriia Us         UKR  female
10866  932426895                    Vincent Farkas         SVK    male
10895  819853942                   Vitezslav Gebas         CZE    male

In [28]:
g_sport.max().sort_values('height', ascending = False)

,id,name,nationality,sex,height,weight,gold,silver,bronze
sport,,,,,,,,,
aquatics,998710520,Zsuzsanna Jakabos,ZIM,male,2.21,130.0,5,2,2
basketball,999131085,Zhifang Zhao,VEN,male,2.18,137.0,1,1,1
volleyball,999580644,Yvon Belien,VEN,male,2.11,115.0,1,1,1
handball,999276272,Zlatko Horvat,TUN,male,2.10,118.0,1,1,1
judo,991852219,Zoulehia Abzetta Dabonne,ZAM,male,2.10,170.0,1,1,1
rowing,997943868,Zoe de Toledo,ZIM,male,2.09,110.0,1,1,1
athletics,999784977,le Roux Hamman,ZIM,male,2.08,165.0,3,2,2
taekwondo,990831505,Yousef Shriha,VEN,male,2.07,108.0,1,1,1
boxing,992517041,Zoltan Adam Harcsa,ZAM,male,2.06,NaN,1,1,1
fencing,998460252,Yunlong Jiao,VIE,male,2.05,102.0,2,1,1
tennis,997901130,Yung-Jan Chan,UZB,male,2.04,99.0,1,1,1
sailing,998446972,Zsombor Berecz,VEN,male,2.04,102.0,1,1,1
rugby sevens,996222405,Zack Test,USA,male,2.03,113.0,1,1,1
wrestling,997852630,di Xiao,VIE,male,2.03,130.0,1,1,1
shooting,992947913,Zsofia Csonka,ZIM,male,2.02,140.0,2,1,1
canoe,997459236,Zoya Ananchenko,UZB,male,2.02,115.0,3,2,1
table tennis,999104659,Zokhid Kenjaev,VEN,male,1.98,99.0,2,1,1
badminton,999578859,Zi Liang Derek Wong,VIE,male,1.98,93.0,1,1,1
modern pentathlon,971791407,Zsofia Foldhazi,USA,male,1.97,90.0,1,1,1
weightlifting,999333930,le Quoc Toan Tran,VIE,male,1.97,170.0,1,1,1
golf,996212053,Yuta Ikeda,VEN,male,1.96,106.0,1,1,1
football,999653955,Zeca,ZIM,male,1.96,100.0,1,1,1
equestrian,999374064,Yvonne Losos de Muniz,ZIM,male,1.96,89.0,1,1,1
cycling,994296683,Zhen Wang,VEN,male,1.96,100.0,3,2,2
hockey,999987786,Zixia Ou,USA,male,1.96,95.0,1,1,1
archery,999509819,Zahra Nemati,ZIM,male,1.94,130.0,2,1,1
triathlon,979365404,Zsofia Kovacs,USA,male,1.91,80.0,1,1,1
gymnastics,997432582,Zsofia Kovacs,VIE,male,1.84,81.0,4,2,1

In [29]:
g_sport.get_group('aquatics')

,bronze,dob,gold,height,id,name,nationality,sex,silver,weight
7,0,9/25/91,0,1.93,382571888,Aaron Younger,AUS,male,0,100.0
12,0,10/11/92,0,NaN,258556239,Abbas Qali,IOA,male,0,NaN
14,0,12/3/96,1,1.78,162792594,Abbey Weitzeil,USA,female,1,68.0
26,0,10/12/94,0,1.81,189931373,Abdelaziz Mohamed Ahmed,SUD,male,0,72.0
45,0,8/20/88,0,1.90,702606719,Abdoul Khadre Mbaye Niane,SEN,male,0,90.0
62,0,4/12/00,0,NaN,884912875,Abeku Gyekye Jackson,GHA,male,0,NaN
64,0,11/16/89,0,1.66,884912136,Abigail Johnston,USA,female,0,61.0
75,0,2/29/84,0,2.03,256805041,Adam Decker,HUN,male,0,115.0
85,0,12/28/94,1,1.93,561951036,Adam Peaty,GBR,male,1,88.0
87,0,11/1/95,0,1.94,846863992,Adam Telegdy,HUN,male,0,77.0
89,0,9/6/96,0,1.88,266751447,Adam Viktora,SEY,male,0,94.0
114,0,4/7/90,0,1.84,787208883,Adrian Baches,BRA,male,0,83.0
137,0,1/25/99,0,1.58,835610998,Adzo Rebecca Kpossi,TOG,female,0,53.0
142,0,1/11/98,0,1.70,477738986,Africa Zamorano Sanz,ESP,female,0,58.0
147,0,4/22/94,0,1.75,971796358,Aglaia Pezzato,ITA,female,0,60.0
166,0,8/28/92,0,1.62,942902378,Ahmad Amsyar Azman,MAS,male,0,62.0
172,0,10/20/96,0,1.88,873200853,Ahmed Akram,EGY,male,0,80.0
174,0,7/30/95,0,NaN,9418987,Ahmed Attellesey,LBA,male,0,NaN
180,0,1/22/91,0,NaN,64299896,Ahmed Gebrel,PLE,male,0,NaN
184,0,12/18/89,0,1.90,114527133,Ahmed Mathlouthi,TUN,male,0,90.0
205,0,9/7/90,0,1.87,248085477,Aidan Roach,AUS,male,0,88.0
206,1,7/27/91,0,1.76,743883365,Aika Hakoyama,JPN,female,0,62.0
209,1,11/17/93,0,1.66,574808106,Aiko Hayashi,JPN,female,0,56.0
216,0,2/26/93,0,1.71,266091485,Aimee Willmott,GBR,female,0,66.0
223,0,10/22/95,2,1.68,840071617,Aisen Chen,CHN,male,0,60.0
227,0,8/22/93,0,1.83,191963338,Aitor Martinez Rodriguez,ESP,male,0,78.0
231,0,9/10/01,0,1.65,504635619,Ajna Kesely,HUN,female,0,54.0
245,0,8/11/88,0,1.91,816408353,Akira Yanase,JPN,male,0,95.0
261,0,5/1/95,0,1.78,551413911,Albachir Mouctar,NIG,male,0,76.0
263,0,10/29/85,0,1.89,930879907,Albert Espanol Lifante,ESP,male,0,86.0
...,...,...,...,...,...,...,...,...,...,...
11336,0,10/29/95,0,1.78,426336563,Yue Cao,CHN,female,0,72.0
11338,0,7/24/91,1,1.64,500859635,Yue Lin,CHN,male,0,58.0
11343,0,4/19/98,0,1.76,968356783,Yufei Zhang,CHN,female,0,62.0
11345,0,1/6/95,0,1.73,97065462,Yuhan Zhang,CHN,female,0,60.0
11346,0,6/3/97,0,1.78,122679223,Yuhang Wu,CHN,male,0,72.0
11358,0,9/14/90,0,1.77,917190651,Yuki Kadono,JPN,male,0,72.0
11359,1,11/25/93,0,1.83,324618185,Yuki Kobori,JPN,male,0,77.0
11365,2,12/4/90,0,1.70,703800372,Yukiko Inui,JPN,female,0,56.0
11370,0,4/3/92,0,NaN,86099624,Yulia Efimova,RUS,female,2,NaN
11371,0,1/23/98,0,1.57,247132053,Yulia Timoshinina,RUS,female,0,46.0
11379,0,9/11/89,0,1.80,416483040,Yuliya Khitraya,BLR,female,0,66.0
11388,0,6/30/85,0,1.60,304244735,Yumi Kida,JPN,female,0,55.0
11401,0,9/18/95,0,2.00,708404577,Yuri Kisil,CAN,male,0,84.0
11415,0,3/5/98,0,1.68,826970631,Yusra Mardini,ROT,female,0,53.0
11418,0,9/7/88,0,1.81,920794610,Yusuke Shimizu,JPN,male,0,93.0
11429,0,1/18/93,0,1.76,638722010,Yvette Man-Yi Kong,HKG,female,0,60.0
11456,0,6/24/79,0,1.93,988416903,Zdravko Radic,MNE,male,0,96.0
11463,0,3/6/93,0,1.91,788878355,Zetao Ning,CHN,male,0,80.0
11478,0,11/28/93,0,1.70,604655983,Zhen Zeng,CHN,female,1,61.0
11481,0,9/29/96,0,1.79,60255358,Zheng Wen Quah,SIN,male,0,79.0
11489,0,1/9/99,0,1.85,839669919,Zhuhao Li,CHN,male,0,76.0
11491,0,12/10/90,0,1.60,105609876,Zi He,CHN,female,1,52.0
11493,0,8/30/98,0,1.82,807355678,Ziao Qiu,CHN,male,0,67.0
11494,0,10/12/95,0,1.90,425868187,Zibei Yan,CHN,male,0,75.0
11498,0,9/4/93,0,1.72,192304802,Zihan Zhao,CHN,female,0,62.0
11500,0,1/15/97,0,1.85,274387882,Ziv Kalontarov,ISR,male,0,71.0
11503,0,8/22/82,1,1.93,593183472,Zivko Gocic,SRB,male,0,93.0
11507,0,7/14/91,0,1.70,446963221,Zoe Arancini,AUS,female,0,70.0
11512,0,7/8/97,0,1.78,371106012,Zohar Shikler,ISR,female,0,61.0
11530,0,4/3/89,0,1.85,739315046,Zsuzsanna Jakabos,HUN,female,0,70.0

<h2 class = "yellow"> 3. Who is the person who won 5 gold medals in aquatics? </h2>

In [30]:
rio.loc[(rio['gold'] == 5) & (rio['sport'] == 'aquatics') ]

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze
7401,491565031,Michael Phelps,USA,male,6/30/85,1.94,90.0,aquatics,5,1,0

<h2 class = "yellow"> 4. Who won more than 3 Gold Medals? </h2>

In [31]:
rio.loc[(rio['gold'] > 3)]

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze
5550,960103057,Katie Ledecky,USA,female,3/17/97,1.83,72.0,aquatics,4,1,0
7401,491565031,Michael Phelps,USA,male,6/30/85,1.94,90.0,aquatics,5,1,0
9895,770111957,Simone Biles,USA,female,3/14/97,1.45,47.0,gymnastics,4,0,1

<center><h1 class = "blue"> Map </h1></center>

In [32]:
#you can think of Map like a dictionary where the source column values will be your keys and they will map to
#some value
dna  = pd.read_csv('dna.csv')
dna

      id                           sequence            species
0  zyx-1  ACTGCGTCAGTCGACTGATCGATCGGCATCGTT       Homo sapiens
1  zyx-2       CGUACGUAGCUAGCGUGACGUGACGGUA  Rattus norvegicus
2  zyx-3     AGCUGAGCCCCUUGGCAACGGUAGCUGAGC       Mus musculus
3  zyx-4         ATCAGCTGACTGATCGTAGCTAGTCG        Canis lupus
4  zyx-5       CTGATGCTAGCTGTGATCGTGACTGCTG        Felis catus

In [33]:
#You have to present this data to non-scientists and want to map the latin species names to their English translation

dna['eng_species'] = dna['species'].map({'Homo sapiens':'Human','Rattus norvegicus':'Rat',
                                         'Mus musculus':'Mouse','Canis lupus':'Dog','Felis catus':'Cat'})
#Take a peak for those first 3 rows for the specis and eng_species columns
dna.loc[0:2,['species','eng_species']]

             species eng_species
0       Homo sapiens       Human
1  Rattus norvegicus         Rat
2       Mus musculus       Mouse

<center><h1 class = "blue"> Apply </h1></center>
### As A Series Method

In [34]:
dna

      id                           sequence            species eng_species
0  zyx-1  ACTGCGTCAGTCGACTGATCGATCGGCATCGTT       Homo sapiens       Human
1  zyx-2       CGUACGUAGCUAGCGUGACGUGACGGUA  Rattus norvegicus         Rat
2  zyx-3     AGCUGAGCCCCUUGGCAACGGUAGCUGAGC       Mus musculus       Mouse
3  zyx-4         ATCAGCTGACTGATCGTAGCTAGTCG        Canis lupus         Dog
4  zyx-5       CTGATGCTAGCTGTGATCGTGACTGCTG        Felis catus         Cat

In [35]:
def rnaordna(seq):
    if 'U' in seq:
        return 'RNA'
    else:
        return 'DNA'
    
dna['type'] = dna['sequence'].apply(rnaordna)

dna

,id,sequence,species,eng_species,type
0,zyx-1,ACTGCGTCAGTCGACTGATCGATCGGCATCGTT,Homo sapiens,Human,DNA
1,zyx-2,CGUACGUAGCUAGCGUGACGUGACGGUA,Rattus norvegicus,Rat,RNA
2,zyx-3,AGCUGAGCCCCUUGGCAACGGUAGCUGAGC,Mus musculus,Mouse,RNA
3,zyx-4,ATCAGCTGACTGATCGTAGCTAGTCG,Canis lupus,Dog,DNA
4,zyx-5,CTGATGCTAGCTGTGATCGTGACTGCTG,Felis catus,Cat,DNA

<center><h1 class = "blue"> Apply </h1></center>
### As A DataFrame Method works on either axis

In [54]:
art_a = pd.read_csv('art_a.csv')
art_a.loc[:,'Category':].apply(np.sum,axis = 0)

Category     10
Exhibits    261
dtype: int64

<center><h1 class = "blue"> ApplyMap </h1></center>
### Works on an entire dataframe

In [55]:
art_a = pd.read_csv('art_a.csv')
art_a.loc[:,'Category':].applymap(lambda x: x **2)

   Category  Exhibits
0         1      3136
1         1      3600
2         4      2025
3         4      2116
4        16      2916

<center><h1 class = "blue"> lambda what?! </h1></center>

In [58]:
even = lambda x: x%2 == 0
print (even(6))

formula = lambda x,y,z: x + y ** z
formula(1,2,3)

True

9

<center><h1 class = "blue"> Missing Data</h1></center>

In [37]:
import pandas as pd
weather_m = pd.read_csv('weather_c.csv')

In [38]:
weather_m

       Day       City  Temperature Night  Humidity Night Measured By
0   1/1/18  Cambridge               -9.0            27.0        Alan
1   1/2/18  Cambridge               -5.0            37.0        Alan
2   1/3/18  Cambridge                0.0            41.0        Alan
3   1/4/18  Cambridge                1.0            91.0        Alan
4      NaN        NaN                NaN             NaN         NaN
5   1/2/18  Barcelona               21.0             NaN        Jane
6   1/3/18  Barcelona               25.0             NaN        Jane
7   1/4/18  Barcelona                NaN            41.0        Jane
8   1/1/18   Belgrade                NaN            55.0        Jane
9      NaN        NaN                NaN             NaN         NaN
10  1/3/18   Belgrade               11.0            51.0        Jane
11  1/4/18   Belgrade                3.0            60.0        Jane
12  1/1/18   Bordeaux               11.0            71.0         NaN
13  1/2/18   Bordeaux               11.0            91.0        Luka
14  1/3/18   Bordeaux               11.0            80.0        Luka
15  1/4/18   Bordeaux               11.0            70.0        Luka

#### Do you have missing data?

In [39]:
#Check if Value is missing or not
weather_m.isnull()

      Day   City  Temperature Night  Humidity Night  Measured By
0   False  False              False           False        False
1   False  False              False           False        False
2   False  False              False           False        False
3   False  False              False           False        False
4    True   True               True            True         True
5   False  False              False            True        False
6   False  False              False            True        False
7   False  False               True           False        False
8   False  False               True           False        False
9    True   True               True            True         True
10  False  False              False           False        False
11  False  False              False           False        False
12  False  False              False           False         True
13  False  False              False           False        False
14  False  False              False           False        False
15  False  False              False           False        False

#### Drop all rows that have ANY missing values

In [40]:
#Drop all rows that have ANY missing value
weather_m_dropped= weather_m.dropna()
weather_m_dropped

       Day       City  Temperature Night  Humidity Night Measured By
0   1/1/18  Cambridge               -9.0            27.0        Alan
1   1/2/18  Cambridge               -5.0            37.0        Alan
2   1/3/18  Cambridge                0.0            41.0        Alan
3   1/4/18  Cambridge                1.0            91.0        Alan
10  1/3/18   Belgrade               11.0            51.0        Jane
11  1/4/18   Belgrade                3.0            60.0        Jane
13  1/2/18   Bordeaux               11.0            91.0        Luka
14  1/3/18   Bordeaux               11.0            80.0        Luka
15  1/4/18   Bordeaux               11.0            70.0        Luka

#### Drop rows only if any values are missing

In [41]:
#specifying drop if ANY values are missing
weather_m_drop_ifall = weather_m.dropna(how = 'any')
weather_m_drop_ifall

       Day       City  Temperature Night  Humidity Night Measured By
0   1/1/18  Cambridge               -9.0            27.0        Alan
1   1/2/18  Cambridge               -5.0            37.0        Alan
2   1/3/18  Cambridge                0.0            41.0        Alan
3   1/4/18  Cambridge                1.0            91.0        Alan
10  1/3/18   Belgrade               11.0            51.0        Jane
11  1/4/18   Belgrade                3.0            60.0        Jane
13  1/2/18   Bordeaux               11.0            91.0        Luka
14  1/3/18   Bordeaux               11.0            80.0        Luka
15  1/4/18   Bordeaux               11.0            70.0        Luka

#### Drop all rows that have have ALL values missing

In [42]:
#specifying drop if ANY are missing or if ALL are missing
weather_m_drop_any = weather_m.dropna(how = 'all')
weather_m_drop_any

       Day       City  Temperature Night  Humidity Night Measured By
0   1/1/18  Cambridge               -9.0            27.0        Alan
1   1/2/18  Cambridge               -5.0            37.0        Alan
2   1/3/18  Cambridge                0.0            41.0        Alan
3   1/4/18  Cambridge                1.0            91.0        Alan
5   1/2/18  Barcelona               21.0             NaN        Jane
6   1/3/18  Barcelona               25.0             NaN        Jane
7   1/4/18  Barcelona                NaN            41.0        Jane
8   1/1/18   Belgrade                NaN            55.0        Jane
10  1/3/18   Belgrade               11.0            51.0        Jane
11  1/4/18   Belgrade                3.0            60.0        Jane
12  1/1/18   Bordeaux               11.0            71.0         NaN
13  1/2/18   Bordeaux               11.0            91.0        Luka
14  1/3/18   Bordeaux               11.0            80.0        Luka
15  1/4/18   Bordeaux               11.0            70.0        Luka

#### Setting a minimum treshold of values for keeping

In [43]:
#asking for at least N values per row that are not NaN
weather_m
weather_m.dropna(thresh=3)

       Day       City  Temperature Night  Humidity Night Measured By
0   1/1/18  Cambridge               -9.0            27.0        Alan
1   1/2/18  Cambridge               -5.0            37.0        Alan
2   1/3/18  Cambridge                0.0            41.0        Alan
3   1/4/18  Cambridge                1.0            91.0        Alan
5   1/2/18  Barcelona               21.0             NaN        Jane
6   1/3/18  Barcelona               25.0             NaN        Jane
7   1/4/18  Barcelona                NaN            41.0        Jane
8   1/1/18   Belgrade                NaN            55.0        Jane
10  1/3/18   Belgrade               11.0            51.0        Jane
11  1/4/18   Belgrade                3.0            60.0        Jane
12  1/1/18   Bordeaux               11.0            71.0         NaN
13  1/2/18   Bordeaux               11.0            91.0        Luka
14  1/3/18   Bordeaux               11.0            80.0        Luka
15  1/4/18   Bordeaux               11.0            70.0        Luka

In [44]:
weather_m

       Day       City  Temperature Night  Humidity Night Measured By
0   1/1/18  Cambridge               -9.0            27.0        Alan
1   1/2/18  Cambridge               -5.0            37.0        Alan
2   1/3/18  Cambridge                0.0            41.0        Alan
3   1/4/18  Cambridge                1.0            91.0        Alan
4      NaN        NaN                NaN             NaN         NaN
5   1/2/18  Barcelona               21.0             NaN        Jane
6   1/3/18  Barcelona               25.0             NaN        Jane
7   1/4/18  Barcelona                NaN            41.0        Jane
8   1/1/18   Belgrade                NaN            55.0        Jane
9      NaN        NaN                NaN             NaN         NaN
10  1/3/18   Belgrade               11.0            51.0        Jane
11  1/4/18   Belgrade                3.0            60.0        Jane
12  1/1/18   Bordeaux               11.0            71.0         NaN
13  1/2/18   Bordeaux               11.0            91.0        Luka
14  1/3/18   Bordeaux               11.0            80.0        Luka
15  1/4/18   Bordeaux               11.0            70.0        Luka

<center><h1 class = "blue"> Filling Missing Values With Data</h1></center>

#### Missing values can be replaced with any value

In [45]:
### Filling missing values (Replacing with another value)
weather_m_zero = weather_m.fillna(0)
weather_m

       Day       City  Temperature Night  Humidity Night Measured By
0   1/1/18  Cambridge               -9.0            27.0        Alan
1   1/2/18  Cambridge               -5.0            37.0        Alan
2   1/3/18  Cambridge                0.0            41.0        Alan
3   1/4/18  Cambridge                1.0            91.0        Alan
4      NaN        NaN                NaN             NaN         NaN
5   1/2/18  Barcelona               21.0             NaN        Jane
6   1/3/18  Barcelona               25.0             NaN        Jane
7   1/4/18  Barcelona                NaN            41.0        Jane
8   1/1/18   Belgrade                NaN            55.0        Jane
9      NaN        NaN                NaN             NaN         NaN
10  1/3/18   Belgrade               11.0            51.0        Jane
11  1/4/18   Belgrade                3.0            60.0        Jane
12  1/1/18   Bordeaux               11.0            71.0         NaN
13  1/2/18   Bordeaux               11.0            91.0        Luka
14  1/3/18   Bordeaux               11.0            80.0        Luka
15  1/4/18   Bordeaux               11.0            70.0        Luka

#### Sometimes in numeric columns you may want to replace missing values with the mean of the column

In [46]:
### A more useful thing to do may be to replace the vals with an Average
weather_mean = weather_m.copy()
weather_mean["Humidity Night"] = weather_mean["Humidity Night"].fillna(weather_mean["Humidity Night"].mean())
weather_mean

       Day       City  Temperature Night  Humidity Night Measured By
0   1/1/18  Cambridge               -9.0       27.000000        Alan
1   1/2/18  Cambridge               -5.0       37.000000        Alan
2   1/3/18  Cambridge                0.0       41.000000        Alan
3   1/4/18  Cambridge                1.0       91.000000        Alan
4      NaN        NaN                NaN       59.583333         NaN
5   1/2/18  Barcelona               21.0       59.583333        Jane
6   1/3/18  Barcelona               25.0       59.583333        Jane
7   1/4/18  Barcelona                NaN       41.000000        Jane
8   1/1/18   Belgrade                NaN       55.000000        Jane
9      NaN        NaN                NaN       59.583333         NaN
10  1/3/18   Belgrade               11.0       51.000000        Jane
11  1/4/18   Belgrade                3.0       60.000000        Jane
12  1/1/18   Bordeaux               11.0       71.000000         NaN
13  1/2/18   Bordeaux               11.0       91.000000        Luka
14  1/3/18   Bordeaux               11.0       80.000000        Luka
15  1/4/18   Bordeaux               11.0       70.000000        Luka

#### It is also possible to drop a whole column based on missing value status

In [47]:
#you can also drop columns
weather_d = pd.read_csv('weather_d.csv')
print (weather_m)
weather_d.dropna(axis = 1, how ='all', inplace = True)
weather_d

       Day       City  Temperature Night  Humidity Night Measured By
0   1/1/18  Cambridge               -9.0            27.0        Alan
1   1/2/18  Cambridge               -5.0            37.0        Alan
2   1/3/18  Cambridge                0.0            41.0        Alan
3   1/4/18  Cambridge                1.0            91.0        Alan
4      NaN        NaN                NaN             NaN         NaN
5   1/2/18  Barcelona               21.0             NaN        Jane
6   1/3/18  Barcelona               25.0             NaN        Jane
7   1/4/18  Barcelona                NaN            41.0        Jane
8   1/1/18   Belgrade                NaN            55.0        Jane
9      NaN        NaN                NaN             NaN         NaN
10  1/3/18   Belgrade               11.0            51.0        Jane
11  1/4/18   Belgrade                3.0            60.0        Jane
12  1/1/18   Bordeaux               11.0            71.0         NaN
13  1/2/18   Bordeaux               11.0            91.0        Luka
14  1/3/18   Bordeaux               11.0            80.0        Luka
15  1/4/18   Bordeaux               11.0            70.0        Luka

       Day       City  Temperature Night  Humidity Night Measured By
0   1/1/18  Cambridge               -9.0            27.0        Alan
1   1/2/18  Cambridge               -5.0            37.0        Alan
2   1/3/18  Cambridge                0.0            41.0        Alan
3   1/4/18  Cambridge                1.0            91.0        Alan
4      NaN        NaN                NaN             NaN         NaN
5   1/2/18  Barcelona               21.0             NaN        Jane
6   1/3/18  Barcelona               25.0             NaN        Jane
7   1/4/18  Barcelona                NaN            41.0        Jane
8   1/1/18   Belgrade                NaN            55.0        Jane
9      NaN        NaN                NaN             NaN         NaN
10  1/3/18   Belgrade               11.0            51.0        Jane
11  1/4/18   Belgrade                3.0            60.0        Jane
12  1/1/18   Bordeaux               11.0            71.0         NaN
13  1/2/18   Bordeaux               11.0            91.0        Luka
14  1/3/18   Bordeaux               11.0            80.0        Luka
15  1/4/18   Bordeaux               11.0            70.0        Luka

<center><h1 class = "blue"> DataFrame Concatenation</h1></center>

In [63]:
df1 = pd.DataFrame({'name':['Ann','Bob','Tijana'], 'color':['Blue','Red',np.nan]})
df2 = pd.DataFrame({'name':['Jane','Dana','Tihomir'], 'color':['Blue','Green','Green']}, index = [3,2,1])
print (df1)
print (df2)

  color    name
0  Blue     Ann
1   Red     Bob
2   NaN  Tijana
   color     name
3   Blue     Jane
2  Green     Dana
1  Green  Tihomir

#### This works but notice our index

In [70]:
df3 = pd.concat([df1,df2])
df3

   color     name
0   Blue      Ann
1    Red      Bob
2    NaN   Tijana
3   Blue     Jane
2  Green     Dana
1  Green  Tihomir

#### Reset a df index

In [71]:
df3 = df3.reset_index(drop=True)
df3

   color     name
0   Blue      Ann
1    Red      Bob
2    NaN   Tijana
3   Blue     Jane
4  Green     Dana
5  Green  Tihomir

#### You could reindex

In [75]:
df3 = df3.reindex(range(0,len(df3.index)))
df3

   color     name
0   Blue      Ann
1    Red      Bob
2    NaN   Tijana
3   Blue     Jane
4  Green     Dana
5  Green  Tihomir

#### How would you even know if your index has duplicates?

In [76]:
df3 = pd.concat([df1,df2], verify_integrity = True)

ValueError: Indexes have overlapping values: [1, 2]

#### We could just get started with a new index when we concatenate?

In [78]:
df3 = pd.concat([df1,df2], ignore_index = True)
df3

   color     name
0   Blue      Ann
1    Red      Bob
2    NaN   Tijana
3   Blue     Jane
4  Green     Dana
5  Green  Tihomir

#### We can also concatenate columns, be careful about columns with equal names.

In [83]:
df3 = pd.concat([df1,df2], axis = 1)
df3['color']

  color  color
0  Blue    NaN
1   Red  Green
2   NaN  Green
3   NaN   Blue

<center><h1 class = "blue"> Merging DataFrames Introduction</h1></center>

In [48]:
art_a = pd.read_csv('art_a.csv')
art_a

   id       Artist Name  Category  Exhibits
0   1  Marina Abramovic         1        56
1   2      Chris Burden         1        60
2   3         Ai Weiwei         2        45
3   4      Joseph Beuys         2        46
4   5      Azuma Makoto         4        54

In [49]:
art_b = pd.read_csv('art_b.csv')
art_b

        Artist Name  Score  Exhibits
0  Marina Abramovic     95        59
1      Chris Burden     80        65
2         Ai Weiwei     93        55

In [90]:
#Merging DataFrames based on a column
a_b_merge = pd.merge(art_a, art_b, on='Artist Name')
a_b_merge

   id       Artist Name  Category  Exhibits_x  Score  Exhibits_y
0   1  Marina Abramovic         1          56     95          59
1   2      Chris Burden         1          60     80          65
2   3         Ai Weiwei         2          45     93          55

<center><h1 class = "blue"> Removing Duplicates Example</h1></center>

In [92]:
#Note that this bowtie sequence data is generated and not experimental
df = pd.read_csv('overcounting_pub.csv',sep=',',header=None)
bowtie_columns = ['query', 'strand', 'id','location','read_sequence','read_quality','other_alignments']
df.columns = bowtie_columns
df

,query,strand,id,location,read_sequence,read_quality,other_alignments
0,0_13,+,m54071_171213_233458/10027129/ccs,1336,TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3
1,0_13,-,m54071_171213_233458/10027129/ccs,779,TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,2
2,14_14,+,m54071_171213_233458/10027129/ccs,1457,TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3573
3,14_14,-,m54071_171213_233458/10027129/ccs,658,TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3534
4,15_15,+,m54071_171213_233458/10027129/ccs,1726,CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3444
5,15_15,-,m54071_171213_233458/10027129/ccs,389,TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3543
6,16_16,+,m54071_171213_233458/10027129/ccs,1873,TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3578
7,16_16,-,m54071_171213_233458/10027129/ccs,242,TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3576
8,17_17,+,m54071_171213_233458/10027129/ccs,1952,TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3425
9,17_17,-,m54071_171213_233458/10027129/ccs,163,CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3417
10,18_18,+,m54071_171213_233458/10027129/ccs,2013,TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3390
11,18_18,-,m54071_171213_233458/10027129/ccs,102,TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3237
12,19_19,+,m54071_171213_233458/10027129/ccs,2075,TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3468
13,19_19,-,m54071_171213_233458/10027129/ccs,40,TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3295
14,0_0,+,m54071_171213_233458/10027401/ccs,3537,CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3202
15,0_0,-,m54071_171213_233458/10027401/ccs,2888,TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3277
16,1_1,+,m54071_171213_233458/10027401/ccs,3713,TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,2816
17,1_1,-,m54071_171213_233458/10027401/ccs,2714,TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,2306
18,2_2,+,m54071_171213_233458/10027401/ccs,3861,TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3033
19,2_2,-,m54071_171213_233458/10027401/ccs,2566,CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3116
20,3_3,+,m54071_171213_233458/10027401/ccs,4010,TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,2953
21,3_3,-,m54071_171213_233458/10027401/ccs,2416,TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,2980
22,5_5,+,m54071_171213_233458/10027401/ccs,4300,TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3174
23,5_5,-,m54071_171213_233458/10027401/ccs,2130,TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3073
24,6_6,+,m54071_171213_233458/10027401/ccs,4410,CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3203
25,6_6,-,m54071_171213_233458/10027401/ccs,2021,TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3071
26,7_7,+,m54071_171213_233458/10027401/ccs,4645,TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3087
27,8_8,+,m54071_171213_233458/10027401/ccs,4763,TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3217
28,8_8,-,m54071_171213_233458/10027401/ccs,1665,TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3231
29,9_9,+,m54071_171213_233458/10027401/ccs,4982,CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,2975
30,9_9,-,m54071_171213_233458/10027401/ccs,1454,TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,2847
31,10_10,+,m54071_171213_233458/10027401/ccs,5137,TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3244
32,10_10,-,m54071_171213_233458/10027401/ccs,1298,TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,2984
33,11_11,+,m54071_171213_233458/10027401/ccs,5326,TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3218
34,11_11,-,m54071_171213_233458/10027401/ccs,1106,CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3114
35,12_12,+,m54071_171213_233458/10027401/ccs,5500,TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3346
36,12_12,-,m54071_171213_233458/10027401/ccs,934,TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3458
37,13_13,+,m54071_171213_233458/10027401/ccs,5657,TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3448
38,13_13,-,m54071_171213_233458/10027401/ccs,777,TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3297
39,14_14,+,m54071_171213_233458/10027401/ccs,5779,CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3573
40,14_14,-,m54071_171213_233458/10027401/ccs,656,TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3534
41,15_15,+,m54071_171213_233458/10027401/ccs,6050,TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3444
42,15_15,-,m54071_171213_233458/10027401/ccs,387,TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3543
43,16_16,+,m54071_171213_233458/10027401/ccs,6197,TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3578
44,16_16,-,m54071_171213_233458/10027401/ccs,240,CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3576
45,17_17,+,m54071_171213_233458/10027401/ccs,6276,TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3425
46,17_17,-,m54071_171213_233458/10027401/ccs,161,TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3417
47,18_18,+,m54071_171213_233458/10027401/ccs,6337,TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3390
48,18_18,-,m54071_171213_233458/10027401/ccs,100,TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3237
49,19_19,+,m54071_171213_233458/10027401/ccs,6398,CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3468
50,19_19,-,m54071_171213_233458/10027401/ccs,38,TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3295
51,0_0,+,m54071_171213_233458/10027472/ccs,196,TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3202
52,0_0,-,m54071_171213_233458/10027472/ccs,5665,TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3277
53,1_1,-,m54071_171213_233458/10027472/ccs,5489,TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,2306
54,2_2,-,m54071_171213_233458/10027472/ccs,5342,CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3116

In [95]:
d = df.sort_values(['id', 'query'], ascending=[True, True])
print (d.head)
d = d.drop_duplicates(["query","id"], keep="first")

<bound method NDFrame.head of     query strand                                 id  location  \
0    0_13      +  m54071_171213_233458/10027129/ccs      1336
1    0_13      -  m54071_171213_233458/10027129/ccs       779
2   14_14      +  m54071_171213_233458/10027129/ccs      1457
3   14_14      -  m54071_171213_233458/10027129/ccs       658
4   15_15      +  m54071_171213_233458/10027129/ccs      1726
5   15_15      -  m54071_171213_233458/10027129/ccs       389
6   16_16      +  m54071_171213_233458/10027129/ccs      1873
7   16_16      -  m54071_171213_233458/10027129/ccs       242
8   17_17      +  m54071_171213_233458/10027129/ccs      1952
9   17_17      -  m54071_171213_233458/10027129/ccs       163
10  18_18      +  m54071_171213_233458/10027129/ccs      2013
11  18_18      -  m54071_171213_233458/10027129/ccs       102
12  19_19      +  m54071_171213_233458/10027129/ccs      2075
13  19_19      -  m54071_171213_233458/10027129/ccs        40
14    0_0      +  m54071_171213_233458/10027401/ccs      3537
15    0_0      -  m54071_171213_233458/10027401/ccs      2888
31  10_10      +  m54071_171213_233458/10027401/ccs      5137
32  10_10      -  m54071_171213_233458/10027401/ccs      1298
33  11_11      +  m54071_171213_233458/10027401/ccs      5326
34  11_11      -  m54071_171213_233458/10027401/ccs      1106
35  12_12      +  m54071_171213_233458/10027401/ccs      5500
36  12_12      -  m54071_171213_233458/10027401/ccs       934
37  13_13      +  m54071_171213_233458/10027401/ccs      5657
38  13_13      -  m54071_171213_233458/10027401/ccs       777
39  14_14      +  m54071_171213_233458/10027401/ccs      5779
40  14_14      -  m54071_171213_233458/10027401/ccs       656
41  15_15      +  m54071_171213_233458/10027401/ccs      6050
42  15_15      -  m54071_171213_233458/10027401/ccs       387
43  16_16      +  m54071_171213_233458/10027401/ccs      6197
44  16_16      -  m54071_171213_233458/10027401/ccs       240
45  17_17      +  m54071_171213_233458/10027401/ccs      6276
46  17_17      -  m54071_171213_233458/10027401/ccs       161
47  18_18      +  m54071_171213_233458/10027401/ccs      6337
48  18_18      -  m54071_171213_233458/10027401/ccs       100
49  19_19      +  m54071_171213_233458/10027401/ccs      6398
50  19_19      -  m54071_171213_233458/10027401/ccs        38
16    1_1      +  m54071_171213_233458/10027401/ccs      3713
17    1_1      -  m54071_171213_233458/10027401/ccs      2714
18    2_2      +  m54071_171213_233458/10027401/ccs      3861
19    2_2      -  m54071_171213_233458/10027401/ccs      2566
20    3_3      +  m54071_171213_233458/10027401/ccs      4010
21    3_3      -  m54071_171213_233458/10027401/ccs      2416
22    5_5      +  m54071_171213_233458/10027401/ccs      4300
23    5_5      -  m54071_171213_233458/10027401/ccs      2130
24    6_6      +  m54071_171213_233458/10027401/ccs      4410
25    6_6      -  m54071_171213_233458/10027401/ccs      2021
26    7_7      +  m54071_171213_233458/10027401/ccs      4645
27    8_8      +  m54071_171213_233458/10027401/ccs      4763
28    8_8      -  m54071_171213_233458/10027401/ccs      1665
29    9_9      +  m54071_171213_233458/10027401/ccs      4982
30    9_9      -  m54071_171213_233458/10027401/ccs      1454
51    0_0      +  m54071_171213_233458/10027472/ccs       196
52    0_0      -  m54071_171213_233458/10027472/ccs      5665
53    1_1      -  m54071_171213_233458/10027472/ccs      5489
54    2_2      -  m54071_171213_233458/10027472/ccs      5342

                                    read_sequence  \
0     TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG
1         TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA
2   TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA
3     TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA
4     CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT
5     TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG
6         TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA
7   TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA
8     TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA
9     CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT
10    TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG
11        TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA
12  TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA
13    TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA
14    CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT
15    TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG
31        TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA
32  TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA
33    TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA
34    CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT
35    TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG
36        TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA
37  TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA
38    TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA
39    CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT
40    TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG
41        TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA
42  TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA
43    TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA
44    CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT
45    TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG
46        TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA
47  TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA
48    TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA
49    CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT
50    TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG
16        TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA
17  TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA
18    TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA
19    CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT
20    TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG
21        TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA
22  TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA
23    TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA
24    CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT
25    TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG
26        TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA
27  TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA
28    TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA
29    CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT
30    TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG
51        TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA
52  TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA
53    TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA
54    CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT

                            read_quality  other_alignments
0   IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII                 3
1   IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII                 2
2   IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3573
3   IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3534
4   IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3444
5   IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3543
6   IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3578
7   IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3576
8   IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3425
9   IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3417
10  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3390
11  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3237
12  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3468
13  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3295
14  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3202
15  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3277
31  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3244
32  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              2984
33  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3218
34  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3114
35  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3346
36  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3458
37  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3448
38  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3297
39  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3573
40  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3534
41  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3444
42  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3543
43  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3578
44  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3576
45  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3425
46  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3417
47  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3390
48  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3237
49  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3468
50  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3295
16  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              2816
17  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              2306
18  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3033
19  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3116
20  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              2953
21  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              2980
22  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3174
23  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3073
24  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3203
25  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3071
26  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3087
27  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3217
28  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3231
29  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              2975
30  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              2847
51  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3202
52  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3277
53  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              2306
54  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII              3116  >

In [96]:
d

,query,strand,id,location,read_sequence,read_quality,other_alignments
0,0_13,+,m54071_171213_233458/10027129/ccs,1336,TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3
2,14_14,+,m54071_171213_233458/10027129/ccs,1457,TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3573
4,15_15,+,m54071_171213_233458/10027129/ccs,1726,CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3444
6,16_16,+,m54071_171213_233458/10027129/ccs,1873,TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3578
8,17_17,+,m54071_171213_233458/10027129/ccs,1952,TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3425
10,18_18,+,m54071_171213_233458/10027129/ccs,2013,TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3390
12,19_19,+,m54071_171213_233458/10027129/ccs,2075,TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3468
14,0_0,+,m54071_171213_233458/10027401/ccs,3537,CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3202
31,10_10,+,m54071_171213_233458/10027401/ccs,5137,TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3244
33,11_11,+,m54071_171213_233458/10027401/ccs,5326,TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3218
35,12_12,+,m54071_171213_233458/10027401/ccs,5500,TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3346
37,13_13,+,m54071_171213_233458/10027401/ccs,5657,TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3448
39,14_14,+,m54071_171213_233458/10027401/ccs,5779,CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3573
41,15_15,+,m54071_171213_233458/10027401/ccs,6050,TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3444
43,16_16,+,m54071_171213_233458/10027401/ccs,6197,TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3578
45,17_17,+,m54071_171213_233458/10027401/ccs,6276,TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3425
47,18_18,+,m54071_171213_233458/10027401/ccs,6337,TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3390
49,19_19,+,m54071_171213_233458/10027401/ccs,6398,CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3468
16,1_1,+,m54071_171213_233458/10027401/ccs,3713,TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,2816
18,2_2,+,m54071_171213_233458/10027401/ccs,3861,TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3033
20,3_3,+,m54071_171213_233458/10027401/ccs,4010,TACAAATGGTATCTTAACTGAGGCCTTCAAGAGAAAGGAATTG,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,2953
22,5_5,+,m54071_171213_233458/10027401/ccs,4300,TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3174
24,6_6,+,m54071_171213_233458/10027401/ccs,4410,CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3203
26,7_7,+,m54071_171213_233458/10027401/ccs,4645,TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3087
27,8_8,+,m54071_171213_233458/10027401/ccs,4763,TCTACCAAGGGCTAGAGCCCAGAGAGCTGCCTCCTGAACAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3217
29,9_9,+,m54071_171213_233458/10027401/ccs,4982,CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,2975
51,0_0,+,m54071_171213_233458/10027472/ccs,196,TCTACCAGGAGCCCCCCAGAGAGCTGCCTCCTGAGGAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3202
53,1_1,-,m54071_171213_233458/10027472/ccs,5489,TCCCCCTCCTCAGGAGGCAGCTCTCTGGGCTCCTGAAAGTAGA,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,2306
54,2_2,-,m54071_171213_233458/10027472/ccs,5342,CACCAAAATCGAGAAAGTCAAGGCACTTCCCCGAGGAGAAATT,IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII,3116